.kwf-about h1, .kwf-about p {
    padding: 10px;
}
.kwf-about h1 { margin-bottom: 5px; }

.kwf-about .footer {
    position: absolute;
    z-index: 0px;
    width: 314px;
    bottom: 1px; left: 1px;
    border-top: 2px solid #a9bfd4;
    padding: 10px;
    font-size: 11px;
    background: url(~kwf/images/welcome/footerBg.jpg) bottom left repeat-x;
}
.kwf-about .footer img#enteWelcome {
    position: absolute;
    z-index: 10;
    bottom: 0px; right: 0px;
}

.kwf-about {position:relative; width: 350px; }
.kwf-about .x2-panel-body {background-color: #e2ebf5;}
