.ext-el-mask {
    z-index:9000;
}
.comboboxtext .x-form-field-wrap .x-form-trigger {
   background-image:url(/assets/kwf/images/gray/form/combo-box-text.gif);
}

/* Damit das Flash nicht neustartet wenn eine Mask darüber liegt */
.x-masked object, .x-masked embed {
    visibility: visible !important;
}
.x-masked {
    overflow: visible !important;
}

/*
möglicherweise für frontend wenn es da stört dass das flash neu startet
body.x-masked-relative {
    position: static !important;
}
*/

body.ext-gecko .x-window-body .x-form-item {
    overflow: hidden;
}
