.kwfHelpText { font-family: Arial, Helvetica, sans-serif; font-size: 12px; }
.kwfHelpText h1 { margin: 10px 0px; font-size: 14px; }
.kwfHelpText ul { margin: 10px 0px 10px 14px; list-style-type: square; }
.kwfHelpText ul li {  }
.kwfHelpText .x2-panel-body { padding: 10px; }
