.vps-login-header h1 {
    text-align: center; font-size: 16px;
    margin-top: 20px;
}
.vps-login-header div.untagged {
    padding: 2px; display: block; text-align: center;
    color:yellow; font-weight:bold; background-color: red;
    text-decoration: blink;
}