.clear { height: 0px; clear: both; }
.left { float: left; }
.right { float: right; }

ul.webListNone,
.webListNone ul { margin: 0px; }
.webListNone li {
    list-style-type: none !important;
    list-style-image: none !important;
}
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard ol,
.webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.webStandard li { list-style-type: square; margin-bottom: 5px; }

