.clear { height: 0px; clear: both; }
.left { float: left; }
.right { float: right; }

.webListNone li {
    list-style-type: none !important;
    list-style-image: none !important;
    margin-bottom: 0px !important;
}
