@import "compass/utilities/general/clearfix";

.kwc-class {
    @include pie-clearfix;
    a {
        span {
            font-size: 14px;
            padding: 12px 30px;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            border: none;
            display: inline-block;
            &.default {
                color: white;
                background: #333;
                &:hover {
                    background: #666;
                }
            }
        }
    }
}
