@import "compass/utilities/general/clearfix";

.kwcClass {
    @include pie-clearfix;

    .kwcBem__text {
        font-size: 14px;
        padding: 12px 30px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        border: none;
        display: inline-block;
        color: white;
        background: #333;

        &:hover {
            background: #666;
        }
    }
}
