.vpcPostsDirectoryView div.vpcPostsPost {
    background-color: #F3F2F1;
    font-size: 11px;
    line-height: 16px;
    padding: 0px;
    margin: 15px 0px;
    border: 1px solid #CCCCCC;
    clear: both;
}
.vpcPostsDirectoryView div.vpcPostsPost div.postData {
    margin-left:10px;
    padding-top:3px;
}
.vpcPostsDirectoryView div.vpcPostsPost div.postData div.user {
    float:right;
    padding-right:10px;
    margin-right:50px;
    position:relative;
    text-align:right;
}
.vpcPostsDirectoryView div.vpcPostsPost div.avatar {
    float:left;
    height:40px;
    position:absolute;
    right:-10px;
    top:0px;
}

.vpcPostsDirectoryView div.vpcPostsPost div.avatar img { margin-right:10px; }

.vpcPostsDirectoryView div.vpcPostsPost div.comment {
    margin-top: 10px;
    padding: 0px 20px;
    background-color: #fff;
}