@import "config/default-loading-animation-big";

.kwcClass.kwfUp-loadingContent {
    background-color: white;
    padding: 50px 0px 50px 0px;
}

.kwcClass.kwfUp-loadingContent .kwfUp-loading {
    @include default-loading-animation-big;
}

.kwcClass .kwfUp-linkToTop {
    display: none;
    background: url(~kwf/Kwc/Directories/List/ViewAjax/scrollToTop.png) no-repeat left top;
    width: 58px;
    height: 58px;
    position: fixed;
    bottom: 10px;
    left: 50%;
    margin-left: -29px;
}

.kwcClass .kwfUp-linkToTop:hover {
    cursor: pointer;
    background: url(~kwf/Kwc/Directories/List/ViewAjax/scrollToTop.png) no-repeat left bottom;
}

.kwcClass.kwfUp-scrolledDown .kwfUp-linkToTop {
    display: block;
}
