.kwfViewAjaxHidden { display: none; }

.cssClass .ext-el-mask {
    background-color: white;
}

.cssClass .ext-el-mask-msg.loading {
    background: white;
    border: 1px solid #dddddd;
    top: 100px !important;
}

.cssClass .ext-el-mask-msg.loading div {
    background: white;
    border: 0px;
    padding: 10px 10px 10px 10px;
}

.cssClass.loadingContent {
    background-color: white;
    padding: 50px 0px 50px 0px;
    behavior: url(/assets/css3pie/pie.htc);
}

.cssClass.loadingContent .loading {
    margin: 0px auto 0px auto;
    width: 66px;
    height: 66px;
    background: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/loading.gif);
}