.vpcForumGroupView ul li.threads {
    border: 1px solid #ccc;
    margin: 15px 0px;
}
.vpcForumGroupView div.description {
    border-bottom: 1px solid #CCCCCC;
}
.vpcForumGroupView div.description a {
    font-weight: bold;
    display: block;
    background: #f3f2f1;
    padding: 3px 3px 3px 10px;
}
.vpcForumGroupView div.description a span {
    position: absolute;
    right: 30px;
}
.vpcForumGroupView div.statistik {
    float: right;
    font-size: 11px;
    line-height: 16px;
    width: 200px;
}
.vpcForumGroupView div.threads {
    margin-right: 10px;
    text-align: right;
}
.vpcForumGroupView div.lastPost {
    font-size: 11px;
    line-height: 16px;
    padding-left: 10px;
}