div.vpcForumGroup ul li.threads {
    border: 1px solid #ccc;
    margin-bottom: 15px;
}
div.vpcForumGroup div.description {
border-bottom:1px solid #CCCCCC;
}
div.vpcForumGroup div.description a {
    font-weight: bold;
    display: block;
    background: #f3f2f1;
    padding: 3px 3px 3px 10px;
}
div.vpcForumGroup div.description a span {
    position: absolute;
    right: 30px;
}
div.vpcForumGroup div.statistik {
    float: right;
    font-size: 11px;
    line-height: 16px;
    width: 200px;
}
div.vpcForumGroup div.threads {
    margin-right: 10px;
    text-align: right;
}
div.vpcForumGroup div.lastPost {
    font-size: 11px;
    line-height: 16px;
    padding-left: 10px;
}