.kwc-class .kwfFormFieldFile label {
    width: auto !important;
    float: left;
}
.kwc-class .kwfFormFieldFileInnerImg {
    float: left;
}
.kwc-class .kwfFormFieldFileInnerContent {
    float: right;
    text-align: right;
}
.kwc-class .kwfFormFieldFileInnerContent .imageTitle {
    width: 250px;
    margin: 10px 0px;
    overflow: hidden;
}