.kwcClass .kwfFormFieldFile label {
    width: auto !important;
    float: left;
}
.kwcClass .kwfFormFieldFileInnerImg {
    float: left;
}
.kwcClass .kwfFormFieldFileInnerContent {
    float: right;
    text-align: right;
}
.kwcClass .kwfFormFieldFileInnerContent .imageTitle {
    width: 250px;
    margin: 10px 0px;
    overflow: hidden;
}