.kwfup-kwcForm div.kwfFormFieldMultiCheckboxVertical {
    display: inline-block;
    position: relative;
}

.kwfup-kwcForm div.kwcFormFieldMultiCheckbox .checkboxItem input {
    float: none;
}

.kwfup-kwcForm div.kwcFormFieldMultiCheckbox .checkboxItem label {
    float: none;
}
