a.observed, a.notObserved{
    float: right;
    line-height: 24px;
    padding-left: 28px;
}
.vpcForumThreadDirectoryView div.vpcForumThreadObserve a.notObserved {
    background: url(/assets/web/images/notObserved.jpg) no-repeat left center;
    float: right;
}
.vpcForumThreadDirectoryView div.vpcForumThreadObserve a.observed:hover,
.vpcForumThreadDirectoryView div.vpcForumThreadObserve a.notObserved:hover {
    background: url(/assets/web/images/observedOver.jpg) no-repeat left center;
    float: right;
}
.vpcForumThreadDirectoryView div.vpcForumThreadObserve a.observed {
    background: url(/assets/web/images/observed.jpg) no-repeat left center;
    float: right;
}
