@import "config/colors";
@import "compass/utilities/general/clearfix";
@import "kwf/background-image-dpr2";
@import "config/default-loading-animation-small";
@import "form/predefined/form-style-default";
@import "form/predefined/form-style-default-center";
@import "form/predefined/form-style-center";

@mixin form-default-styles {
    .kwfUp-kwfFormFieldWrapper {
        position: relative;
    }

    /* ------------------------------------------ Styles --------------------------------------*/
    &.center {
        @include form-style-center;
    }

    &.centerDefault {
        @include form-style-default-center;
    }

    &.default {
        @include form-style-default;
    }

    /* ------------------------------------ Button Loading ------------------------------------*/

    .kwfUp-submitWrapper {
        .kwfUp-saving {
            @include default-loading-animation-small;
            position: absolute;
            margin-left: -12px;
            margin-top: -12px;
            height: 24px;
            width: 24px;
            left: 50%;
            top: 50%;
        }
    }

    .kwfUp-kwfFieldError label { color: $typo; }
    .kwfUp-kwfFieldError input,
    .kwfUp-kwfFieldError textarea {
        color: $typo;
        border-color: $errorBorder ;
    }

    button {
        cursor: pointer;
    }

    form .kwfUp-kwfField label,
    form .kwfUp-kwfField span.fieldContent {
        line-height: 20px;
    }
    .submitWrapper {
        text-align: center;
        clear: both;
    }
    .kwfUp-submitWrapper .beforeButton,
    .kwfUp-submitWrapper .button,
    .kwfUp-submitWrapper .saving,
    .kwfUp-submitWrapper .afterButton {
        float: left;
    }
    .kwfUp-submitWrapper .kwfUp-button {
        position: relative;
    }

    .kwfUp-submitWrapper .kwfUp-button.kwfUp-disabled {
        opacity: 0.3;
    }

    input,
    textarea,
    select {
        padding: 2px;
        font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
        font-size: 11px;
        color: $typo;
        line-height: 18px;
        outline: none;
        float: left;
    }

    input.radio {
        margin-left: 10px;
    }
    form .kwfUp-kwfFormFieldCheckbox input {
        margin-top: 3px;
    }
    label {
        line-height: 18px;
    }
    .kwfUp-kwcLabelPositionAbove .kwfUp-kwfFormFieldWrapper.kwfUp-hasLabel {
        margin-left: 0;
        padding-left: 0;
    }
    .kwfUp-kwfFieldRequired label { font-weight: normal; }
    .kwfUp-kwfFieldRequired span label { font-weight: normal; }
    .kwfUp-kwfFieldLabelAlignTop label {
        width: auto;
        margin: 0px;
        text-align: left;
    }
    .kwfUp-kwfFieldLabelAlignLeft label {
        text-align: left;
    }
    .kwfUp-showField {
        font-weight: bold;
        margin-bottom: 9px;
    }
    fieldset {
        margin-bottom: 20px;
        padding: 10px;
    }
    fieldset legend {
        font-weight: bold;
        margin-left: 20px;
        padding: 5px;
    }
    form .kwfUp-kwfFormFieldRadio .kwfUp-kwfFormFieldWrapper label {
        margin-right: 20px;
        clear: none;
    }
    form .kwfUp-kwfFormFieldRadio input { margin: 0px; padding: 0px; }
    form .kwfUp-kwfFormFieldRadioHorizontal span { display: inline-block; }
    form .kwfUp-kwfFormFieldRadioVertical span { display: block; }
    form .kwfUp-kwfFormFieldRadioVertical span label { margin-left: 0px; }
    form .kwfUp-kwfFormFieldRadioVertical label { float: none; }

    form .kwfUp-kwfFormFieldMultiCheckboxHorizontal label { float: none; width: auto; margin-left: 0px; }
    form .kwfUp-kwfFormFieldMultiCheckboxHorizontal .checkboxItem { float: left; white-space: nowrap; padding-right: 10px; }
    form .kwfUp-kwfFormFieldMultiCheckboxHorizontal .checkboxItem label { font-weight: normal; }

    form .kwfUp-kwfFormContainerColumns .kwfUp-kwfFormContainerColumn { float: left; clear: none; margin-bottom: 0px; }
    form .kwfUp-kwfFormContainerColumns .kwfUp-kwfFormContainerColumn .kwfUp-kwfField { clear: none; margin-bottom: 0px; }

    span.kwfUp-comment { margin-left: 10px; color: #999; }
    .kwfUp-kwfField { clear: both; position: relative; margin-bottom: 4px; }

    .kwfUp-kwcLabelPositionAbove label {
        display: block;
        float: none;
        margin-left: 0px;
        text-align: left;
        width: 100%;
    }

    .kwfUp-spEmail {
        display: none;
    }
}
