@import "compass/css3/box-sizing";

@mixin form-input-width($width) {
    .kwfFormFieldWrapper {
        input, textarea, select, {
            @include box-sizing(border-box);
            width: 100% !important;
            max-width: $width;

            &[type=radio], &[type=checkbox] {
                width: auto !important;
            }
        }
    }
}