@mixin form-input-width($width) {
    .kwfUp-kwfFormFieldWrapper {
        input, textarea, select {
            box-sizing: border-box;
            width: 100% !important;
            max-width: $width;

            &[type=radio], &[type=checkbox] {
                width: auto !important;
            }
        }
    }
}
