@mixin labelLeft {
    label {
        text-align: right;
        float: left;
    }

    .kwfFormFieldRadioHorizontal,
    .kwfFormFieldRadioVertical {
        label {
            display: inline-block; 
            float: none;
            width: auto;
            margin-left: 0px;
        }
    }

    .kwfFormFieldMultiCheckboxHorizontal,
    .kwfFormFieldMultiCheckboxVertical {
        label {
            display: inline-block; 
            float: none;
            width: auto;
            margin-left: 0px;
        }
    }

    .kwcFormFieldRadio {
        .kwfFormFieldWrapper {
            &.hasLabel {
                display: inline-block;
            }
        }
    }

    .kwfFormFieldMultiCheckbox {
        .kwfFormFieldMultiCheckbox {
            label {
                width: auto;
                margin-right: 0;
            }
        }
    }
}