@mixin labelTopInputAll {
    > div.kwcForm > form {
        .kwfFormFieldWrapper {
            > input, textarea, select {
                @include box-sizing(border-box);
                width: 100% !important;
            }
        }
    }

    .kwfFormFieldRadio {
        .kwfFormFieldWrapper {
            label {
                width: auto !important;
            }
        }
    }
}