@import "susy";
@import "compass/css3/box-sizing";
$gutter-width   : 0em;
$grid-padding   : 0em;
$contentMargin  : 10px;
$breakpoint     : 600;

div.cssClass {
    margin-right: -$contentMargin;

    .listItem {
        @include box-sizing(border-box);
        padding: 0 $contentMargin 7px 0;
        position: relative;
        margin: 0;
    }

    @for $i from 3 through 10 {
        &.col#{$i} {
            @if $i % 2 == 0 {
                .listItem {
                    @include span-columns(1, 4);
                }
            } @else {
                .listItem {
                    @include span-columns(1, 3);
                }
            }
        }
    }

    &.col2, &.col4 {
        .listItem {
            @include span-columns(1, 2);
        }
    }

    &.col6 {
        .listItem {
            @include span-columns(1, 3);
        }
    }

    &.gt360 {
        &.col4 {
            .listItem {
                @include span-columns(1, 4);
            }
        }
    }

    &.gt#{$breakpoint} {
        @for $i from 1 through 10 {
            &.col#{$i} {
                .listItem {
                    @include span-columns(1, $i);
                }
            }
        }
    }
}
