@import "compass/utilities/general/clearfix";

$contentMargin  : 10px;
$breakpoint     : 600;

div.kwcClass {
    @include pie-clearfix;
    margin-right: -$contentMargin;

    .moreButton {
        display: inline-block;
        cursor: pointer;
    }

    .listItem {
        opacity: 1;
        transition-property: opacity;
        transition-duration: 0.25s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    &.hidePics {
        .showMorePic {
            padding: 0px !important;
            width: 0px !important;
            opacity: 0;
            transition-duration: 0s;
        }
    }

    > .listItem, > .morePics > .listItem {
        box-sizing: border-box;
        padding: 0 $contentMargin 7px 0;
        position: relative;
        margin: 0;
        float:left;
        display: inline;

        a .imageCaption {
            text-overflow: ellipsis;
            background: transparent;
            white-space: nowrap;
            position: absolute;
            line-height: 16px;
            overflow: hidden;
            display: none;
            bottom: -17px;
            height: 16px;
            width: 100%;
            color: #333;
        }

        &:hover {
            a .imageCaption {
                white-space: normal;
                position: absolute;
                background: white;
                height: auto;
            }
        }
    }

    &.col1 {
        > .listItem, > .morePics > .listItem {
            width: 100%;
        }
    }

    @for $i from 3 through 10 {
        &.col#{$i} {
            @if $i % 2 == 0 {
                > .listItem, > .morePics > .listItem {
                    width: percentage(1/4);
                }
            } @else {
                > .listItem, > .morePics > .listItem {
                    width: percentage(1/3);
                }
            }
        }
    }

    &.col2, &.col4 {
        > .listItem, > .morePics > .listItem {
            width: percentage(1/2);
        }
    }

    &.col6 {
        > .listItem, > .morePics > .listItem {
            width: percentage(1/3);
        }
    }

    &.gt360 {
        &.col4 {
            > .listItem, > .morePics > .listItem {
                width: percentage(1/4);
            }
        }
    }

    &.gt#{$breakpoint} {
        @for $i from 1 through 10 {
            &.col#{$i} {
                > .listItem, > .morePics > .listItem {
                   width: percentage(1/$i);

                    a .imageCaption {
                        display: block;
                    }

                    .kwfUp-kwcAbstractImage.showImageCaption {
                        padding-bottom: 17px;
                    }

                    &.firstInLine {
                        clear: left;
                    }

                    &.lastInLine {
                        @include pie-clearfix;
                    }
                }
            }
        }
    }
}
