.clear { height: 0px; clear: both; }
.left { float: left; }
.right { float: right; }

.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard ol,
.webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.webStandard li { list-style-type: disc; margin-bottom: 5px; }

ul.webListNone,
.webListNone ul { margin: 0px; }
.webListNone li {
    list-style-type: none !important;
    list-style-image: none !important;
    margin-bottom: 0px;
}

.outerBenchmarkBox {
    text-align: left;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1000;
    width: 200px;
    opacity: 0.5;
}

.outerBenchmarkBox:hover {
    opacity: 1.0;
}

.outerBenchmarkBox .innerBenchmarkBox {
    font-family: Verdana;
    font-size: 10px;
    background-color: white;
    width: 1500px;
    position: absolute;
    padding: 5px;
}

@media only screen and (max-width : 1024px) {
    .outerBenchmarkBox {
        display: none;
    }
}
