.kwfUp-clear { height: 0px; clear: both; }
.kwfUp-left { float: left; }
.kwfUp-right { float: right; }

.kwfUp-webStandard strong { font-weight: bold; }
.kwfUp-webStandard em { font-style: italic; }

.kwfUp-webStandard ol,
.kwfUp-webStandard ul { margin-bottom: 10px; margin-left: 20px; }
.kwfUp-webStandard li { list-style-type: disc; margin-bottom: 5px; }

ul.kwfUp-webListNone,
.kwfUp-webStandard.kwfUp-webListNone ul { margin: 0px; }
.kwfUp-webStandard.kwfUp-webListNone li {
    list-style-type: none !important;
    list-style-image: none !important;
    margin-bottom: 0px;
}

@media print {
    .kwfUp-outerBenchmarkBox {
        display: none;
    }
}
