.vpc-paragraphs-preview { padding-left: 10px; padding-right: 10px; }

.vpc-paragraphs .vpc-paragraphs-toolbar { opacity: 0.5; }
.vpc-paragraphs .x-view-over .vpc-paragraphs-toolbar { opacity: 1; }

.vpc-paragraphs-pos-list .visible { color: green; }

.vpc-paragraphs .vpc-paragraph-invisible .vpc-paragraphs-preview { opacity: 0.5; }
.vpc-paragraphs .x-view-over.vpc-paragraph-invisible .vpc-paragraphs-preview { opacity: 1; }
