@import "kwf/css3/border-radius";

.cssClass {
    .blogContent {
        padding: 10px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 20px;
        @include border-radius-pie(5px);
        background-color: white;
        border-bottom: 2px solid #AAAAAA;

        .nextPreviousLinks {
            float: right;
            margin-top: 20px;
            a {
                color: #1982d1;
                font-weight: bold;
                font-size: 12px;
                margin-left: 10px;
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        h1.title {
            font-size: 26px;
            padding-bottom: 5px;
            padding-top: 15px;
            a:visited {
                color: black;
            }
            a:hover {
                color: #1982d1;
            }
        }
        .postInfo,
        .categories {
            font-size: 12px;
            color: #666;
            a {
                color: #1982d1;
                font-weight: bold;
            }
        }
        .content {
            margin-top: 20px;
        }
    }

    > .comments {
        margin-top: 20px;

        h3 {
            color: #373737;
            font-size: 24px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}
