.cssClass { position: relative; }
.cssClass a.kwcEnlargeTag { position: relative; display: block; }
.cssClass a.kwcBasicLinkTagIntern { position: relative; display: block; }

.cssClass a img {
    display: block;
}

.cssClass a {
    display: block;
}

.cssClass .outerHoverIcon .innerHoverIcon,
.cssClass .outerHoverIcon .innerHoverIcon {
    display: block;
    width: 132px;
    height: 130px;
    position: absolute;
    left: 50%;
    margin-left: -66px;
    top: 50%;
    margin-top: -65px;
}

.cssClass a.kwcEnlargeTag .outerHoverIcon .innerHoverIcon {
    background: url(/assets/kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/enlargeIcon.png) no-repeat 0 0;
}

.cssClass a.kwcBasicLinkTagIntern .outerHoverIcon .innerHoverIcon {
    background: url(/assets/kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/linkInternIcon.png) no-repeat 0 0;
}

.cssClass a.kwcBasicLinkTagExtern .outerHoverIcon .innerHoverIcon {
    background: url(/assets/kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/linkExternIcon.png) no-repeat 0 0;
}

.cssClass a.kwcBasicDownloadTag .outerHoverIcon .innerHoverIcon {
    background: url(/assets/kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/downloadIcon.png) no-repeat 0 0;
}

.cssClass a .outerHoverIcon {
    background: url(/assets/kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/blackPx.png) repeat 0 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -moz-box-shadow: inset 0 0 8px 5px #050505;
    -webkit-box-shadow: inset 0 0 8px 5px#050505;
    box-shadow: inset 0 0 8px 5px #050505;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.80);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.80)";
    zoom: 1;
    left: 0;
    top: 0;
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cssClass a:hover .outerHoverIcon {
    opacity: 0.9;
    filter: alpha(opacity=90);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";
}


/* .cssClass a .outerHoverIcon {
    background: none #ddd;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -moz-box-shadow: inset 0 0 7px 7px #000;
    -webkit-box-shadow: inset 0 0 5px 5px#000;
    box-shadow: inset 0 0 7px 7px #999;
    filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.30);
    -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=5,MakeShadow=true,ShadowOpacity=0.30)";
    zoom: 1;
    left: 0;
    top: 0;
    opacity: 0;
    -moz-transition-property: opacity;
    -moz-transition-duration: 0.25s;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.25s;
    -webkit-transition-timing-function: ease-in-out;
    filter: alpha(opacity=0);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
}

.cssClass a:hover .outerHoverIcon {
    opacity: 0.7;
    filter: alpha(opacity=50);
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
} */