.kwcClass {
    position: relative;

    a {
        display: block;

        &.kwfUp-kwcEnlargeTag,
        &.kwfUp-kwcBasicDownloadTag,
        &.kwfUp-kwcBasicLinkTagIntern,
        &.kwfUp-kwcBasicLinkTagExtern,
        &.kwfUp-kwcBasicLinkTagMail { position: relative; display: block; }

        img {
            display: block;
        }
    }
}

/* ----------------------------------------- HOVERICONS ----------------------------------------- */

.kwcClass {
    a {
        .outerHoverIcon {
            width: 100%;
            height: 100%;
            position: absolute;
            display: none;
            zoom: 1;
            left: 0;
            top: 0;
            opacity: 0;
            transition: opacity 0.25s ease-in-out;

            .innerHoverIcon {
                display: block;
                width: 38px;
                height: 38px;
                position: absolute;
                left: 50%;
                margin-left: -19px;
                top: 50%;
                margin-top: -19px;
            }
        }

        &:hover .outerHoverIcon {
            opacity: 0.9;
        }

        &.kwfUp-kwcEnlargeTag .outerHoverIcon .innerHoverIcon {
            background: url(~kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/enlargeIcon.png) no-repeat 0 0;
        }

        &.kwfUp-kwcBasicLinkTagIntern .outerHoverIcon .innerHoverIcon {
            background: url(~kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/linkInternIcon.png) no-repeat 0 0;
        }

        &.kwfUp-kwcBasicLinkTagExtern .outerHoverIcon .innerHoverIcon {
            background: url(~kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/linkExternIcon.png) no-repeat 0 0;
        }

        &.kwfUp-kwcBasicDownloadTag .outerHoverIcon .innerHoverIcon {
            background: url(~kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/downloadIcon.png) no-repeat 0 0;
        }

        &.kwfUp-kwcBasicLinkTagMail .outerHoverIcon .innerHoverIcon {
            background: url(~kwf/Kwc/Basic/ImageEnlarge/EnlargeTag/mailIcon.png) no-repeat 0 0;
        }
    }
}

.showHoverIcon.kwcClass a .outerHoverIcon {
    display: block;
}

@media print {
.kwcClass a .outerHoverIcon {
    width: 0px;
    height: 0px;
}
}
