//fadeIn, fadeInSlideInBottom, fadeInZoom

@mixin loaded-animation($animation-style) {
    @if $animation-style == fadeIn {
        .container {
            &.webResponsiveImgLoading {
                img {
                    opacity: 0;
                }
            }

            &:not(.webResponsiveImgLoading) {
                img {
                    opacity: 1;
                    transition-property: all;
                    transition-duration: 0.4s;
                    transition-timing-function: ease;
                }
            }
        }
    } @else if $animation-style == fadeInSlideInBottom {
        .container {
            &.webResponsiveImgLoading {
                img {
                    opacity: 0;
                    transform: translate(0, 20px);
                }
            }

            &:not(.webResponsiveImgLoading) {
                img {
                    opacity: 1;
                    transition-property: all;
                    transition-duration: 0.4s;
                    transition-timing-function: ease;
                    transform: translate(0, 0);
                }
            }
        }
    } @else if $animation-style == fadeInZoom {
        .container {
            &.webResponsiveImgLoading {
                img {
                    opacity: 0;
                    transform: scale(0.95);
                }
            }

            &:not(.webResponsiveImgLoading) {
                img {
                    opacity: 1;
                    transition-property: all;
                    transition-duration: 0.4s;
                    transition-timing-function: ease;
                    transform: scale(1);
                }
            }
        }
    }
}
