.vpcPaging {
    margin-bottom: -5px;
    line-height: 20px;
    position: relative;
    z-index: 1000;
    width: 400px;
}
.vpcPaging a {
    padding: 1px 3px;
    border: 1px solid $blue;
    color: $blue;
}
.vpcPaging a:hover,
.vpcPaging a.active {
    color: $gold;
    font-weight: bold;
    background-color: $white;
}
.vpcPaging span {
    font-weight: bold;
    color: $blue;
    padding-right: 5px;
}