@import "config/colors";
.kwcClass .entry { margin-bottom: 20px; padding-bottom: 20px; }
.kwcClass .entry h2,
.kwcClass .entry p { margin-bottom: 0px; }
.kwcClass .entry .teaser { margin: 10px 0px; padding: 10px; background: $lightGrey; }
.kwcClass .entry .readMoreLink { text-align: right; }
.kwcClass .entry .prevImage { float: left; margin-right: 10px; }
