@import "config/colors";
.cssClass .entry { margin-bottom: 20px; padding-bottom: 20px; }
.cssClass .entry h2,
.cssClass .entry p { margin-bottom: 0px; }
.cssClass .entry .teaser { margin: 10px 0px; padding: 10px; background: $lightGray; }
.cssClass .entry .readMoreLink { text-align: right; }
.cssClass .entry .prevImage { float: left; margin-right: 10px; }
