@import "config/colors";
.kwc-class .entry { margin-bottom: 20px; padding-bottom: 20px; }
.kwc-class .entry h2,
.kwc-class .entry p { margin-bottom: 0px; }
.kwc-class .entry .teaser { margin: 10px 0px; padding: 10px; background: $lightGray; }
.kwc-class .entry .readMoreLink { text-align: right; }
.kwc-class .entry .prevImage { float: left; margin-right: 10px; }
