.x2-form-field-wrap .x2-form-color-trigger {
    background:transparent url(~kwf/images/colorTrigger.gif);
    cursor:pointer;
}
.kwf-form-color-preview {
    border: 1px solid #B5B8C8;
    width: 20px; height: 20px;
    position: absolute;
    top: 0; left: 60px;
}