@import "config/colors";
table.x2-date-inner {
    width:auto;
}
.frontend .x2-date-middle, .x2-date-left, .x2-date-right {
    background: none;
}
.frontend .x2-date-left a {
    background-image: url('/assets/kwf/images/datepicker/arrowDatepickerLeft.gif');
}
.frontend .x2-date-right a {
    background-image: url('/assets/kwf/images/datepicker/arrowDatepickerRight.gif');
}
.frontend .x2-date-inner {
    width: 100%;
    a {
        font-size: 12px;
        padding: 4px 5px;
    }
}
.frontend .x2-date-inner th {
    background: $datePickerSelectedBackground;
    color: $datePickerSelectedColor;
    font-weight: bold;
    font-size: 13px;
    border-bottom: none;
}

.frontend .x2-date-bottom {
    background: none;
    border-top: 1px solid $datePickerBorderColor;
}

.frontend .x2-date-inner .x2-date-today a {
    border: none;
}

.frontend .x2-date-inner .x2-date-selected a {
    background: $datePickerSelectedBackground;
    border: medium none;
    color: $datePickerSelectedColor;
    padding: 4px 5px;
}
.frontend .x2-date-inner a:hover, .frontend .x2-date-inner .x2-date-disabled a:hover, .frontend td.x2-date-mp-month a:hover, .frontend td.x2-date-mp-year a:hover {
    background: $datePickerHoverBackground;
    color: $datePickerHoverColor;
}

.frontend .x2-date-selected a:hover {
    color: $datePickerHoverColor;
}

.frontend td.x2-date-mp-sep {
    border-right: $datePickerSelectedBackground;
}

.frontend .x2-date-mp-btns {
    background: none;
}

.frontend .x2-date-picker .x2-btn button {
    font-weight: bold;
    text-transform: uppercase;
    color: $datePickerTextColor;
    text-shadow: 1px 0 white;
    cursor: pointer;
}
.frontend .x2-date-mp td {
    font-size: 12px;
}

.frontend .x2-date-mp-btns td {
    border-top: 1px solid $datePickerBorderColor;
}
.frontend .x2-date-mp-ybtn a.x2-date-mp-prev {
    background-position: 0 0;
    background-image: url('/assets/kwf/images/datepicker/arrowDatepickerLeft.gif');
}

.frontend .x2-date-mp-ybtn a.x2-date-mp-next {
    background-position: 0 0;
    background-image: url('/assets/kwf/images/datepicker/arrowDatepickerRight.gif');
}

.frontend .x2-date-mp-btns button {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    color: $datePickerTextColor;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.frontend td.x2-date-mp-sel a {
    background: $datePickerSelectedBackground;
    border: none;
    padding: 4px 5px;
    
}
.frontend .x2-date-middle .x2-btn .x2-btn-text {
    color: #333;
    color: $datePickerTextColor;
}
.frontend .x2-menu {
    padding: 0px;
    box-shadow: 0 9px 14px -4px #333333;
    border: 1px solid $datePickerBorderColor;
}
.frontend .x2-date-picker {
    background:none;
    width: 175px;
}
.frontend .x2-btn-left, .frontend .x2-btn-right, .frontend .x2-btn-center {
    background: none;
}
.frontend td.x2-date-mp-year.x2-date-mp-sel a, .frontend td.x2-date-mp-month.x2-date-mp-sel a {
    color: $datePickerSelectedColor;
}
.frontend td.x2-date-mp-month a, .frontend td.x2-date-mp-year a {
    color: $datePickerTextColor;
    padding: 4px 5px;
}

.frontend .x2-date-middle .x2-btn-with-menu .x2-btn-center em {
    background: url('/assets/kwf/images/datepicker/arrowDatepickerDown.gif');
    background-repeat: no-repeat;
    background-position: right 0;
}
