.x-form-field .box {
    background-position: center;
    background-repeat: no-repeat;
}

.x-form-element .swfUploadField .uploadButton {
    float:left;
    margin-right: 5px;
    position: relative;
}
.x-form-element .swfUploadField .previewImage,
.x-form-element .swfUploadField .box .empty {
    margin-right: 10px;
    padding: 5px;
    float: left;
    border: 1px solid #b5b8c8;
}

.x-form-element .swfUploadField .hint {
    display: none;
}

.x-form-element .swfUploadField .info-container .filedescription {
    overflow: hidden;
}
