.redMalleeFulltextSearchSearchView .x-panel-body {
    background: none;
}
.redMalleeFulltextSearchSearchView .webForm button {
    margin: 5px 0 30px 0px;
}

.redMalleeFulltextSearchSearchView .loading {
    display: none !important;
}

.redMalleeFulltextSearchSearchView .ext-el-mask {
    background-color: transparent !important;
}