.cssClass .x-panel-body {
    background: none;
}
.cssClass .webForm button {
    background: none repeat scroll 0 0 grey;
    border: none;
    border-right: 1px solid grey;
    box-shadow: none;
    color: #FFFFFF;
    font-size: 18px;
    margin: 5px 0 30px;
    padding: 5px 51px;
    
}

.cssClass .loading {
    display: none !important;
}

.cssClass .ext-el-mask {
    background-color: transparent !important;
}

.cssClass input {
    font-size: 14px;
    padding: 4px;
}

.cssClass .kwfViewAjaxItem {
    margin-bottom: 10px;
}