.cssClass .x-panel-body {
    background: none;
}
.cssClass .webForm button {
    margin: 5px 0 30px 0px;
}

.cssClass .loading {
    display: none !important;
}

.cssClass .ext-el-mask {
    background-color: transparent !important;
}