.lightbox { position:absolute; background-color: #fff; width: 680px; height: 542px; z-index: 100; display: none; }

.lightbox .lightboxHeader {
    height: 20px;
    margin:  0px 10px 5px 10px;
    padding: 5px 10px 3px 10px;
    font-weight:bold; color: #555; border-bottom:1px solid #aaa;
}
.lightbox .fullSizeLink {
    display: block; float: left; width: 16px; height: 16px; padding-right: 10px;
    background: url(/assets/silkicons/picture_save.png) left top no-repeat;
}
.lightbox .lightboxBody { text-align: center; position: relative; height: 475px; }
.lightbox .lightboxFooter {
    margin:  5px 10px 0px 10px;
    padding: 3px 10px 5px 10px;
    color: #999; border-top:1px solid #aaa;
}

.lightbox .closeButton {
    float: right;
    background-image: assetUrl({Vpc_Basic_Image_Enlarge_Graphics::closeButton('#ffffff')})
}

.lightbox .switchButton { font-weight: bold; }
.lightbox .previousSwitchButton { float: left; margin-top: -15px; }
.lightbox .nextSwitchButton { float: right; }

.lightbox p.title { display: inline; }

.lightbox .switchBig {
    width: 22%; position: absolute; top: 0px; z-index: 105;
    text-align: center;
    opacity: 0.0; -moz-opacity: 0.0; filter: alpha(opacity=0);
    cursor: pointer;
    font-weight: bold;
}
.lightbox .previousSwitchBig { left: 35px; }
.lightbox .previousSwitchBig img { margin-left: -35px; text-align: left; }
.lightbox .nextSwitchBig { right: 35px; }

.lightbox .bigOver { opacity: 0.82; -moz-opacity: 0.82; filter: alpha(opacity=82); }

.lightbox .switchBig .lightboxContent {
    background-color: #fff; margin-top: 45px; padding: 8px 0px;
}


.lightboxMask {
    background-color: #000; z-index: 50;
    opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);
}

