.kwc-class {
    border: 1px solid;
    margin-bottom: 50px;
    padding: 10px
}
.kwc-class button.add,
.kwc-class button.delete,
.kwc-class button.deleteImage,
.kwc-class button.deleteImage {
    cursor: pointer;
}
