.kwcClass {
    border: 1px solid;
    margin-bottom: 50px;
    padding: 10px
}
.kwcClass button.add,
.kwcClass button.delete,
.kwcClass button.deleteImage,
.kwcClass button.deleteImage {
    cursor: pointer;
}
