.vpcForumDirectory ul li.post {
    border: 1px solid #ccc;
}
.vpcForumDirectory ul li.threads {
    border: 1px solid #ccc;
    margin: 15px 0px;
}
.vpcForumDirectory div.description a {
    font-weight: bold;
    display: block;
    background: #f3f2f1;
    padding: 3px 3px 3px 10px;
}
.vpcForumDirectory div.description p {
    padding-left: 10px;
}
.vpcForumDirectory div.statistik {
    float: right;
    font-size: 11px;
    line-height: 16px;
    width: 200px;
    text-align: center;
    border-left: 1px solid #ccc;
}
.vpcForumDirectory div.threads {
    border-bottom: 1px solid #ccc;
}
.vpcForumDirectory div.lastPost {
    border-top: 1px solid #ccc;
    font-size: 11px;
    line-height: 16px;
    padding-left: 10px;
}