.$cssClass .title {
    font-weight: bold;
    line-height: 25px;
    padding-bottom: 20px;
}
.$cssClass .post {
    border: 1px solid #ccc;
    font-weight: normal;
    margin-top: 10px;
    padding: 0px;
    color: $typo;
}
.$cssClass .description a {
    font-weight: bold;
    display: block;
    background: #f3f2f1;
    padding: 3px 3px 3px 10px;
}
.$cssClass .description p {
    padding-left: 10px;
}
.$cssClass .statistik {
    width: 100px;
    float: right;
    font-size: 11px;
    line-height: 16px;
    text-align: center;
    border-left: 1px solid #ccc;
}
.$cssClass div.threads {
    border-bottom: 1px solid #ccc;
}
.$cssClass .lastPost {
    border-top: 1px solid #ccc;
    font-size: 11px;
    line-height: 16px;
    padding-left: 10px;
}
.$cssClass .forumSearch {
    margin-top: 20px;
}
.ext-ie6 .$cssClass .forumSearch {
    margin-top: 0px;
}