RewriteEngine on

RewriteRule ^files/js/yui/(.*)$ /library/YUI/$1 [L]

RewriteCond %{REQUEST_URI} !^/*(files|public/index.php)/?
RewriteRule ^(.*)$ /public/index.php


#RewriteCond %{REQUEST_URI} !^/+(index.php|test|admin|admin_kunden|files|css|zwischenseiten|heading.php|test.html|syncdata.php|webspecial|test.php|include.php|cron|webservice|specialsites)/?
#RewriteCond %{QUERY_STRING} ^(.*)$
#RewriteRule ^(.*)$     /index.php?site=$1&%1 [L]
