@import "config/colors";
.kwc-class {
    .entry {
        margin-bottom: 20px;
        padding-bottom: 20px;
        .teaser { margin: 10px 0px; padding: 10px; background: $lightGray; }
        .readMoreLink { text-align: right; }
    }
}
