.kwc-class .tblCheckout .unitPrice { text-align: right; }
.kwc-class .tblCheckout .amount { text-align: center; }
.kwc-class .tblCheckout .price { text-align: right; }
.kwc-class .tblCheckout .tblCheckoutPrice { float: right; }
.kwc-class .tblCheckout .tblCheckoutPrice .totalAmount td { font-weight: bold; }
