.kwcClass .tblCheckout .unitPrice { text-align: right; }
.kwcClass .tblCheckout .amount { text-align: center; }
.kwcClass .tblCheckout .price { text-align: right; }
.kwcClass .tblCheckout .tblCheckoutPrice { float: right; }
.kwcClass .tblCheckout .tblCheckoutPrice .totalAmount td { font-weight: bold; }
