.ext-ie6 .$cssClass .vpsField {
    float: none;
    margin: 0px;
    padding: 0px;
}
.ext-ie6 .$cssClass .vpsField input {
    margin-top: 25px;
    margin-right: 110px;
}
.$cssClass input {
    float: left;
}
.$cssClass .submitWrapper {
    float: right
}
.$cssClass .vpsField {
    margin-right: 85px;
    padding-top: 5px;
}
.$cssClass .vpsField label {
    float: none;
}