.$cssClass {
    text-align: right;   
}
.ext-ie6 .$cssClass .vpsField {
    float: none;
    margin: 0px;
    padding: 0px;
}
.ext-ie6 .$cssClass .vpsField input {
    margin-top: 25px;
    margin-right: 110px;
}
.ext-ie7 .$cssClass .vpsField input {
    margin-right: 20px;
}
.ext-ie7 .$cssClass .submitWrapper {
    margin-top: -33px;
}
.ext-safari .$cssClass .submitWrapper {
    margin-top: -28px;
}
.$cssClass .submitWrapper {
    margin-top: -31px;
}
.$cssClass .vpsField {
    margin-right: 85px;
    padding-top: 5px;
}
.$cssClass .vpsField label {
    float: none;
}