.ext-ie6 .$cssClass .vpsField {
    float: none;
    margin: 0px;
    padding: 0px;
}
.$cssClass input {
    float: left;
    margin-bottom: 20px;
}
.$cssClass .submitWrapper {
    float: right
}
.$cssClass .vpsField {
    margin-right: 85px;
    padding-top: 5px;
}
.$cssClass .vpsField label {
    float: none;
}