.kwcClass ul {
    margin-top: 10px;
    margin-bottom: 30px;
}
.kwcClass li {
    border-bottom: 1px dashed #ccc;
    line-height: 30px;
    clear: both;
}
.kwcClass li a,
.kwcClass li span.rating {
    float: left;
    overflow: hidden;
}
.kwcClass li a {
    width: 220px;
}
.kwcClass li span.rating {
    width: 90px;
}
.kwcClass li span.memberSince {
    float: right;
    width: 160px;
    text-align: right;
}
.ext-ie6 li a,
.ext-ie6 li span.memberSince {
    margin-top: -10px;
}
