.cssClass ul {
    margin-top: 10px;
    margin-bottom: 30px;
}
.cssClass li {
    border-bottom: 1px dashed #ccc;
    line-height: 30px;
    clear: both;
}
.cssClass li a,
.cssClass li span.rating {
    float: left;
    overflow: hidden;
}
.cssClass li a {
    width: 220px;
}
.cssClass li span.rating {
    width: 90px;
}
.cssClass li span.memberSince {
    float: right;
    width: 160px;
    text-align: right;
}
.ext-ie6 li a,
.ext-ie6 li span.memberSince {
    margin-top: -10px;
}
