@import "compass/css3/box-sizing";
@import "kwf/background-image-dpr2";

.cssClass {
    position: relative;
    width: auto;

    > a.showMenu {
        display: block;
        background: url('/assets/web/images/mainMenuBg.png') repeat-x top left;
        line-height: 40px;
        font-family: 'Univers LT W01 45 Light';
        font-size: 14px;
        color: var(mainColor);
        text-align: right;
        padding-right: 15px;
        text-decoration: none;
        text-transform: uppercase;

        &:after {
            display: inline-block;
            content: "";
            width: 8px;
            height: 10px;
            margin-left: 5px;
            background: url('/assets/web/images/arrowWhiteDown.png') no-repeat center left;
        }
    }

    > ul {
        overflow: hidden;

    }

    ul {
        display: block;
        width: 100%;
        height: auto;

        li {
            position: relative;
            @include box-sizing(border-box);
            border-bottom: 1px solid #c0c0c0;
            padding: 10px 15px 10px 15px;
            margin-bottom: 1px;
            display: block;
            background: url('/assets/web/images/mainMenuBgMobileGrey.png') repeat-x top left;

            &.moved {
                position: static;

                > .subMenu {
                    visibility: visible;
                }
            }

            a {
                font-family: 'Univers LT W01 45 Light';
                font-size: 16px;
                display: block;
                color: var(mainColor);
                text-transform: uppercase;
                text-decoration: none;
                line-height: 18px;
            }

            &.hasDropdown > a {
                @include background-image-dpr2('/assets/kwf/themes/RedMallee/images', 'readMoreBg.png', 20px, 22px);
                background-repeat: no-repeat;
                background-position: center right;
            }

            .subMenu {
                position: absolute;
                left: 100%;
                top: 0;
                visibility: hidden;
                z-index: 99;
            }

            &.back a {
                color: #999;
                padding-left: 24px;
                @include background-image-dpr2('/assets/kwf/themes/RedMallee/images', 'menuBack.png', 20px, 22px);
                background-repeat: no-repeat;
                background-position: center left;
            }
        }
    }

    > ul {
        display: none;
    }
}
