div.VpsParagraphsMoveButton,
a.VpsAbstractEditButton { padding: 2px; border: 1px solid black; left: 0;
    background-color: white; position: absolute; display: none; }

div.VpsParagraphsMoveButton { cursor: move; margin-left: 40px; }
a.VpsAbstractEditButton {  }

div.VpsPicProgress { }