.$cssClass h1,
.$cssClass p {
    margin-bottom: 10px;
}
.$cssClass label {
    width: 50px;
    float: left;
    text-align: right;
    margin-top: 4px;
}
.$cssClass input {
    width: 200px;
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px
}
