.kwcClass,
.kwcClass .kwfUp-image {
    height: 100%;
}
.kwcClass .kwfUp-image img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
}

.kwcClass .kwfUp-container {
    height: 0;
    position: relative;
    overflow: hidden;
}
.kwcClass .kwfUp-prevBtn,
.kwcClass .kwfUp-nextBtn {
    z-index: 1;
}
