.cssClass,
.cssClass .image {
    height: 100%;
}
.cssClass .image img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: block;
}

.cssClass .container {
    height: 0;
    position: relative;
    overflow: hidden;
}
