.$cssClass label {
    width: 150px;
    float: left;
    margin-right: 20px;
    text-align: right;
}
.$cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.$cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.$cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.ext-ie6 .$cssClass fieldset legend,
.ext-ie7 .$cssClass fieldset legend {
    margin-bottom: 10px;
}
.$cssClass .vpsFormFieldFileInner img {
    float: left;
}
.$cssClass .vpsFormFieldFileInner input {
    float: right;
}
.$cssClass .vpsFormFieldFileInner div.deleteImage {
    float: right;
    margin-left: 25px;
}
.ext-safari .$cssClass .vpsFormFieldFileInner div.deleteImage {
    float: right;
    margin-top: 10px;
    margin-right: -243px;
}
.$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 220px;
    overflow: hidden;
    float: right;
    margin-top: 10px;
    text-align: right;
}
.ext-ie6 .$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 200px;
}
.ext-gecko .$cssClass .vpsFormFieldFileInner div.deleteImage {
    margin-left: 45px;
}
.ext-gecko .$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 245px;
    margin-right: -20px;
}