.$cssClass label {
    width: 150px;
    float: left;
    margin-right: 20px;
    text-align: right;
}
.$cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.$cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.$cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.$cssClass div.deleteImage {
    float: right;
    margin-right: 251px;
    margin-top: -31px;
}
.$cssClass .vpsFormFieldFileInfo {
    width: 240px;
    overflow: hidden;
    float: right;
    margin-top: -24px;
}