.lightbox { position:absolute; background-color: #fff; width: 680px; height:542px; z-index: 100; display: none; }
.lightboxHd, .lightboxBd, .lightboxFt {  }

.lightboxHd {
    margin:  0px 10px 5px 10px;
    padding: 5px 10px 3px 10px;
    font-weight:bold; color: #555; border-bottom:1px solid #aaa;
}
.lightboxBd, .lightboxPreviousBig, .lightboxNextBig {
    height: 480px;
}
.lightboxBd { text-align: center; position: relative; }
.lightboxFt {
    margin:  5px 10px 0px 10px;
    padding: 3px 10px 5px 10px;
    color: #999; border-top:1px solid #aaa;
}

.lightboxClose { float: right; }
.lightboxClose img {
    width: 65px; height: 11px; margin-top: 2px;
    background-image:url(/assets/vps/images/lightbox/close.png);
}

.lightboxMask {
    background-color: #000; z-index: 50;
    opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);
}