@import "kwf/mobile-breakpoint";

.kwfup-webStandard.cssClass ul.menu {
    > li.onlyShowOnMobile {
        display: none;
    }

    @include mobile-breakpoint {
        > li.onlyShowOnMobile {
            display: block;
        }

        > li.hideOnMobile {
            display: none;
        }
    }
}
