@import "kwf/mobile-breakpoint";

.kwfUp-webStandard.kwcClass {
    .kwcBem__item--onlyShowOnMobile {
        display: none;
    }

    @include mobile-breakpoint {
        .kwcBem__item--onlyShowOnMobile {
            display: block;
        }

        .kwcBem__item--hideOnMobile {
            display: none;
        }
    }
    @media print {
        display: none;
    }
}
