@import "compass/utilities/general/clearfix";

.kwcClass {
    .kwcBem {
        &__entry {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }

        &__teaser {
            @include pie-clearfix;
            box-sizing: border-box;
            padding: 6px 10px;
        }

        &__text {
            margin-top: 0;
        }

        &__prevImage {
            float: left;
            margin-right: 10px;
        }

        &__readMoreLink {
            text-align: right;
        }
    }
}
