.kwcClass h2 {
    margin-top: -15px;
    padding: 2px 10px;
    border-bottom: 2px solid #ccc;
}
.kwcClass .nickname h3 {
    float: left;
    font-size: 14px;
    margin-right: 10px;
    margin-bottom: 15px;
    padding-top: 1px;
}
.kwcClass .avatar {
    float: right;
}
.kwcClass .userData {
    clear: left;
}
.kwcClass .userData h3 {
    margin-top: 10px;
    margin-bottom: 5px;
}
.kwcClass .userData li {
    list-style-type: square;
    margin-left: 15px;
}
