.vpsEnlargeTagData { display: none; }

.lightbox {
    display: none;
    position: absolute;
    min-width: 200px;
    max-width: 800px;
    min-height: 200px;
    padding: 10px;
    background: #fff;
    z-index: 100;
}
.ext-ie6 .lightbox { width: 800px; }

.lightbox .lightboxHeader { position: relative; z-index: 102; }
.lightbox .lightboxHeader a.closeButton {
    position: absolute;
    right: -25px;
    top: -25px;
}

.lightbox .lightboxBody { position: relative; height: 100%; z-index: 101; }
.lightbox .lightboxBody .nextBtn,
.lightbox .lightboxBody .nextBtn a {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 100%;
    background: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/transparentPixel.gif) repeat top left; /* WORKAROUND: IE kann keinen link ohne inhalt darstellen, deswegen transparentPixel bgImage*/
}
.lightbox .lightboxBody .nextBtn a { width: 100%; }
.lightbox .lightboxBody .nextBtn a:hover {
    background: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/next.png) no-repeat right 100px;
}
.lightbox .lightboxBody .nextBtn img.nextImgBtn { position: absolute; top: 100px; right: 0px; }
.lightbox .lightboxBody .centerImage { margin-bottom: -3px; }
.lightbox .lightboxBody .prevBtn,
.lightbox .lightboxBody .prevBtn a {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 40%;
    height: 100%;
    background: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/transparentPixel.gif) repeat top left; /* WORKAROUND: IE kann keinen link ohne inhalt darstellen, deswegen transparentPixel bgImage*/
}
.lightbox .lightboxBody .prevBtn a { width: 100%; }
.lightbox .lightboxBody .prevBtn a:hover {
    background: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/previous.png) no-repeat left 100px;
}
.lightbox .lightboxBody .prevBtn img.previousImgBtn { position: absolute; top: 100px; left: 0px; }

.lightbox .lightboxFooter p { text-align: left; margin-bottom: 0px; }
.lightbox .lightboxFooter p.imageCaption { margin-top: 10px; }
.lightbox .lightboxFooter p.imageCaptionTitle { margin: 10px 0px -10px 0px; }
.lightbox .lightboxFooter p.title { margin-top: 10px; }
.lightbox .lightboxFooter p.fullSizeLink { margin-top: 10px; }

.lightboxMask {
    background: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 50;
}
.webZoom {
    display: block;
    position: absolute;
    bottom: 8px;
    right: 5px;
    width: 15px;
    height: 15px;
    background-image: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/zoom.png);
    background-repeat: no-repeat;
}
