.vpsEnlargeTagData { display: none; }

.lightbox { position:absolute; background-color: #fff; width: 680px; height: 542px; z-index: 100; display: none; }

.lightbox .lightboxHeader {
    height: 20px;
    margin:  0px 10px 5px 10px;
    padding: 5px 10px 3px 10px;
    font-weight:bold; color: #555; border-bottom:1px solid #aaa;
}
.lightbox .fullSizeLink {
    display: block; float: left; width: 16px; height: 16px; padding-right: 10px;
    background: url(/assets/silkicons/picture_save.png) left top no-repeat;
}
.lightbox .lightboxBody { text-align: center; position: relative; height: 475px; }
.lightbox .lightboxFooter {
    margin:  -10px 10px 0px 10px;
    padding: 3px 10px 5px 10px;
    color: #999; border-top:1px solid #aaa;
}

.lightbox .closeButton {
    float: right;
}

.lightbox .lightboxFooter .prevBtn {
    width: 60px;
    float: left;
    margin-top: 1px;
}
.lightbox .lightboxFooter .title {
    width: 515px;
    height: 30px;
    overflow: hidden;
    float: left;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}
.lightbox .lightboxFooter .nextBtn {
    float: right;
    margin-top: 1px;
}

.lightbox .switchButton { font-weight: bold; }

.lightbox .switchBig {
    position: absolute;
    top: 0px;
    z-index: 105;
    width: 22%;
    text-align: center;
    opacity: 0.0; -moz-opacity: 0.0;
    filter: alpha(opacity=0);
    cursor: pointer;
    font-weight: bold;
}

.lightbox .previousSwitchBig {
    width: 185px;
    left: 0px;
    text-align: left;
}
.lightbox .previousSwitchBig p {
    margin-left: 20px;
}
.lightbox .nextSwitchBig {
    width: 185px;
    right: 0px;
    text-align: right;
}
.lightbox .nextSwitchBig p {
    margin-right: 20px;
}

.lightbox .bigOver { opacity: 0.82; -moz-opacity: 0.82; filter: alpha(opacity=82); }

.lightbox .switchBig .lightboxContent {
    background-color: #ddd;
    margin-top: 45px;
    padding: 8px 0px;
}
.lightbox .switchBig .lightboxContent p {
    color: #000;
}

.lightboxMask {
    background-color: #000; z-index: 50;
    opacity: 0.8; -moz-opacity: 0.8; filter: alpha(opacity=80);
}
.webZoom {
    display: block;
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 15px;
    height: 15px;
    background-image: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/zoom.png);
    background-repeat: no-repeat;
}
