.cssClass .deletingPost {
    text-align: center;
    font-weight: bold;
    float:left;
}
.cssClass .deletingPost.yes {
    float: right;
}
.cssClass .deletingPost a {
    padding: 10px;
    line-height: 24px;
}
