div.vpsSwitchDisplay a.switchLink {
    background: url(/assets/silkicons/bullet_arrow_down.png) 0px -2px no-repeat;
    padding-left: 18px;
}
div.vpsSwitchDisplay a.switchLink.switchLinkOpened {
    background: url(/assets/silkicons/bullet_arrow_up.png) 0px -2px no-repeat;

}
div.vpsSwitchDisplay div.switchContent { overflow: hidden; z-index: 1000; position: relative; }

/*
Bei einer Bildergalerie in einem switch display gab es einen Fehler,
der beim schließen die Bilder nicht sofort verschwinden ließ, sondern
über die schrift nach oben schob. Das hier war ein fix dafür, der allerdings
die steuerung (zoom +/-) einer GoogleMap in einem switchDisplay zerstören würde.
*/
/* div.vpsSwitchDisplay div.switchContent img { position: relative; z-index: 500;} */