@import "compass/utilities/general/clearfix";
@import "compass/css3/images";
@import "compass/css3/opacity";
@import "kwf/css3/border-radius";
@import "kwf/css3/box-shadow";

.kwcNewsletterButtons {
    @include pie-clearfix;

    .kwcNewsletterButton {
        margin-top: 20px;
        margin-bottom: 20px;
        float: left;

        button {
            @include border-radius-pie(3px);
            width: 90%;
            margin: 0px auto 0px auto;
            display: block;
            font-size: 22px;
            font-weight: bold;
            font-family: verdana, helvetica, tahoma;
            padding: 15px 0px 15px 0px !important;
            cursor: pointer;
        }

        &.start {
            width: 100%;

            .kwcNewsletterButtonStart {
                background-color: #7fbf4d;
                @include background-image(linear-gradient(#7fbf4d, #63a62f));
                text-shadow: 0 -1px 0 #4C9021;
                border: 1px solid #63A62F;
                border-bottom: 1px solid #5B992B;
                color: white !important;

                &:hover {
                    background-color: #76b347;
                    @include background-image(linear-gradient(#76b347, #5e9e2e));
                }

                &:active {
                    border: 1px solid #5B992B;
                    border-bottom: 1px solid #538C27;
                    @include box-shadow-pie(#548c29 0px 0px 8px 4px inset);
                }

                &[disabled=disabled], &[disabled] {
                    @include opacity(0.6);
                    cursor: default;
                }
            }
        }

        &.pause {
            width: 100% !important;

            .kwcNewsletterButtonPause {
                background-color: #eee;
                @include background-image(linear-gradient(#eee, #ccc));
                text-shadow: 0 1px 0 #eee;
                border: 1px solid #ccc;
                border-bottom: 1px solid #bbb;
                color: black !important;

                &:hover {
                    background-color: #ddd;
                    @include background-image(linear-gradient(#ddd, #bbb));
                    border: 1px solid #bbb;
                    border-bottom: 1px solid #999;
                }

                &:active {
                    border: 1px solid #aaa;
                    border-bottom: 1px solid #888;
                    @include box-shadow-pie(#aaa 0px 0px 8px 4px inset);
                }
            }
        }
    }
}

.kwcNewsletterProgress {
    .kwcNewsletterProgressText {
        width: 90%;
        margin: 40px auto 10px auto;
        height: 45px;

        span {
            font: normal 14px arial, tahoma, helvetica, sans-serif;

            &.kwcNewsletterInfoMailsSent {
                display: block;
            }

            &.kwcNewsletterInfoTime {
                padding-right: 20px;
            }
        }
    }

    .x2-progress-wrap {
        margin: 0px 5% 20px 5%;

        .x2-progress-text {
            text-align: left;
            width: 100%;
            padding: 0px 0px 0px 15px;
        }
    }
}
