div.vpcCompositeTextImage div.left { float: left; margin-right: 10px; }
div.vpcCompositeTextImage div.right { float: right; margin-left: 10px; }

div.vpcCompositeTextImage ul { list-style-position: inside; margin-left: 0px; }