<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        {foreach item=file from=$assets.css}
        <link rel="stylesheet" type="text/css" href="{$file}" />
        {/foreach}
        {foreach item=file from=$assets.js}
        <script type="text/javascript" src="{$file}"></script>
        {/foreach}
    </head>
    <body class="content">
        {component component=$component}
    </body>
</html>