<html>
    <head>
    </head>
    <body>
        <h1>{trlVps text="Error"}</h1>

        {if $debug}
            {trlVps text="Errortype:"}<br />
            <pre>{$type}</pre>

            <br />

            {trlVps text="Message:"}<br />
            <pre>{$exception}</pre>
            {if isset($query)}
            <p>last DB-Query:</p>
            <pre>{$query}</pre>
            {/if}
        {else}
            {trlVps text="An Error ocurred. Please try again later."}
        {/if}

    </body>
</html>