{if isset($ext) && !empty($ext)}
    {foreach item=file from=$ext.files.css}
    <link rel="stylesheet" type="text/css" href="{$file}" />
    {/foreach}

    {foreach item=file from=$ext.files.js}
    <script type="text/javascript" src="{$file}"></script>
    {/foreach}


    <script type="text/javascript">
        Ext.onReady(function() {ldelim}
            var panel = new {$ext.class}({$ext.config});
            if (!panel.region) panel.region = 'center';
            panel.id = 'mainPanel';
            Vps.currentViewport = new Vps.Viewport({ldelim}
                items: [panel]
            {rdelim});
        {rdelim});
    </script>

{/if}