{if $image}
    <div id="welcomeImg">
        <img src="{$image}" width="{$imageSize.width}" height="{$imageSize.height}" />
    </div>
{/if}
<div class="welcomeBox">
    {if $content|strip_tags|trim}
        <div class="welcomeContent">
            {$content}
        </div>
    {else}
        <div class="welcomeContent">
            <h1>{$application->name}  {trlVps text="version"} {$application->version}</h1>
        </div>
    {/if}
    <div class="footer">
        {if $content|strip_tags|trim}
            <p>{$application->name} {trlVps text="version"} {$application->version}</p>
        {/if}
        <h2>{$application->vps->name} Version {$application->vps->version}</h2>
        <img id="enteWelcome" src="/assets/vps/images/welcome/ente.jpg" alt="" height="30" width="54" />
    </div>
</div>
