@import "config/default-loading-animation-big";

.cssClass {
    position: relative;

    .youtubeContainer {
        background-color: white;
        position: relative;
        overflow: hidden;
        height: 0px;
        z-index: 1;

        &.ratio16x9 {
            padding-bottom: 56.25%;
        }
        &.ratio4x3 {
            padding-bottom: 75%;
        }

        .outerLoading {
            .loading {
                @include default-loading-animation-big;
            }
        }

        .youtubePlayer iframe {
            position: absolute;
            height: 100%;
            width: 100%;
            left: 0;
            top: 0;
        }
    }
}
