.cssClass {
    position: relative;

    .youtubeContainer {
        background-color: white;
        position: relative;
        overflow: hidden;
        height: 0px;
        z-index: 1;

        &.ratio16x9 {
            padding-bottom: 56.25%;
        }
        &.ratio4x3 {
            padding-bottom: 75%;
        }

        .outerLoading {
            position: absolute;
            width: 66px;
            height: 66px;
            top: 50%;
            left: 50%;
            margin: -33px 0px 0px -33px;
            background: url('/assets/web/images/loadingLightboxBg.png') no-repeat center center;

            .loading {
                width: 66px;
                height: 66px;
                background: url('/assets/kwf/Kwf_js/EyeCandy/Lightbox/loading.gif') no-repeat center center;
            }
        }

        .youtubePlayer iframe {
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
}
