.kwcClass .tblBoxCart { width: 100%; }
.kwcClass .products { color: typo; }
.kwcClass .products td { vertical-align: top; }
.kwcClass .products td.amount { text-align: left; padding-right: 5px; }
.kwcClass .products td.price { text-align: right; white-space: nowrap; }
.kwcClass .moneyInfo .text { float: left; }
.kwcClass .moneyInfo .price { float: right; }
.kwcClass li.totalAmount span { font-weight: bold; }

.kwcClass .cartList .tblBoxCart ul.products li {
    float: left;
    width: 33%;
}
.kwcClass .cartList .tblBoxCart ul.products li.product {
    width: 100%;
    margin-bottom: 2px;
}
.kwcClass .cartList .tblBoxCart ul.products li.price {
    text-align: right;
}
