.kwc-class {
    padding: 25px 0px;
    text-align: center;
    line-height: 20px;
    z-index: 1000;
    clear: both;
}
.kwc-class a {
    padding: 1px 3px;
    color: #000;
    padding: 4px 6px;
    font-weight: bold;
}
.kwc-class a:hover,
.kwc-class a.active {
    color: #333;
    font-weight: bold;
    padding: 3px 5px;
    border: 1px solid #aaa;
    background-color: #ccc;
}

.kwc-class span { font-weight: bold; }
