.kwcClass {
    padding: 25px 0px;
    text-align: center;
    line-height: 20px;
    z-index: 1000;
    clear: both;
}
.kwcClass a {
    padding: 1px 3px;
    color: #000;
    padding: 4px 6px;
    font-weight: bold;
}
.kwcClass a:hover,
.kwcClass a.active {
    color: #333;
    font-weight: bold;
    padding: 3px 5px;
    border: 1px solid #aaa;
    background-color: #ccc;
}

.kwcClass span { font-weight: bold; }

@media print {
.kwcClass { display: none; }
}
