{if $component.sent != 3}
    {foreach from=$component.errors item=error}
        <font color="#cc0000" size=2> -> {$error}  </font><br/>
    {/foreach}
    <br/>
    <form action="{$component.action}" method="POST" ENCTYPE = "{if $component.upload}multipart/form-data{else}application/x-www-form-urlencoded {/if}">
        <table>
            {foreach from=$component.paragraphs item=paragraph}
                <tr>
                {if $component.store.noCols}
                    <td colspan = 2 > {component component=$paragraph}</td>
                {else}
                    <td {if !$component.store.isValid} bgcolor="#cc0000" {/if} ><b>{if $component.store.mandatory} * {/if} {$component.store.description}  </b></td>
                    <td> {component component=$paragraph}</td>
                {/if}
                </tr>
            {/foreach }
        </table>
    </form>
    {if $component.sent == 2}
        <br>Bitte überprüfen Sie Ihre Eingabe, es traten Fehler auf.
    {/if}
{else}
    <br> Ihr Formular wurde erfolgreich abgeschickt.
{/if}


