.kwcClass {
    &.Flat {
        a {
            &:after {
                font-family: 'social-icons';
                font-size: 20px;
                color: black;
            }

            &.facebook {
                &:after {
                    content: "F"
                }
            }

            &.flickr {
                &:after {
                    content: "f"
                }
            }

            &.xing {
                &:after {
                    content: "x"
                }
            }

            &.twitter {
                &:after {
                    content: "t"
                }
            }

            &.googleplus {
                &:after {
                    content: "g"
                }
            }

            &.linkedin {
                &:after {
                    content: "l"
                }
            }
        }
    }
}

@font-face {
    font-family: 'social-icons';
    src: url('/assets/kwf/Kwc/Advanced/SocialBookmarks/Icons/Flat/social.eot');
    src: url('/assets/kwf/Kwc/Advanced/SocialBookmarks/Icons/Flat/social.eot?#iefix') format('embedded-opentype'),
    url('/assets/kwf/Kwc/Advanced/SocialBookmarks/Icons/Flat/social.woff') format('woff'),
    url('/assets/kwf/Kwc/Advanced/SocialBookmarks/Icons/Flat/social.ttf') format('truetype'),
    url('/assets/kwf/Kwc/Advanced/SocialBookmarks/Icons/Flat/social.svg#Social') format('svg');
    font-weight: normal;
    font-style: normal;
}
