body.ext-ie6 { text-align: center; }

#page {
    border-top: 5px solid var(secColor);
}

#page #outerHeader #header,
#page #outerContent .stage,
#page #outerContent #content,
#page #outerFooter #footer { width: 980px; margin: 0px auto; text-align: left; }
#page #outerHeader #header {
    height: 100px;
}
#page #outerContent {
    background: url("/assets/kwf/themes/Default/images/bgContent.jpg") repeat center -5px;
    padding-bottom: 170px;
}
#page #outerContent .stage {
    height: 185px;
    border-top: 5px solid #C80000
}
#page #outerHeader #header .logo {
    width: 180px;
    height: 100px;
    background: red;
    float: left;
}
#page #outerHeader #header .searchBox {
    width: 180px;
    height: 33px;
    background: red;
    float: right;
    margin-top: 67px;
}
#page #outerHeader #header .mainMenu {
    height: 33px;
    float: right;
    margin-top: 67px;
}
#page #outerContent #content #innerContent .leftColumn,
#page #outerContent #content #innerContent .centerColumn,
#page #outerContent #content #innerContent .rightColumn {
    float: left;
    min-height: 100px;
    background: red;
}
#page #outerContent #content #innerContent .leftColumn {
    width: 180px;
    margin-right: 40px;
    padding-top: 50px;
}
#page #outerContent #content #innerContent .centerColumn {
    width: 480px;
    margin-right: 40px;
}
#page #outerContent #content #innerContent .rightColumn {
    width: 240px;
}
#page .bottomStage {
    background: url("/assets/kwf/themes/Default/images/bottomStageBg.jpg") repeat center top;
    min-height: 230px;
    width: 100%;
}
#page .bottomStage .innerBottomStage {
    width: 980px;
    margin: 20px auto 0px;
    position: relative;
}
#page .bottomStage .bottomStageShadow {
    background: url("/assets/kwf/themes/Default/images/bottomStageShadow.png") repeat center top;
    height: 10px;
    width: 100%;
}
#page #outerFooter #footer {
    margin-top: 40px;
    min-height: 100px;
    background: red;
}
#page #outerFooter #footer .loginButton {
    float: right;
    background: yellow;
    width: 85px;
    height: 20px;
}
#page #outerFooter #footer .bottomMenu {
    float: right;
}
#page #outerFooter #footer .leftArea {
    float: left;
}
.webListNone ul { margin: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }

.webSuccess { font-weight: bold; }

.webForm input,
.webForm textarea,
.webForm label,
.webForm button,
.webForm select {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: var(typo);
    line-height: 18px;
}

.webForm .kwfField { position: relative; }

.webForm button {
    height: auto !important;
    color: var(typo) !important;
    margin: 10px 0px 10px 190px;
    padding: 5px 10px !important;
}
.webForm button:hover { color: var(secColor) !important; }

.webForm input,
.webForm textarea,
.webForm button {
    background: var(light) !important;
    border: 1px solid var(gray) !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.webForm .kwfFieldRequired label { font-weight: normal; }
.webForm .kwfFieldRequired label .requiredSign { display: none; }

.webForm .kwfFieldError label { color: var(typo); }
.webForm .kwfFieldError input,
.webForm .kwfFieldError textarea {
    color: var(typo);
    background: var(highlightBg) url('/assets/web/images/stripesDark.png') repeat left 3px !important;
    border: 1px solid var(highlightBorder) !important;
}

.webSearchSuccess,
.webSuccess {
    padding: 10px 10px 5px 10px;
    background: var(successBg) url('/assets/web/images/stripes.png') repeat left 3px !important;
    border: 1px solid var(successBorder) !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webSearchSuccess p,
.webSuccess p {
    color: var(successText) !important;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/web/images/iconTick.png') no-repeat left center;
}
.webSearchError,
.webFormError {
    padding: 10px 10px 5px 10px;
    background: var(errorBg) url('/assets/web/images/stripes.png') repeat left 3px;
    border: 1px solid var(errorBorder) !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webSearchError p,
.webFormError p {
    color: var(errorText) !important;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/web/images/iconAlert.png') no-repeat left center;
}
.webFormError li { color: var(errorText) !important; }

.webSearchHelper p,
.webForm span.comment {
    font-size: 11px;
    color: var(highlightText);
    padding: 3px 10px 3px 25px;
    background: var(highlightBg) url('/assets/web/images/iconInfo.png') no-repeat 7px center;
    border: 1px solid var(highlightBorder);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webForm span.comment { position: absolute; top: 0px; }

.licenceOffice {
    padding: 20px;
    font-family: 'Arial';
}
.licenceOffice h2 {
    color: #02428a;
    font-size: 18px;
    padding-bottom: 10px;
}
.licenceOffice table {
    border:thin solid #000;
    border-spacing:1px;
    margin-bottom: 10px;
}
.licenceOffice table tr {
    color: #02428a;
    border: 1px solid #000;
}
.licenceOffice table tr td {
    text-align: center;
    background: #dfdfdf;
    padding: 5px;
}
.licenceOffice p {
    color: #02428a;
    margin-bottom: 10px;
}
.requestTpl {
    padding: 20px;
    font-family: 'Arial';
}
.requestTpl h2 {
    color: #02428a;
    font-size: 18px;
    padding-bottom: 10px;
}
.requestTpl table.requestTable {
    border:thin solid #000;
    border-spacing:1px;
    margin-bottom: 10px;
}
.requestTpl table tr.headline {
    color: #02428a;
    border: 1px solid black;
}
.requestTpl table tr.memberTpl {
    border: 1px solid black;
}
.requestTpl table tr.clubTpl {
    border: 1px solid black;
}
.requestTpl table tr.sum {
    color: #02428a;
    border: 1px solid black;
}
.requestTpl table tr td {
    text-align: center;
    background: #dfdfdf;
    padding: 5px;
}
.requestTpl table tr td.leftColumn {
    color: #02428a;
    text-align: left;
}
.requestTpl .evidence span.requestNumber {
    background: #dfdfdf;
    color: #02428A;
    padding: 2px;
}
.requestTpl .clubContribution span {
    background: #dfdfdf;
    padding: 2px;
}
.requestTpl .clubContribution span.contributionNotRequested {
    color: #ae1010;
}
.requestTpl .sendButtonDiv {
    margin-top: 30px;
}
.requestTpl .sendButtonDiv a {
    border: 1px solid #000;
    background: #2e3f81;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
}
