@import "susy";
// @import "compass/utilities/general/clearfix";

$total-columns: 4;
$column-width: 830px / 4;
$gutter-width: 50px;
$grid-padding: 0px;

$container-style: magic;


#page {
    border-top: 5px solid var(secColor);
     width: 100%;
}

#page #outerHeader,
#page #outerContent .stage,
#page #outerContent #content,
#page .bottomStage .innerBottomStage,
#page #outerFooter #footer {
    @include container;
}
#page #outerHeader #header,
#page #outerContent .stage,
#page #outerContent #content,
#page #outerFooter #footer { text-align: left; }
#page #outerHeader #header {
    height: 115px;
}
#page #outerContent {
    background: url("/assets/kwf/themes/Default/images/bgContent.jpg") repeat center -5px;
    padding-bottom: 170px;
    position: relative;
}
#page #outerContent .stage {
    border-top: 5px solid #C80000;
    height: 185px;
}
#page #outerHeader #header .logo {
    width: 180px;
    height: 100px;
    float: left;
    margin-top: 7px;
    margin-bottom: 8px;
}
#page #outerHeader #header .searchBox {
    width: 180px;
    height: 33px;
    background: red;
    float: right;
    margin-top: 82px;
}
#page #outerHeader #header .mainMenu {
    height: 33px;
    float: right;
    margin-top: 82px;
}

#page #outerContent #content #innerContent {
    margin: 0 20px;
}

@include at-breakpoint(4) {
    #page #outerHeader,
    #page #outerContent .stage,
    #page #outerContent #content,
    #page .bottomStage .innerBottomStage,
    #page #outerFooter #footer {
    }
    
    #page #outerContent #content #innerContent {
        margin: 0px;
    }
    #page #outerContent #content #innerContent .leftColumn {
        @include span-columns(1);
    }
    #page #outerContent #content #innerContent .centerColumn {
        @include span-columns(2);
    }
    #page #outerContent #content #innerContent .rightColumn {
        @include span-columns(1 omega);
    }
}


#page #outerContent #content #innerContent .leftColumn,
#page #outerContent #content #innerContent .centerColumn,
#page #outerContent #content #innerContent .rightColumn {
    min-height: 100px;
}
#page #outerContent #content #innerContent .leftColumn {
    padding-top: 50px;
}
#page #outerContent #content #innerContent .rightColumn {
    background: red;
}
#page .bottomStage {
    background: url("/assets/kwf/themes/Default/images/bottomStageBg.jpg") repeat center top;
    min-height: 230px;
    width: 100%;
}
#page .bottomStage .innerBottomStage {
    margin: 20px auto 0px;
    position: relative;
}
#page .bottomStage .bottomStageShadow {
    background: url("/assets/kwf/themes/Default/images/bottomStageShadow.png") repeat center top;
    height: 10px;
    width: 100%;
}
#page #outerFooter #footer {
    margin-top: 40px;
    min-height: 100px;
}
#page #outerFooter #footer .loginButton {
    float: right;
    background: yellow;
    width: 85px;
    height: 20px;
}
#page #outerFooter #footer .bottomMenu {
    float: right;
}
#page #outerFooter #footer .leftArea {
    float: left;
}