.vpcCompositeImagesEnlarge { text-align: center; position: static; padding-bottom: 10px; } /*position static wegen IE7*/
.vpcCompositeImagesEnlarge .thumbOuter {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.vpcCompositeImagesEnlarge .thumb { text-align: center; overflow: hidden; }

.vpcCompositeImagesEnlarge a.back {
    display: block;
    position: absolute;
    bottom: -5px; left: 10px;
}
.vpcCompositeImagesEnlarge a.back span {
    display: block;
    float: left;
    padding-right: 5px;
    margin-top: -1px;
}