.kwfFadeElements { position: relative; overflow: hidden; }
.kwfFadeElement { position: absolute; top: 0px; left: 0px; width: 100%; }

.elementAccessLinks { position: relative; z-index: 2; }
.elementAccessLinks li { float: left; }
.elementAccessLinks .elementAccessLink {
    display: block; width: 20px; height: 20px;
    background-color: #bbb; margin: 0px 5px;
}
.elementAccessLinks a.elementAccessLinkActive {
    background-color: #fff;
}
.elementAccessLinks .elementAccessPlayPauseButton {
    background-repeat: no-repeat;
}
.elementAccessLinks .elementAccessPause {
    background-image: url(/assets/kwf/images/pause.png);
}
.elementAccessLinks .elementAccessPlay {
    background-image: url(/assets/kwf/images/play.png);
}
.elementAccessNext,
.elementAccessPrevious { position: relative; z-index: 2; }
