@import "kwf/css3/border-radius";

.cssClass {
    > .quickwrite {
        background: #ccc;
        border: 1px solid #d3d3d3;
        @include border-radius-pie(3px);
        padding: 20px;
        > h2 {
            color: #373737;
            font-size: 24px;
            font-weight: bold;
            line-height: 30px;
        }
    }
}
