.kwcClass {
    position: relative;

    &__image {
        position: relative;
        cursor: pointer;
        z-index: 2;
    }

    &__playButton {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
    }

    &__youtubeContainer {
        position: absolute;
        width: auto;
        z-index: 3;
    }

    &__youtubePlayer {
        display: none;
    }

    &--ratio16x9 {
        .kwcBem__youtubeContainer {
            padding-bottom: 56.27%;
            height: 0;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
    &--ratio4x3 {
        .kwcBem__youtubeContainer {
            padding-bottom: 75%;
            height: 0;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
}
