.kwcClass {
    position: relative;

    .kwcBem__image {
        position: relative;
        cursor: pointer;
        z-index: 2;
        opacity: 1;
        transition: opacity 0.5s;
    }

    .kwcBem__playButton {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 50%;
    }

    .kwcBem__youtubeContainer {
        position: absolute;
        width: auto;
        z-index: 3;
        opacity: 0;
        transition: opacity 0.5s;
    }

    .kwcBem__youtubePlayer {
        display: none;
    }

    .kwcBem__outerYoutubeContainer {
        &--youtubeActive, &.youtubeActive {
            .kwcBem {
                &__image {
                    position: absolute;
                    width: 100%;
                    left: 0;
                    opacity: 0;
                }
                &__youtubeContainer {
                    position: relative;
                    opacity: 1;
                }
                &__youtubePlayer {
                    display: block;
                }
            }
        }
    }

    &.kwcBem--ratio16x9 {
        .kwcBem__youtubeContainer {
            padding-bottom: 56.27%;
            height: 0;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
    &.kwcBem--ratio4x3 {
        .kwcBem__youtubeContainer {
            padding-bottom: 75%;
            height: 0;

            iframe {
                position: absolute;
                height: 100%;
                width: 100%;
            }
        }
    }
}
