@mixin error-simple {
    > div.kwfUp-kwcForm > form {
        .kwfFieldErrorIconBubble {
            background: none transparent;
            position: relative;
            height: auto;
            width: auto;
            clear: left;

            .message {
                background: none transparent;
                display: block !important;
                opacity: 1 !important;
                filter: alpha(opacity = 100) !important;
                color: red;
                padding: 0;
                margin: 0;
                right: 0px !important;
                position: relative;
                text-align: left;
            }

            .arrow {
                display: none !important;
            }
        }
    }
}
