@mixin error-simple-align-right {
    > div.kwfUp-kwcForm > form {
        .kwfFieldErrorIconBubble {
            .message {
                text-align: right;
            }
        }

        .kwcFormFieldRadio,
        .kwcFormFieldCheckbox {
            .kwfFieldErrorIconBubble {
                .message {
                    text-align: left;
                }
            }
        }
    }
}
