.$cssClass .newThread a {
    font-weight: bold;
}
.$cssClass span {
    display: block;
    float: left;
}
.$cssClass span.beforeButton,
.$cssClass span.afterButton {
    width: 15px;
    height: 25px;
}