.vpcProhaustierForumGroup div.vpcForumGroup a.newThread {
    background: url(/assets/images/Forum/themaBtn.jpg) no-repeat scroll left top;
    color: #786047;
    font-weight: bold;
    line-height: 25px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: -5px;
    padding: 5px 15px;
}
.vpcProhaustierForumGroup h2 {
    font-weight: bold;
    line-height: 25px;
    margin: 0px;
    padding-left: 10px;
    background: url(/assets/web/images/forumHeaderBg.jpg) repeat-x top left;
}
.vpcProhaustierForumGroup h2 a {
    color: $typoBrown;
    text-decoration: none;
}
.vpcProhaustierForumGroup h2 a:hover {
    color: $orange;
    text-decoration: none;
}
.vpcProhaustierForumGroup div.newThread {
    background: url(/assets/web/images/themaBtn.jpg) no-repeat top left;
    font-weight: bold;
    line-height: 25px;
    margin-top: 45px;
    margin-bottom: 20px;
}
.vpcProhaustierForumGroup div.newThread a {
    padding: 5px 15px;
    color: $typo;
    text-decoration: none;
}
.vpcProhaustierForumGroup div.newThread a:hover {
    color: $orange;
}
