.redMalleeMenuSubSubHorizontal {
    background: #999;
    top: 0px;
    position: relative;
    z-index: 15;

    &.webStandard {
        display: block;
        position: relative;
        z-index: 15;
    }

    ul {
        line-height: 30px;
        white-space: nowrap;
        margin-left: 0px;

        li {
            display: inline-block;
            list-style: none;
            color: white;
            margin-right: -4px;

            &.current a {
                 color: var(light);
            }

             a {
                background: #999;
                font-size: 12px;
                color: var(dark);
                padding: 0px 17px;
    
                 &:hover, &.current {
                     color: var(light);
                 }

                 &.arrowLeft {
                     background: url("/assets/kwf/themes/RedMallee/images/subSubMenuArrowLeft.png") no-repeat scroll left -4px transparent;
                     left: 0;
                     z-index: 15;
                 }

                 &.arrowRight {
                     background: url("/assets/kwf/themes/RedMallee/images/subSubMenuArrowRight.png") no-repeat scroll left -4px transparent;
                     right: 0;
                     z-index: 15;
                 }
             }
        }
    }
}
