<div class="{{ rootElementClass }}">
    {% if outputType == 'source' and fileSource %}
        {{ fileSource|raw }}
    {% elseif outputType == 'url' %}
        <img src="{{ fileUrl }}" />
    {% endif %}
</div>
