.vpsLightbox {
    position: absolute;
    min-width: 200px;
    max-width: 800px;
    min-height: 200px;
    padding: 10px;
    background: #fff;
    z-index: 100;
}
.ext-ie6 .vpsLightbox { width: 800px; }

.vpsLightbox .lightboxHeader { position: relative; z-index: 102; }
.vpsLightbox .lightboxHeader .closeButton {
    position: absolute;
    right: -25px;
    top: -25px;
    display: block;
    width: 42px;
    height: 42px;
    background: url('/assets/vps/Vps_js/EyeCandy/Lightbox/close.png') no-repeat center center;
}
.vpsLightbox .lightboxHeader .closeButton:hover { text-decoration: none; }

.vpsLightbox .lightboxBody { position: relative; height: 100%; z-index: 101; }
.vpsLightbox .lightboxBody .nextBtn,
.vpsLightbox .lightboxBody .nextBtn a,
.vpsLightbox .lightboxBody .prevBtn,
.vpsLightbox .lightboxBody .prevBtn a {
    position: absolute;
    top: 0px;
    width: 40%;
    height: 100%;
    background: url(/assets/vps/Vps_js/EyeCandy/Lightbox/transparentPixel.gif); /* WORKAROUND: IE kann keinen link ohne inhalt darstellen, deswegen transparentPixel bgImage*/
    background-repeat: repeat;
    background-position: top left;
}
.vpsLightbox .lightboxBody .nextBtn, .vpsLightbox .lightboxBody .nextBtn a { right: 0px; }
.vpsLightbox .lightboxBody .prevBtn, .vpsLightbox .lightboxBody .prevBtn a { lef: 0px; }
.vpsLightbox .lightboxBody .nextBtn a,
.vpsLightbox .lightboxBody .prevBtn a { width: 100%; }
.vpsLightbox .lightboxBody .nextBtn a:hover {
    background-image: url(/assets/vps/Vps_js/EyeCandy/Lightbox/next.png);
    background-repeat: no-repeat;
    background-position: right 100px;
}
.vpsLightbox .lightboxBody .nextBtn img.nextImgBtn { position: absolute; top: 100px; right: 0px; }

.vpsLightbox .lightboxBody .prevBtn a:hover {
    background-image: url(/assets/vps/Vps_js/EyeCandy/Lightbox/previous.png);
    background-repeat: no-repeat;
    background-position: left 100px;
}
.vpsLightbox .lightboxBody .prevBtn img.previousImgBtn { position: absolute; top: 100px; left: 0px; }


.vpsLightbox .loading {
    position: absolute; top: 40%; text-align: center; width:100%;
    background-image: url(/assets/vps/Vps_js/EyeCandy/Lightbox/loading.gif);
    background-repeat: no-repeat;
    height: 66px;
    display: none; /* shown by javascript*/
}
.vpsLightbox .lightboxBody .image { z-index: 1; }
.vpsLightbox .lightboxBody .image .centerImage { margin-bottom: -3px; }
.vpsLightbox .lightboxBody .centerImage { margin-bottom: -3px; }

.vpsLightbox .lightboxFooter p { text-align: left; margin-bottom: 0px; }
.vpsLightbox .lightboxFooter p.imageCaption { margin-top: 10px; }
.vpsLightbox .lightboxFooter p.imageCaptionTitle { margin: 10px 0px -10px 0px; }
.vpsLightbox .lightboxFooter p.title { margin-top: 10px; }
.vpsLightbox .lightboxFooter p.fullSizeLink { margin-top: 10px; }

.lightboxMask {
    background: #000;
    opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    z-index: 50 !important;
}