@import "config/colors";
.cssClass div.text { display: none; }
.cssClass .fromAddress { margin-top:6px; }
.cssClass .fromAddress input { float: left; padding: 3px; }
.cssClass .fromAddress input.textBefore { width: 98%; color: $typo; display: block; margin-bottom: 10px;}
.cssClass.gt500 .fromAddress input.textBefore {width: 50%; display: block;}
.cssClass .fromAddress input.kwfClearOnFocusBlurred { color: $gray; }
.cssClass .fromAddress input.textOn { color: $typo; }
.cssClass .fromAddress button {
    font-weight: bold;
    overflow: visible;
    cursor: pointer;
    width: 100%;
    margin: 0;
    float: left;
    padding: 8px 5px;
    display: block;
    float:left;
}
.cssClass.gt500 .fromAddress button {
    width: 200px;
    float: right;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;
}

.cssClass .mapDirSuggestParent { display: none; margin-top: 30px; }

.cssClass .container { overflow: hidden; border: 1px solid #000; }
