@import "config/colors";
.kwcClass div.text { display: none; }
.kwcClass .fromAddress { margin-top:6px; }
.kwcClass .fromAddress input { float: left; padding: 3px; }
.kwcClass .fromAddress input.textBefore { width: 98%; color: $typo; display: block; margin-bottom: 10px;}
.kwcClass.gt500 .fromAddress input.textBefore {width: 50%; display: block;}
.kwcClass .fromAddress input.kwfClearOnFocusBlurred { color: $gray; }
.kwcClass .fromAddress input.textOn { color: $typo; }
.kwcClass .fromAddress button {
    font-weight: bold;
    overflow: visible;
    cursor: pointer;
    width: 100%;
    margin: 0;
    float: left;
    padding: 8px 5px;
    display: block;
    float:left;
}
.kwcClass.gt500 .fromAddress button {
    width: 200px;
    float: right;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;
}

.kwcClass .mapDirSuggestParent { display: none; margin-top: 30px; }

.kwcClass .container { overflow: hidden; border: 1px solid #000; }

@media print {
.kwcClass {
    page-break-before: always;
}
}
