@import "config/colors";
.kwc-class div.text { display: none; }
.kwc-class .fromAddress { margin-top:6px; }
.kwc-class .fromAddress input { float: left; padding: 3px; }
.kwc-class .fromAddress input.textBefore { width: 98%; color: $typo; display: block; margin-bottom: 10px;}
.kwc-class.gt500 .fromAddress input.textBefore {width: 50%; display: block;}
.kwc-class .fromAddress input.kwfClearOnFocusBlurred { color: $gray; }
.kwc-class .fromAddress input.textOn { color: $typo; }
.kwc-class .fromAddress button {
    font-weight: bold;
    overflow: visible;
    cursor: pointer;
    width: 100%;
    margin: 0;
    float: left;
    padding: 8px 5px;
    display: block;
    float:left;
}
.kwc-class.gt500 .fromAddress button {
    width: 200px;
    float: right;
    padding: 2px 5px;
    cursor: pointer;
    font-weight: bold;
}

.kwc-class .mapDirSuggestParent { display: none; margin-top: 30px; }

.kwc-class .container { overflow: hidden; border: 1px solid #000; }
