.cssClass.webStandard {
    ul {
        margin: 0;
        li {
            display: inline;
            &:after {
                content: '|';
            }
            &.last:after {
                content: '';
            }
        }
    }
}

