.cssClass .largeContent { display: none; }
.cssClass .listSwitchItem { float: left; }
.cssClass .listSwitchLargeContent { position: relative; }
.cssClass .listSwitchLargeContent .largeContent { position: absolute; top: 0px; }