@import "compass/utilities/general/clearfix";

.cssClass {
    border-top: 1px solid #bbb;
    padding-top: 20px;
    padding-bottom: 10px;
    
    .path {
        margin-bottom: 5px;
    }

    a {
        @include pie-clearfix;
        font-weight: normal;
        text-decoration: none;
        line-height: 20px;
        font-size: 16px;
    }
    a:hover {
        text-decoration: none;
    }
}