@import "compass/utilities/general/clearfix";
@import "kwf/mobile-breakpoint";

.kwcClass {
    .kwcParagraphItem {
        @include pie-clearfix;

        &.onlyShowOnMobile {
            display: none;
        }

        @include mobile-breakpoint {
            &.onlyShowOnMobile {
                display: block;
            }

            &.hideOnMobile {
                display: none;
            }
        }
    }
}
