@import "kwf/mobile-breakpoint";

.kwcClass {
    .kwcBem__kwcParagraphItem {

        &.kwcBem__onlyShowOnMobile {
            display: none;
        }

        @include mobile-breakpoint {
            &.kwcBem__onlyShowOnMobile {
                display: block;
            }

            &.kwcBem__hideOnMobile {
                display: none;
            }
        }
    }
}
