@mixin loading-animation($animationName, $path, $file, $width, $height, $params:"") {
    background: url($path + '/' + $file + '.png') $params;
    position: absolute;
    height: $height;
    width: $width;
    margin: 0 auto;
    display: block;
    content: '';
    left: 50%;
    top: 50%;
    margin-left: -($width / 2);
    margin-top: -($height / 2);
    animation: $animationName .5s infinite linear;

    @media (min-device-pixel-ratio: 1.1), (-webkit-min-device-pixel-ratio: 1.1) {
        & {
          background-image: url($path + '/dpr2/' + $file + '.png');
          background-size: $width $height;
        }
    }
}
