.cssClass .kwfFieldError label { color: var(typo); }
.cssClass .kwfFieldError input,
.cssClass .kwfFieldError textarea {
    color: var(typo);
    border-color: var(errorBorder) ;
}

.cssClass button {
    cursor: pointer;
}

.cssClass form .kwfField label,
.cssClass form .kwfField span.fieldContent {
    line-height: 20px;
}
.cssClass .submitWrapper {
    text-align: center;
    clear: both;
}
.cssClass .submitWrapper .beforeButton,
.cssClass .submitWrapper .button,
.cssClass .submitWrapper .saving,
.cssClass .submitWrapper .afterButton {
    float: left;
}
.cssClass .submitWrapper .button {
    position: relative;
}

.cssClass .submitWrapper .button.disabled {
    opacity: 0.3;
}

.cssClass input,
.cssClass textarea,
.cssClass select {
    padding: 2px;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: var(typo);
    line-height: 18px;
    outline: none;
    float: left;
}

.cssClass input.radio {
    margin-left: 10px;
    border: none;
    background: none;
}
.cssClass form .kwfFormFieldCheckbox input {
    width: auto;
    border: none;
    background: none;
    margin-top: 3px;
}
.cssClass label {
    line-height: 18px;
}
.cssClass .kwcLabelPositionAbove .kwfFormFieldWrapper.hasLabel {
    margin-left: 0;
    padding-left: 0;
}
.cssClass .kwfFieldRequired label { font-weight: normal; }
.cssClass .kwfFieldRequired span label { font-weight: normal; }
.cssClass .kwfFieldLabelAlignTop label {
    width: auto;
    margin: 0px;
    text-align: left;
}
.cssClass .kwfFieldLabelAlignLeft label {
    text-align: left;
}
.cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.cssClass form .kwfFormFieldRadio .kwfFormFieldWrapper label {
    margin-right: 20px;
    clear: none;
}
.cssClass form .kwfFormFieldRadio input { margin: 0px; padding: 0px; }
.cssClass form .kwfFormFieldRadioHorizontal span { display: inline-block; }
.cssClass form .kwfFormFieldRadioVertical span { display: block; }
.cssClass form .kwfFormFieldRadioVertical span label { margin-left: 0px; }
.cssClass form .kwfFormFieldRadioVertical label { float: none; }

.cssClass form .kwfFormFieldMultiCheckboxHorizontal label { float: none; width: auto; margin-left: 0px; }
.cssClass form .kwfFormFieldMultiCheckboxHorizontal .checkboxItem { float: left; white-space: nowrap; padding-right: 10px; }
.cssClass form .kwfFormFieldMultiCheckboxHorizontal .checkboxItem label { font-weight: normal; }

.cssClass form .kwfFormContainerColumns .kwfFormContainerColumn { float: left; clear: none; margin-bottom: 0px; }
.cssClass form .kwfFormContainerColumns .kwfFormContainerColumn .kwfField { clear: none; margin-bottom: 0px; }

.cssClass span.comment { margin-left: 10px; color: #999; }
.cssClass .kwfField { clear: both; position: relative; margin-bottom: 4px; }

.cssClass .kwcLabelPositionAbove label {
    display: block;
    float: none;
    margin-left: 0px;
    text-align: left;
    width: 100%;
}
