@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "kwf/css3/border-radius";

.cssClass {
    .kwfFormFieldWrapper {
        margin-bottom: 4px;

        .kwfFieldErrorIconBubble {
            clear: left;

            .message {
                text-align: left;
            }
        }
    }

    div.kwfFormFieldDateField a.icon {
        right: 0;
        top: 0;
    }

    div.kwcFormFieldFile {
        input.fileSelector {
            height: 19px;
            padding: 0;
        }
    }

    &.responsive {
        &.veryNarrow {
            > div.kwcForm > form {
                .kwfFormFieldWrapper {
                    input, textarea, select {
                        &.radio {
                            width: auto !important;
                        }

                        &[type='checkbox'] {
                            width: auto !important;
                        }
                    }
                }

                .kwfFieldErrorIconBubble {
                    background: none transparent;
                    position: relative;
                    height: auto;
                    width: auto;

                    .message {
                        background: none transparent;
                        display: block !important;
                        opacity: 1 !important;
                        filter: alpha(opacity = 100) !important;
                        color: red;
                        padding: 0;
                        margin: 0;
                        right: 0px !important;
                        position: relative;
                    }

                    .arrow {
                        display: none !important;
                    }
                }
            }
        }

/* ------------------------------------------ Center-Style ---------------------------------------*/
        &.center {
            /* -------------------------------- veryNarrow / Center ------------------------------*/
            &.veryNarrow {
                .kwfFormFieldWrapper {
                    position: relative;

                    input, textarea, select {
                        @include box-sizing(border-box);
                        width: 100% !important;
                    }
                }
            }
        }

/* ----------------------------------------- Default-Style ---------------------------------------*/
        &.default {
            /* -------------------------------- veryNarrow / Default -----------------------------*/
            &.veryNarrow {
                > div.kwcForm > form {
                    .kwfFormFieldWrapper {
                        input, textarea, select {
                            @include box-sizing(border-box);
                            width: 100% !important;

                            &.radio {
                                width: auto !important;
                            }

                            &[type='checkbox'] {
                                width: auto !important;
                            }
                        }
                    }
                }

                .kwfFormFieldRadio {
                    .kwfFormFieldRadio {
                        label {
                            width: auto !important;
                        }
                    }
                }

                div.kwcFormFieldFile {
                    .underlayFileSelector {
                        a {
                            position: absolute;
                            right: 5px;
                            top: 4px;
                        }
                    }
                }
            }
            /* ----------------------------- veryNarrow gt350 / Default --------------------------*/
            &.veryNarrow.gt350 {
                .kwfFormFieldWrapper {
                    input, textarea, select, {
                        width: 100% !important;

                        &.radio {
                            width: auto !important;
                        }

                        &[type='checkbox'] {
                            width: auto !important;
                        }
                    }

                    .kwfFormFieldFileUploadWrapper {
                        .kwfFormFieldFileUploadButton {
                            position: absolute;
                            opacity: 0.4;
                            right: 2px;
                            top: 4px;
                        }
                    }
                }

                .kwfFormFieldWrapper.hasLabel {
                    input, textarea, select, {
                        width: 60% !important;

                        &.radio {
                            width: auto !important;
                        }

                        &[type='checkbox'] {
                            width: auto !important;
                        }
                    }
                }
            }
            /* ---------------------------------- gt350 / Default --------------------------------*/
            &.gt350 {
                label {
                    text-align: right;
                    margin-right: 6%;
                    float: left;
                    width: 34%;
                }

                .kwfFormFieldRadioHorizontal,
                .kwfFormFieldRadioVertical {
                    label {
                        display: inline-block; 
                        float: none;
                        width: auto;
                        margin-left: 0px;
                    }
                }

                .kwfFormFieldMultiCheckboxHorizontal,
                .kwfFormFieldMultiCheckboxVertical {
                    label {
                        display: inline-block; 
                        float: none;
                        width: auto;
                        margin-left: 0px;
                    }
                }

                div.kwfFormFieldDateField a.icon {
                    right: 4px;
                    top: 3px;
                }

                .kwcFormFieldRadio {
                    .kwfFormFieldWrapper {
                        &.hasLabel {
                            display: inline-block;
                        }
                    }
                }

                .kwfFormFieldMultiCheckbox {
                    .kwfFormFieldMultiCheckbox {
                        label {
                            width: auto;
                            margin-right: 0;
                        }
                    }
                }

                .kwfFieldErrorIconBubble {
                    .message {
                        text-align: right;
                    }
                }
            }
            /* ---------------------------------- gt500 / Default --------------------------------*/
            &.gt500 {
                label {
                    width: 120px;
                    margin-right: 20px;
                }

                .kwfFormFieldWrapper {
                    display: inline-block;
                    position: relative;
                }

                .kwfFieldErrorIconBubble {
                    top: 50%;
                    right: 3px;
                    margin-top: -8px;

                    .message {
                        text-align: center;
                    }
                }

                .kwcFormFieldRadio {
                    .kwfFieldErrorIconBubble {
                        right: -3px;
                    }
                }

                .kwcFormFieldCheckbox {
                    .kwfFieldErrorIconBubble {
                        right: -10px;
                        top: 3px;
                    }
                }

                .kwcFormFieldMultiCheckbox,
                .kwcFormFieldFile {
                    .kwfFieldErrorIconBubble {
                        right: -25px;
                    }
                }
            }
        }
    }

    &.unResponsive {
        @extend .responsive.gt500;
    }

    /* -------------------------------------- ERROR ----------------------------------------------*/

    .cssClass {
        .kwcFormError {
            @include border-radius-pie(4px);
            padding: 20px 10px 10px 10px;
            background: none #BB1900;
            margin-bottom: 20px;

            p.error {
                background: url("/assets/silkicons/exclamation.png") no-repeat scroll left top transparent;
                color: var(errorText);
                margin-bottom: 5px;
                padding-left: 20px;
                line-height: 20px;
                font-size: 14px;
            }

            ul li {
                @include box-sizing(border-box);
                list-style-image: none;
                color: var(errorText);
                display: inline-block;
                vertical-align: top;
                padding-right: 10px;
                min-width: 220px;
                width: 50%;
            }
        }
    }
}