@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "kwf/form/labelTopInputAll";
@import "kwf/form/labelCenterInputAll";
@import "kwf/form/labelLeftInputAll";
@import "kwf/form/label34Input60";
@import "kwf/form/labelLeft";
@import "kwf/form/label120";
@import "kwf/form/errorSimple";
@import "kwf/form/errorSimpleAlignRight";
@import "kwf/form/errorBubbles";

.cssClass {
/* ------------------------------------------ Basic Styling --------------------------------------*/
    .kwfFormFieldWrapper {
        position: relative;
    }

    &.responsive {
        &.veryNarrow {
            > div.kwcForm > form {
                div.kwfFormFieldWrapper {
                    input, textarea, select {
                        &.radio {
                            width: auto !important;
                        }

                        &[type='checkbox'] {
                            width: auto !important;
                        }
                    }
                }

                .kwfFormFieldFileUploadWrapper {
                    .underlayFileSelector {
                        a.kwfFormFieldFileUploadButton {
                            float: right;
                        }
                    }
                }
            }
        }

/* ------------------------------------------ Center-Style ---------------------------------------*/
        &.center {
            &.veryNarrow {
                @include labelCenterInputAll;
                @include errorSimple;
            }

            &.gt350 {
                @include labelCenterInputAll;
                @include errorSimple;
            }
        }

/* ------------------------------------------ SmallBox-Style ---------------------------------------*/
        &.smallBox {
            &.veryNarrow {
                @include labelLeftInputAll;
                @include errorSimple;
            }

            &.gt350 {
                @include labelLeftInputAll;
                @include errorSimple;
            }

            &.gt500 {
                @include label120;
                @include errorBubbles;
            }
        }

/* ------------------------------------------ CenterDefault-Style ---------------------------------------*/
        &.centerDefault {
            &.veryNarrow {
                @include labelCenterInputAll;
                @include errorSimple;
            }

            &.veryNarrow.gt350 {
                @include label34Input60;
                @include errorSimpleAlignRight;
            }

            &.gt350 {
                @include labelLeft;
            }

            &.gt500 {
                @include label120;
                @include errorBubbles;
            }
        }

/* ----------------------------------------- Default-Style ---------------------------------------*/
        &.default {
            &.veryNarrow {
                @include labelTopInputAll;
                @include errorSimple;
            }

            &.veryNarrow.gt350 {
                @include label34Input60;
                @include errorSimpleAlignRight;
            }

            &.gt350 {
                @include labelLeft;
            }

            &.gt500 {
                @include label120;
                @include errorBubbles;
            }
        }
    }

/* ----------------------------------------- Error Bubbles ---------------------------------------*/
    .kwfFieldErrorIconBubble {
        clear: left;

        .message {
            text-align: left;
        }
    }
}
