@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "kwf/form/label-top-input-all";
@import "kwf/form/label-center-input-all";
@import "kwf/form/label-left-input-all";
@import "kwf/form/label-34-input-60";
@import "kwf/form/label-left";
@import "kwf/form/label-120";
@import "kwf/form/error/icon-bubble/error-simple";
@import "kwf/form/error/icon-bubble/error-simple-align-right";
@import "kwf/form/error/icon-bubble/error-bubbles";

.cssClass {
/* ------------------------------------------ Basic Styling --------------------------------------*/
    .kwfFormFieldWrapper {
        position: relative;
    }

    &.responsive {
        &.veryNarrow {
            > div.kwcForm > form {
                div.kwfFormFieldWrapper {
                    input, textarea, select {
                        &.radio {
                            width: auto !important;
                        }

                        &[type='checkbox'] {
                            width: auto !important;
                        }
                    }
                }

                .kwfFormFieldFileUploadWrapper {
                    .underlayFileSelector {
                        a.kwfFormFieldFileUploadButton {
                            float: right;
                        }
                    }
                }
            }
        }
/* ------------------------------------------ Styles --------------------------------------*/
        &.center {
            &.veryNarrow {
                @include label-center-input-all;
                @include error-simple;
            }

            &.gt350 {
                @include label-center-input-all;
                @include error-simple;
            }
        }

        &.smallBox {
            &.veryNarrow {
                @include label-left-input-all;
                @include error-simple;
            }

            &.gt350 {
                @include label-left-input-all;
                @include error-simple;
            }

            &.gt500 {
                @include label-120;
                @include error-bubbles;
            }
        }

        &.centerDefault {
            &.veryNarrow {
                @include label-center-input-all;
                @include error-simple;
            }

            &.veryNarrow.gt350 {
                @include label-34-input-60;
                @include error-simple-align-right;
            }

            &.gt350 {
                @include label-left;
            }

            &.gt500 {
                @include label-120;
                @include error-bubbles;
            }
        }

        &.default {
            &.veryNarrow {
                @include label-top-input-all;
                @include error-simple;
            }

            &.veryNarrow.gt350 {
                @include label-34-input-60;
                @include error-simple-align-right;
            }

            &.gt350 {
                @include label-left;
            }

            &.gt500 {
                @include label-120;
                @include error-bubbles;
            }
        }
    }

/* ----------------------------------------- Error Bubbles ---------------------------------------*/
    .kwfFieldErrorIconBubble {
        clear: left;

        .message {
            text-align: left;
        }
    }
}
