div.vpcForumUser h1 {
    padding-left: 20px;
    margin: 0px; margin-bottom: 20px; 
    line-height: 25px;
    background: url(/assets/vps/Vpc/Forum/forumHeaderBg.jpg) repeat-x top left;
}
div.vpcForumUser h1.galery { margin-top: 20px; }
div.vpcForumUser h3 { font-size: 14px; }
div.vpcForumUser p strong { width: 300px; display: block; }

div.vpcForumUser div.text { padding-left: 20px; }
div.vpcForumUser div.avatar { float: right; }
div.vpcForumUser div.pfoten { margin-bottom: 10px; }
div.vpcForumUser div.pfoten img { margin-bottom: -4px; }
