@import "compass/css3/box-sizing";
@import "susy";
// @import "compass/utilities/general/clearfix";

.redMalleeListBottomStage {
    margin-right: 0px;
    @include box-sizing(border-box);
    padding: 0 15px;
    
    h1 {
        font-size: 16px;
        background: var(light);
        color: var(highlightedText);
        padding: 10px 15px;
        width: 200px;
        font-family: 'Myriad Pro';
    }
    
    .listItem {
        margin-bottom: 20px;
        padding-right: 20px;
        position: relative;
        @include box-sizing(border-box);
        .redMalleeListBottomStageItemImage img {
            border: 3px solid var(light);
            margin-left: 7px;
            margin-top: -30px;
            width: 100%;
            height: auto;
        }
        a {
            text-decoration: none;
        }
    }
    
    .kwcBasicHeadline {
        position: relative;
        z-index: 3;
    }
    
    .bottomStageHeadlineBg {
        background: url("/assets/kwf/themes/RedMallee/images/bottomStageHeadlineBg.png") no-repeat;
        width: 7px;
        height: 6px;
        position: absolute;
        left: 0px;
        top: 40px;
    }
    
    &.gt700 {
        .listItem {
            @include span-columns(1,2);
            &.kwcOdd {
                @include omega;
            }
        }
    &.gt979 {
        .listItem {
            @include span-columns(1,3);
            &:nth-child(3n+3) {
                @include omega;
            }
        }
    }
}
