.webZoom {
    display: block;
    position: absolute;
    bottom: 8px;
    right: 8px;
    width: 15px;
    height: 15px;
    background-image: url(/assets/vps/Vpc/Basic/ImageEnlarge/EnlargeTag/zoom.png);
    background-repeat: no-repeat;
}