.cssClass {
    .kwfup-kwcBasicImageEnlarge {
        text-align: center;

        img {
            display: inline;
        }
    }
}

.cssClass {
    &.gt420 {
        .image {
            margin-bottom: 3px;
            display: inline;
            max-width: 50%;
        }
    }

    &.gt420, &.largeText {
        .kwfup-kwcBasicImageEnlarge {
            img {
                display: block;
            }
        }

        .noFlow {
            .image {
                display: table-cell;
            }

            &.positionLeft, &.positionRight {
                .text {
                    display: table-cell;
                }
            }
        }

        .positionLeft, .positionRight { .imageCaption { text-align: left; }}
        .positionLeft .image { float: left; margin-right: 18px; }
        .positionRight .image { float: right; margin-left: 18px; }
        .positionCenter {
            .image {
                text-align: center;
                display: inline;

                > .kwcBasicImageEnlarge {
                    img {
                        margin-bottom: -3px;
                        display: inline;
                    }
                }
            }

            .text { display: block; }
        }

        .imageCaption {
            padding: 3px 0 5px 0;
        }
    }

    .kwcBasicImageEnlarge {
        margin: 0 auto;
    }

    .image {
        > .kwfup-kwcAbstractImage {
            max-width: 100% !important;
        }
    }

    .imageCaption {
        padding: 0 0 5px 0;
        text-align: center;
        margin: 0 auto;
    }
}
