.cssClass .positionLeft .image { float: left; margin-right: 18px; }
.cssClass .positionLeft .noFlow .text { padding-left: 18px; }
.cssClass .positionRight .image { float: right; margin-left: 18px; }
.cssClass .positionRight .noFlow .text { padding-right: 18px; }