.cssClass {
    .kwcBasicImageEnlarge {
        text-align: center;

        img {
            display: inline;
        }
    }
}

.cssClass.largeText {
    .kwcBasicImageEnlarge {
        img {
            display: block;
        }
    }

    .noFlow.smallImage {
        .image,
        .text {
            display: table-cell;
        }
    }

    .center .image {
        display: block;
        text-align: center;

        img {
            display: inline;
        }
    }

    .positionLeft .smallImage .image { float: left; margin-right: 18px; }
    .positionRight .smallImage .image { float: right; margin-left: 18px; }
    .center .kwcTextImageImageEnlarge { padding: 0px; }

    &.gt420 {
        .noFlow {
            .image,
            .text {
                display: table-cell;
            }
        }

        .center {
            .image,
            .text {
                display: inline;
            }
        }

        .positionLeft .image { float: left; margin-right: 18px; }
        .positionRight .image { float: right; margin-left: 18px; }
    }
}