@import "compass/utilities/general/clearfix";
@import "kwf/el-breakpoint";

.kwcClass {
    @include pie-clearfix;
    &.kwcBem__image {
        text-align: center;

        img {
            display: inline;
        }
    }

    @include el-breakpoint(420px) {
        .kwcBem__image {
            margin-bottom: 3px;
            display: inline;
            max-width: 50%;
        }
    }

    &.gt420, &.kwcBem--largeText {
        .kwcBem__image {
            img {
                display: block;
            }
        }

        &.kwcBem--noFlow {
            .kwcBem__image {
                display: table-cell;
            }

            &.kwcBem--positionLeft, &.kwcBem--positionRight {
                .kwcBem__text {
                    display: table-cell;
                }
            }
        }

        &.kwcBem--positionLeft, &.kwcBem--positionRight { .kwfUp-imageCaption { text-align: left; } }
        &.kwcBem--positionLeft .kwcBem__image { float: left; margin-right: 18px; }
        &.kwcBem--positionRight .kwcBem__image { float: right; margin-left: 18px; }
        &.kwcBem--positionCenter {
            .kwcBem__image {
                text-align: center;
                display: inline;

                img {
                    margin-bottom: -3px;
                    display: inline;
                }
            }

            .kwcBem__text { display: block; }
        }

        .kwfUp-imageCaption {
            padding: 3px 0 5px 0;
        }
    }

    .kwfUp-kwcImage {
        margin: 0 auto;
    }

    .kwcBem__image {
        > .kwfUp-kwcImage {
            max-width: 100% !important;
        }
    }

    .kwfUp-imageCaption {
        padding: 0 0 5px 0;
        text-align: center;
        margin: 0 auto;
    }
}
