@import "compass/css3/box-sizing";

@mixin label-34-input-60 {
    .kwfField {
        > label {
            @include box-sizing(border-box);
            margin-right: 6%;
            max-width: 34%;
            min-width: 34%;
        }
    }

    .kwfUp-kwfFormFieldWrapper.kwfUp-hasLabel {
        input, textarea, select, {
            @include box-sizing(border-box);
            max-width: 60%;
        }
    }
}
