@mixin label-top-input-all {
    > div.kwfUp-kwcForm > form {
        .kwfUp-kwfFormFieldWrapper {
            > input, textarea, select {
                box-sizing: border-box;
                width: 100% !important;
            }
        }
    }

    .kwfFormFieldRadio {
        .kwfUp-kwfFormFieldWrapper {
            label {
                width: auto !important;
            }
        }
    }
}
