@mixin label-34-input-60 {
    .kwfField {
        > label {
            box-sizing: border-box;
            margin-right: 6%;
            max-width: 34%;
            min-width: 34%;
        }
    }

    .kwfUp-kwfFormFieldWrapper.kwfUp-hasLabel {
        input, textarea, select {
            box-sizing: border-box;
            max-width: 60%;
        }
    }
}
