@mixin label-center-input-all {
    > div.kwfUp-kwcForm > form {
        .kwfUp-kwfFormFieldWrapper {
            > input, textarea, select {
                box-sizing: border-box;
                width: 100% !important;
            }
        }

        label {
            display: inline-block;
            min-width: 100%;
            text-align: center;
        }

        .kwfFormFieldRadio {
            .kwfUp-kwfFormFieldWrapper {
                label {
                    width: auto !important;
                    display: inline;
                }
            }
        }

        .kwcFormFieldMultiCheckbox {
            .kwfUp-kwfFormFieldWrapper {
                label {
                    width: auto !important;
                    display: inline;
                }
            }
        }
    }
}
