@mixin label-X-margin-X-input-X($label, $margin, $input) {
    .kwfField {
        > label {
            box-sizing: border-box;
            margin-right: $margin;
            max-width: $label;
            min-width: $label;
        }
    }

    .kwfUp-kwfFormFieldWrapper.kwfUp-hasLabel {
        input, textarea, select {
            box-sizing: border-box;
            max-width: $input;
        }
    }
}
