@mixin label-left-input-all {
    > div.kwfUp-kwcForm > form {
        .kwfUp-kwfFormFieldWrapper {
            display: table-cell;
            width: 100%;

            > input, textarea, select {
                box-sizing: border-box;
                width: 100% !important;
            }
        }

        label {
            box-sizing: border-box;
            display: table-cell;
            vertical-align: top;
            padding-right: 20px;
            margin-right: 0px;
            text-align: left;
            min-width: 60px;
        }

        .kwfFormFieldRadio {
            .kwfUp-kwfFormFieldWrapper {
                label {
                    display: inline;
                    vertical-align: middle;
                }
            }
        }

        .kwcFormFieldMultiCheckbox {
            .kwfUp-kwfFormFieldWrapper {
                label {
                    display: inline;
                    vertical-align: middle;
                }
            }
        }
    }
}
