@import "config/default-loading-animation-small";

.webResponsiveImgLoading {
    position: relative;
}

.webResponsiveImgLoading:after {
    @include default-loading-animation-small;
    background-position: center;
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 2;
}

.webResponsiveImgLoading:before {
    background: none transparent;
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    content: "";
    margin: 0;
    bottom: 0;
    right: 0;
    left: 0;
    top: 0;
    z-index: 1;
}
