.webResponsiveImgLoading {
    background-image: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    background-color: white;
}
