div.forumMoveThread p.massage {
    color: #FF9600;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #FF9600;
    margin-bottom: 15px; margin-top: 15px;
}

div.forumMoveThread fieldset { height: 70px; border: 1px solid #CCCCCC;}
div.forumMoveThread legend { margin-left: 20px; font-weight: bold; color: #8F8373; margin-bottom:10px;}

div.forumMoveThread a.threadClose,
div.forumMoveThread a.threadOpen,
div.forumMoveThread a.themaVerschieben {
    background:transparent url(/assets/vps/Vpc/Forum/themaBtn.jpg) no-repeat scroll left top;
    color:#786047;
    font-weight:bold;
    margin-left: 20px;
    padding: 5px 25px;
    line-height: 30px;
}
div.forumMoveThread a.threadClose { padding: 5px 32px; margin-left: 110px; }
div.forumMoveThread a.threadOpen { padding: 5px 42px; margin-left: 110px; }

div.forumMoveThread a.threadClose:hover,
div.forumMoveThread a.threadOpen:hover,
div.forumMoveThread a.themaVerschieben:hover { color: #FF9600; }

div.forumMoveThread h1 {
    background: transparent url(/assets/vps/Vpc/Forum/forumHeaderBg.jpg) repeat-x scroll left top;
    color: #786047;
    font-weight: bold;
    line-height: 25px;
    margin: 0px;
    padding-left: 10px;
}
div.forumMoveThread h3 {
    background: transparent url(/assets/vps/Vpc/Forum/forumSubHeaderBg.jpg) repeat-x scroll left top;
    line-height: 25px;
    margin: 0px 0px 20px;
    padding-left: 20px;
}

div.forumMoveThread ul li.title ul { margin-top: 5px; }