.cssClass {
    h3 {
        border-bottom: 2px solid #ccc;
        padding: 10px;
        font-size: 16px;
        color: #222;
    }
    ul {
        margin-top: 15px;
        padding-left: 10px;
        li, a {
            font-weight: normal;
            font-size: 12px;
        }
        li {
        }
    }
}
