@import "compass/css3/images";

.cssClass.webStandard {
    @include background(linear-gradient(#585858, #3d3d3d));
    
    ul {
        height: 42px;
        margin-bottom: 0;
        margin-left: 20px;
    }

    li {
        height: 42px;
        border-right: 1px solid #444;
        float: left;
        display: block;
        font-size: 14px;
        margin-bottom: 0;
        
        &.last {
            border-right: none;
        }
        &.current {
            font-weight: bold;
        }

        a {
            height: 42px;
            padding: 0 10px;
            display: block;
            line-height: 3em;
            color: #eee;

            &:hover {
                color: #373737;
                @include background(linear-gradient(#f9f9f9, #e5e5e5));
            }
        }
    }
}

