@import "kwf/table/flip-scroll";

.kwcClass {
    margin-bottom: 10px;

    table {
        width: 100%;

        tr {
            th { font-weight: bold; }
            td { padding: 2px 0px; }
        }
    }

    &.flipScroll {
        table {
            @include flip-scroll;
        }
    }
}
