@import "compass/css3/transition";
@import "kwf/css3/border-radius";

.cssClass {
    padding-left: 3px;
    margin-top: 3px;
    .kwcForm {
        position: relative;
        float: right;

        .webForm input {
            float: right;
            @include transition(width 0.4s ease, background 0.4s ease);
            width: 80px;
            font-size: 14px;
            height: 22px;
            line-height: 1.2em;
            padding: 4px 10px 4px 28px;
            border: none;
            color: #707070;
            color: var(lightGrey);
    
            &:focus {
                width: 200px;
            }
        }
    }
    .loupe {
        background: url('/assets/kwf/themes/RedMallee/images/search.png') no-repeat;
        width: 45px;
        height: 37px;
        content: ' ';
        display: block;
        position: relative;
        float: right;
        margin-right: -27px;
        margin-top: -2px;
    }
}
