@import "compass/css3/transition";
@import "kwf/css3/border-radius";

.redMalleeFulltextSearchBox {
    padding-left: 3px;
    margin-top: 3px;

    .webForm input {
        float: right;
        @include transition(width 0.4s ease, background 0.4s ease);
        width: 80px;
        background: url("/assets/kwf/themes/RedMallee/FulltextSearch/Box/search.png") no-repeat scroll 5px 6px #F6F6F6 !important;
        @include border-radius-pie(5px);
        font-size: 14px;
        height: 22px;
        line-height: 1.2em;
        padding: 4px 10px 4px 28px;

        &:focus {
            width: 200px;
            background-color: #f9f9f9;
        }
    }
}
