<div class="{{ cssClass }}">
    <input type="hidden" value="{{ config|json_encode() }}" />
    <a class="showMenu" href="#">
        {{ placeholder.menuLink }}
    </a>
    <div class="slider"></div>
</div>
