@import "config/colors";
@import "kwf/background-image-dpr2";

.kwcClass {
    overflow: hidden;

    &.kwfUp-loading {
        min-height: 115px;
    }
    &.kwfUp-default {
        background: white;
        width: 100%;

        span.kwfUp-overview {
            display: none;
        }

        > a.kwfUp-showMenu {
            display: block;
            position: relative;
            line-height: 40px;
            color: var(mainColor);
            float: right;
            width: 52px;
            z-index: 1;
            top: 0px;
            transition-delay: 0.4s;
            transition-property: all;
            transition-duration: 0s;
            &.active {
                background-position: left center;
                transition-delay: 0s;
                transition-property: all;
                transition-duration: 0s;
            }
        }
        > .kwfUp-slider {
            position: relative;

            > ul {
                overflow: hidden;
                clear: left;
                position: absolute;
                padding-bottom: 20px;

                > li {
                    > .kwfUp-subMenu {
                        top:50px;

                        > li {
                            > .kwfUp-subMenu {
                                top: -1px;
                            }
                        }
                    }
                }
            }

            ul {
                display: block;
                height: auto;
                width: 100%;

                li {
                    box-sizing: border-box;
                    padding: 0 15px 0 15px;
                    position: relative;
                    display: block;

                    &.kwfUp-moved {
                        position: static;

                        > .kwfUp-subMenu {
                            visibility: visible;
                        }
                    }
                    &.kwfUp-back {
                        a {
                            border-top: 1px solid #ccc;
                        }
                    }
                    a {
                        padding: 16px 0 16px 0;
                        display: block;
                        color: $mainColor;
                    }
                    &.kwfUp-last {
                        a {
                            border: none;
                        }
                    }
                    &.kwfUp-hasChildren > a {
                        @include background-image-dpr2('~kwf/Kwc/Menu/Mobile/images/', 'lightGreyArrowRight.png', 10px, 18px, no-repeat center right);
                    }
                    .kwfUp-subMenu {
                        position: absolute;
                        left: 100%;
                        visibility: hidden;
                    }
                    &.kwfUp-back a {
                        @include background-image-dpr2('~kwf/Kwc/Menu/Mobile/images/', 'lightGreyArrowLeft.png', 10px, 18px, no-repeat center left);
                        padding-left: 15px;
                        color: #999;
                    }
                }
            }

            ul.kwfUp-menu {
                > li.onlyShowOnMobile {
                    display: block;
                }
                > li.hideOnMobile {
                    display: none;
                }
            }
        }

        .kwfUp-item--selected {
            font-weight: bold;
        }
    }

    .kwfUp-showMenu {
        display: block;
        position: relative;
        line-height: 40px;
        color: $mainColor;
        float: right;
        width: 52px;
        z-index: 1;
        top: 0px;
        transition-delay: 0.4s;
        transition-property: all;
        transition-duration: 0s;

        &.kwfUp-active {
            background-position: left center;
            transition-delay: 0s;
            transition-property: all;
            transition-duration: 0s;
        }
    }
}
