<div class="{{ cssClass }}">
    <div class="loadingMenu"><div class="innerLoading"></div></div>
    <input type="hidden" value="{{ config|json_encode() }}" />
    {% block showMenu %}
    <a class="showMenu" href="#">
        {{ placeholder.menuLink }}
    </a>
    {% endblock %}
    {% block beforeSlider %}{% endblock %}
    <div class="slider"></div>
    {% block afterSlider %}{% endblock %}
</div>
