<nav class="{{ rootElementClass }}">
    <div class="kwfUp-loadingMenu"><div class="kwfUp-innerLoading"></div></div>
    <input type="hidden" value="{{ config|json_encode() }}" />
    {% block showMenuButton %}
    <a class="kwfUp-showMenu" href="#">
        {{ placeholder.menuLink }}
    </a>
    {% endblock %}
    {% block beforeSlider %}{% endblock %}
    {% block slideContainer %}
    <div class="kwfUp-slider" data-mobile-slider="true"></div>
    {% endblock %}
    {% block afterSlider %}{% endblock %}
</nav>
