@import "config/colors";
@import "compass/css3/box-sizing";
@import "kwf/background-image-dpr2";
@import "compass/css3/transition";

.kwc-class {
    overflow: hidden;

    &.loading {
        min-height: 115px;
    }
    &.default {
        background: white;
        width: 100%;

        > a.showMenu {
            display: block;
            position: relative;
            line-height: 40px;
            color: $mainColor;
            float: right;
            width: 52px;
            z-index: 1;
            top: 0px;
            @include transition-delay(0.4s);
            @include transition-property(all);
            @include transition-duration(0s);
            &.active {
                background-position: left center;
                @include transition-delay(0s);
                @include transition-property(all);
                @include transition-duration(0s);
            }
        }
        > .slider {
            position: relative;
            > ul {
                overflow: hidden;
                clear: left;
                position: absolute;
                padding-bottom: 20px;
                > li {
                    > .subMenu {
                        top:50px;
                        > li {
                            > .subMenu {
                                top: -1px;
                            }
                        }
                    }
                }
            }
            ul {
                display: block;
                height: auto;
                width: 100%;
                li {
                    @include box-sizing(border-box);
                    padding: 0 15px 0 15px;
                    position: relative;
                    display: block;
                    &.moved {
                        position: static;
                        > .subMenu {
                            visibility: visible;
                        }
                    }
                    &.back {
                        a {
                            border-top: 1px solid #ccc;
                        }
                    }
                    a {
                        padding: 16px 0 16px 0;
                        display: block;
                        color: $mainColor;
                    }
                    &.last {
                        a {
                            border: none;
                        }
                    }
                    &.hasChildren > a {
                        @include background-image-dpr2('/assets/kwf/Kwc/Menu/Mobile/images/', 'lightGreyArrowRight.png', 10px, 18px, no-repeat center right);
                    }
                    .subMenu {
                        position: absolute;
                        left: 100%;
                        visibility: hidden;
                    }
                    &.back a {
                        @include background-image-dpr2('/assets/kwf/Kwc/Menu/Mobile/images/', 'lightGreyArrowLeft.png', 10px, 18px, no-repeat center left);
                        padding-left: 15px;
                        color: #999;
                    }
                }
            }

            ul.menu {
                > li.onlyShowOnMobile {
                    display: block;
                }
                > li.hideOnMobile {
                    display: none;
                }
            }
        }
    }
}
