{% if links|length %}
    <div class="{{ cssClass }}">
        {% for item in items %}
            {{ renderer.componentLink(item.data, '{name}', item.class) }}
            {% if not item.last %}{{ separator|raw }}{% endif %}
        {% endfor %}
    </div>
{% endif %}
