.x2-column-tree .x2-tree-node {
    zoom:1;
}
.x2-column-tree .x2-tree-node-el {
    /*border-bottom:1px solid #eee; borders? */
    zoom:1;
}
.x2-column-tree .x2-tree-selected {
    background: #d9e8fb;
}
.x2-column-tree  .x2-tree-node a {
    line-height:18px;
    vertical-align:middle;
}
.x2-column-tree  .x2-tree-node a span{
    
}
.x2-column-tree  .x2-tree-node .x2-tree-selected a span{
    background:transparent;
    color:#000;
}
.x2-tree-col {
    float:left;
    overflow:hidden;
    padding:0 1px;
    zoom:1;
}

.x2-tree-col-text, .x2-tree-hd-text {
    overflow:hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    padding:3px 3px 3px 5px;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x2-tree-col-buttons, .x2-tree-hd-buttons {
    float:left;
    overflow:hidden;
    white-space: nowrap;
}

.x2-tree-headers {
    background: #f9f9f9 url(/assets/ext2/resources/images/default/grid/grid3-hrow.gif) repeat-x 0 bottom;
    cursor:default;
    zoom:1;
}

.x2-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}
