.$cssClass form .vpsField label {
    line-height: 20px;
}
.$cssClass form button {
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #000;
    background-color: #fff;
    margin: 5px 0px;
    padding: 4px;
    cursor: pointer;
}
.$cssClass input,
.$cssClass textarea,
.$cssClass select {
    padding: 2px;
    margin-bottom: 4px;
}
.$cssClass form .vpsFormFieldCheckbox input {
    width: auto;
    border: none;
    background: none;
    margin-left: 5px;
    margin-top: 3px;
}
.ext-ie6 .$cssClass form .vpsFormFieldCheckbox label {
    margin-right: 0px;
}
.$cssClass form .vpsFormFieldCheckbox label {
    margin-right: 15px;
}
.$cssClass label {
    float: left;
    margin-right: 20px;
    text-align: right;
}
.$cssClass .vpsFieldLabelAlignTop label {
    width: auto;
    margin: 0px;
    text-align: left;
}
.$cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.$cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.$cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.$cssClass .vpsFormFieldFileInner img {
    float: left;
}
.$cssClass .vpsFormFieldFileInner input {
    float: right;
}
.$cssClass .vpsFormFieldFileInner div.deleteImage {
    float: right;
    margin-left: 10px;
    margin-right: 2px;
}
.ext-ie7 .$cssClass .vpsFormFieldFileInner div.deleteImage {
    margin-right: 4px;
}
.ext-safari .$cssClass .vpsFormFieldFileInner div.deleteImage {
    float: right;
    margin-top: 10px;
    margin-right: -243px;
}
.$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 210px;
    overflow: hidden;
    float: right;
    margin-top: 10px;
    text-align: right;
}
.ext-ie6 .$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 200px;
}
.ext-ie7 .$cssClass .vpsFormFieldFileInner .vpsFormFieldFileInfo {
    width: 130px;
}
