.cssClass .form_housenumber,
.cssClass .form_city {
    clear: none;
}
.cssClass form .vpsField label,
.cssClass form .vpsField span.fieldContent {
    line-height: 20px;
    clear: both;
}
.cssClass .vpsButtonFlat button {
    font-weight: bold;
    border: 1px solid #000;
    background-color: #fff;
    padding: 4px;
    cursor: pointer;
    height: 25px;
    overflow: visible;
}
.cssClass .submitWrapper {
    text-align: center;
    clear: both;
}
.cssClass .submitWrapper .beforeButton,
.cssClass .submitWrapper .button,
.cssClass .submitWrapper .afterButton {
    float: left;
}
.cssClass input,
.cssClass textarea,
.cssClass select {
    padding: 2px;
    margin-bottom: 4px;
}
.cssClass input.radio {
    margin-left: 10px;
    border: none;
    background: none;
}
.cssClass form .vpsFormFieldCheckbox input {
    width: auto;
    border: none;
    background: none;
    margin-left: 5px;
    margin-top: 3px;
}
.ext-ie6 .cssClass form .vpsFormFieldCheckbox label {
    margin-right: 0px;
}
.cssClass form .vpsFormFieldCheckbox label {
    margin-right: 15px;
}
.cssClass label {
    float: left;
    width: 120px;
    margin-right: 20px;
    text-align: right;
}
.cssClass .vpsFieldRequired label { font-weight: bold; }
.cssClass .vpsFieldRequired span label { font-weight: normal; }
.cssClass .vpsFieldLabelAlignTop label {
    width: auto;
    margin: 0px;
    text-align: left;
}
.cssClass .vpsFieldLabelAlignLeft label {
    text-align: left;
}
.cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.cssClass .vpsFormFieldRadio {
    margin-left: -10px;
}
.cssClass form .vpsFormFieldRadio label {
    margin-left: 10px;
    margin-right: 20px;
    clear: none;
}
.cssClass form .vpsFormFieldRadio input { margin: 0px; padding: 0px; }
.cssClass form .vpsFormFieldRadioVertical,
.cssClass form .vpsFormFieldRadioHorizontal { margin-left: 150px; }
.cssClass form .vpsFormFieldRadioHorizontal label { float: none; width: auto; margin-left: 0px; }
.cssClass form .vpsFormFieldRadioHorizontal span { white-space: nowrap; }
.cssClass form .vpsFormFieldRadioVertical span { display: block; }
.cssClass form .vpsFormFieldRadioVertical span label { margin-left: 0px; }
.cssClass form .vpsFormFieldRadioVertical label { float: none; }
.ext-ie .cssClass .form_title {
    margin-top: -5px;
    padding-bottom: 5px;
}
.ext-ie .cssClass .form_title label {
    margin-top: 5px;
}
.ext-ie .cssClass .form_title input {
    margin-bottom: 0px;
}
.cssClass .vpcFormError {
    border: 1px dashed $mainColor;
    margin-bottom: 20px;
    padding: 10px 10px 0px 10px !important;
}
.cssClass .vpcFormError p.error {
    font-weight: bold;
    color: $mainColor;
}
.cssClass span.comment { margin-left: 10px; color: #999; }
.cssClass .vpsField { clear: both; }

.cssClass .vpsFieldError label { color: red; } /* TODO beserer standard-wert */
