.$cssClass .form_housenumber,
.$cssClass .form_city {
    clear: none;
}
.$cssClass form .vpsField label {
    line-height: 20px;
    clear: both;
}
.$cssClass form button {
    font-weight: bold;
    border: 1px solid #000;
    background-color: #fff;
    padding: 4px;
    cursor: pointer;
    height: 25px;
}
/*styling für buttons, die eine variable länge haben, aber zb. abgerundet sind*/
.$cssClass .submitWrapper span {
    display: block;
    float: left;
}
.$cssClass input,
.$cssClass textarea,
.$cssClass select {
    padding: 2px;
    margin-bottom: 4px;
}
.$cssClass input.radio {
    margin-left: 10px;
    border: none;
    background: none;
}
.$cssClass form .vpsFormFieldCheckbox input {
    width: auto;
    border: none;
    background: none;
    margin-left: 5px;
    margin-top: 3px;
}
.ext-ie6 .$cssClass form .vpsFormFieldCheckbox label {
    margin-right: 0px;
}
.$cssClass form .vpsFormFieldCheckbox label {
    margin-right: 15px;
}
.$cssClass label {
    float: left;
    margin-right: 20px;
    text-align: right;
}
.$cssClass .vpsFieldLabelAlignTop label {
    width: auto;
    margin: 0px;
    text-align: left;
}
.$cssClass .showField {
    font-weight: bold;
    margin-bottom: 9px;
}
.$cssClass fieldset {
    margin-bottom: 20px;
    padding: 10px;
}
.$cssClass fieldset legend {
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
}
.$cssClass .vpsFormFieldRadio {
    margin-left: -10px;
}
.$cssClass .vpsFormFieldRadio label{
    margin-left: 10px;
    margin-right: 20px;
}
.ext-ie .$cssClass .form_title {
    margin-top: -5px;
    padding-bottom: 5px;
}
.ext-ie .$cssClass .form_title label {
    margin-top: 5px;
}
.ext-ie .$cssClass .form_title input {
    margin-bottom: 0px;
}
.$cssClass .error {
    padding: 10px;
}
.$cssClass .error h1 {
    font-weight: bold;
    font-size: 12px;
}
.$cssClass span.comment { margin-left: 10px; color: #999; }
