.$cssClass ul {
    padding-top: 10px;
}
.$cssClass .products {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.$cssClass .products img {
    float: left;
    margin-right: 20px;
}
.$cssClass .products h1 { margin-bottom: 0px; }
