.kwcClass ul {
    padding-top: 10px;
}
.kwcClass .products {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.kwcClass .products img {
    float: left;
    margin-right: 20px;
}
.kwcClass .products h1 { margin-bottom: 0px; }
