.kwc-class ul {
    padding-top: 10px;
}
.kwc-class .products {
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.kwc-class .products img {
    float: left;
    margin-right: 20px;
}
.kwc-class .products h1 { margin-bottom: 0px; }
