@import "compass/utilities/general/clearfix";

.kwcClass {
    ul {
        @include pie-clearfix;

        .kwcBem__item {
            display: block;
            float: left;

            &.hover, &:hover {
                .kwcBem__dropdown {
                    display: block;
                }
            }
        }

        .kwcBem__link {
            display: block;
            width: auto;
        }
    }

    .kwcBem__dropdown {
        position: absolute;
        background: white;
        display: none;

        ul {
            margin-bottom: -1px;

            li {
                float: none;
                margin: 0px;

                a {
                    padding: 0px;
                    float: none;
                }
            }
        }
    }
}
