.cssClass .webSuccess { font-weight: bold; }

.cssClass .webSearchSuccess,
.cssClass .webSuccess {
    padding: 10px 10px 5px 10px;
    background: var(successBg) url('/assets/kwf/images/stripes.png') repeat left 3px ;
    border: 1px solid var(successBorder) ;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cssClass .webSearchSuccess p,
.cssClass .webSuccess p {
    color: var(successText) ;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/kwf/images/iconTick.png') no-repeat left center;
}
.cssClass .webSearchError,
.cssClass .webFormError {
    padding: 10px 10px 5px 10px;
    background: var(errorBg) url('/assets/kwf/images/stripes.png') repeat left 3px;
    border: 1px solid var(errorBorder) ;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cssClass .webSearchError p,
.cssClass .webFormError p {
    color: var(errorText) ;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/kwf/images/iconAlert.png') no-repeat left center;
}
.cssClass .webFormError li { color: var(errorText) ; }

.cssClass .webSearchHelper p,
.cssClass .webForm span.comment {
    font-size: 11px;
    color: var(highlightText);
    padding: 3px 10px 3px 25px;
    background: var(highlightBg) url('/assets/kwf/images/iconInfo.png') no-repeat 7px center;
    border: 1px solid var(highlightBorder);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.cssClass .webForm span.comment { position: absolute; top: 0px; }