.webSuccess { font-weight: bold; }

.webSearchSuccess,
.webSuccess {
    padding: 10px 10px 5px 10px;
    background: var(successBg) url('/assets/web/images/stripes.png') repeat left 3px !important;
    border: 1px solid var(successBorder) !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webSearchSuccess p,
.webSuccess p {
    color: var(successText) !important;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/web/images/iconTick.png') no-repeat left center;
}
.webSearchError,
.webFormError {
    padding: 10px 10px 5px 10px;
    background: var(errorBg) url('/assets/web/images/stripes.png') repeat left 3px;
    border: 1px solid var(errorBorder) !important;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webSearchError p,
.webFormError p {
    color: var(errorText) !important;
    margin-bottom: 5px;
    padding-left: 20px;
    background: url('/assets/web/images/iconAlert.png') no-repeat left center;
}
.webFormError li { color: var(errorText) !important; }

.webSearchHelper p,
.webForm span.comment {
    font-size: 11px;
    color: var(highlightText);
    padding: 3px 10px 3px 25px;
    background: var(highlightBg) url('/assets/web/images/iconInfo.png') no-repeat 7px center;
    border: 1px solid var(highlightBorder);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.webForm span.comment { position: absolute; top: 0px; }