@import "compass/css3/box-sizing";
@import "compass/css3/transition";
@import "compass/css3/opacity";

.kwfUp-kwcMenuDropdownMaskMask {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 11;
    background: #000000;
    visibility: hidden;
    @include opacity(0.7);

    &.visible {
        visibility: visible;
    }
    &.notBody {
        position: absolute;
    }
}

.kwcClass {
    position: relative;
    display: block;
    width: inherit;
    height: 30px;

    &.kwcMenuDropdown {
        ul {
            li {
                .dropdown {
                    margin-left: 0;
                    z-index: 50;
                    display: none;
                    ul {
                        margin: 0;
                        background: #FFFFFF;
                        min-width: 150px;

                        li {
                            @include box-sizing(border-box);
                            float: left;
                            width: 100%;
                            display: block;
                            a {
                                padding: 5px 10px;
                            }

                            &.first {
                                padding-top: 10px;
                            }
                            &.last {
                                margin-bottom: 10px;
                            }
                        }
                    }
                    &.blocked {
                        display: none;
                    }
                }
            }
        }
    }

    ul {
        li {
            margin-bottom: 0px;
            position: relative;
            padding: 5px 0;
            a {
                font-size: 14px;
                padding: 0 10px;
                z-index: 2;
                position: relative;
                display: block;
                font-weight: 500;

            }
            &.current >  a {
                color: #000000;
            }
            &.last {
                a {
                    padding: 0 0 0 10px;
                }
            }
            ul li {
                &.last {
                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
