.kwfUp-kwcMenuDropdownMaskMask {
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 11;
    background: #000000;
    visibility: hidden;
    opacity: 0.7;

    &.visible {
        visibility: visible;
    }
    &.notBody {
        position: absolute;
    }
}

.kwcClass {
    position: relative;
    display: block;
    width: inherit;
    height: 30px;

    ul {
        li {
            .kwcBem__dropdown {
                margin-left: 0;
                z-index: 50;
                display: none;
                ul {
                    margin: 0;
                    background: #FFFFFF;
                    min-width: 150px;

                    li {
                        box-sizing: border-box;
                        float: left;
                        width: 100%;
                        display: block;
                        a {
                            padding: 5px 10px;
                        }

                        &.kwcBem__item--first {
                            padding-top: 10px;
                        }
                        &.kwcBem__item--last {
                            margin-bottom: 10px;
                        }
                    }
                }
                &.blocked {
                    display: none;
                }
            }
        }
    }

    ul {
        li {
            margin-bottom: 0px;
            position: relative;
            padding: 5px 0;
            a {
                font-size: 14px;
                padding: 0 10px;
                z-index: 2;
                position: relative;
                display: block;
                font-weight: 500;

            }
            &.kwcBem__item--current >  a {
                color: #000000;
            }
            &.kwcBem__item--last {
                a {
                    padding: 0 0 0 10px;
                }
            }
            ul li {
                &.kwcBem__item--last {
                    a {
                        padding: 5px 10px;
                    }
                }
            }
        }
    }
}
