.kwcClass {
    display: block;
    margin: 0px;
}
.kwcClass .kwcBem__outerContainer {
    display: block;
}
.kwcClass .kwcBem__container {
    height: 0;
    position: relative;
    overflow: hidden;
    display: block;
}

.kwcClass img {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    border: none;
}
