.kwc-abstract-image-dimension-window-crop-panel .information {
    background-image: url('/assets/silkicons/error.png');
    background-repeat: no-repeat;
    padding-left: 22px;
    margin: 3px;
    margin-left: 6px;
    background-position: left center;
}
