@import "compass/css3/box-sizing";
@import "compass/css3/opacity";

.kwc-abstract-image-image-upload-big-preview {
    height: 184px;
    width: 495px;
    position: relative;
    margin-bottom: 4px;
}

.kwc-abstract-image-imageuploadfile-container,
.kwc-abstract-image-dimension-container {
    position: static;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .previewImage {
    margin-right: 0px;
    padding: 0px;
    @include box-sizing(border-box);
    border-color: #ccc;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .box {
    width: 390px;
    height: 184px;
    border: none;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .box {
    float: left;
    border-color: #CCCCCC;
    border-width: 4px;
    border-style: dashed;
    width: 382px;
    height: 176px;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .deleteButton {
    display: none;
}
.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .deleteButton {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline;
    @include opacity(0.3);
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .uploadButton {
    position: absolute;
    bottom: 100px;
    right: 120px;
}
.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .uploadButton {
    bottom: 5px;
    right: 85px;
    @include opacity(0.3);
}

.kwc-abstract-image-dimension-cropbutton {
    position: absolute;
    bottom: 5px;
    left: 110px;
    @include opacity(0.3);
}

.kwc-abstract-image-image-upload-big-preview:hover .kwc-dimensionfield-container .kwc-abstract-image-dimension-cropbutton,
.kwc-abstract-image-image-upload-big-preview:hover .kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .uploadButton,
.kwc-abstract-image-image-upload-big-preview:hover .kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .deleteButton {
    @include opacity(1);
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .info-container {
    position: absolute;
    top: 0px;
    right: 5px;
    text-align: right;
    color: white;
    z-index: 1;
    display: none;
}

.kwc-abstract-image-dimension-name {
    top: 20px;
    position: absolute;
    width: 390px;
    text-align: center;
    font-weight: bold;
}

.image-uploaded .kwc-abstract-image-dimension-name {
    font-weight: normal;
    width: auto;
    top: 3px;
    left: 110px;
    color: white;
    z-index: 1;
    display: none;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background {
    background-image: url('/assets/kwf/images/cropimage/blackPx85.png');
    height: 20px;
    width: 390px;
    top: 0px;
    position: absolute;
    display: none;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background.error {
    background-image: url('/assets/kwf/images/cropimage/redPx85.png');
    height: auto;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background .message {
    display: none;
}
.kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background.error .message {
    display: block;
    color: white;
    font-weight: bold;
    margin-top: 15px;
    padding: 5px;
}

.kwc-abstract-image-image-upload-big-preview:hover .kwc-abstract-image-dimension-name,
.kwc-abstract-image-image-upload-big-preview:hover .kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .info-container,
.kwc-abstract-image-image-upload-big-preview:hover .kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background,,
.kwc-abstract-image-image-upload-big-preview.error .kwc-abstract-image-dimension-name,
.kwc-abstract-image-image-upload-big-preview.error .kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .info-container,
.kwc-abstract-image-image-upload-big-preview.error .kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .box .hover-background {
    display: block;
}

.kwc-abstract-image-image-upload-file {
    position: relative;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .hint {
    display: inline;
    position: absolute;
    color: #CCCCCC;
    font-weight: bold;
    font-size: 20px;
    left: 0px;
    width: 100%;
    text-align: center;
    top: 90px;
    text-transform: uppercase;
}
.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField.file-uploaded .hint {
    display: none;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .swfUploadField .box .empty {
    display: none;
}

.kwc-abstract-image-imageuploadfile-container.x2-form-element .kwc-abstract-image-image-upload-file .filedescription .filename {
    white-space: nowrap;
    overflow: hidden;
}
