.kwc-abstract-image-image-upload-big-preview
    .kwc-abstract-image-image-upload-big-preview-body
    .kwc-dimensionfield-container.x-form-item {
    overflow: visible;
    height: 0;
}

.kwc-abstract-image-image-upload-file .filedescription .filename {
    overflow: hidden;
    max-height: 36px;
    line-height: 12px;
}

.kwc-abstract-image-image-upload-file .empty {
    background-color: #ffffff;
}
