.imageUploadBigPreview .imageUploadContainer {
    /*padding-left: 0px !important;*/
}

/* position of dimension text and button */
.imageUploadBigPreview .dimensionContainer {
    height: 0;
    left: 122px;
    top: -46px;
}

/* position of help-text icon */
.imageUploadBigPreview div div div > a {
    left: 464px !important;
    top: -88px !important;
}

.imageUploadFile .filedescription .filename {
    overflow: hidden;
    max-height: 36px;
    line-height: 12px;
}
