a.notObserved {
    background: url(/assets/vps/Vpc/Forum/notObserved.jpg) no-repeat 0px 1px;
    line-height: 24px;
    padding-left: 28px;
    float: right;
}
a.notObserved:hover,
a.observed:hover {
    background: url(/assets/vps/Vpc/Forum/observedOver.jpg) no-repeat 0px 1px;
}
a.observed {
    background: url(/assets/vps/Vpc/Forum/observed.jpg) no-repeat 0px 1px;
    padding-left: 28px;
    float: right;
    line-height: 24px;
}