.page .x-tree-node-icon {
    background-image:url(/assets/vps/images/silkicons/page.png);
}

.page_red .x-tree-node-icon {
    background-image:url(/assets/vps/images/silkicons/page_red.png);
}

.folder .x-tree-node-icon {
    background-image:url(/assets/vps/images/silkicons/folder_page.png);
}
