$mainColor: #314659;
$secColor: #1E3040;

$highlightedText: #c90000;
$contentBg: #f4f4f4;
$typo: #414742;
$dark: #000;
$light: #fff;
$lightGrey: #707070;

$errorBg: #d11313;
$errorBorder: #bb1d1d;
$errorText: #fff;
$successBg: #7db800;
$successBorder: #1e7638;
$successText: #fff;
