.cssClass > ul {

    padding-bottom: 10px;
    border-bottom: 1px solid #BDBDBD;
    > li {
        padding-left: 15px;
        margin-top: 5px;
        padding-bottom: 10px;

        &.first {
            margin-top: 0px;
        }
        > a {
            margin-left: -15px;
            padding-left: 15px;
            display: block;
            font-size: 14px;
            text-transform: uppercase;
            font-family: 'Univers LT W01 45 Light';
        }
        &.current > a {
            color: var(secColor);
        }
        &.current.hasSubmenu > a {
            color: var(secColor);
        }
        &.current > li > a{
            color: var(mainColor);
        }
        &.current li.current a{
            color: var(secColor);
        }
}
}


