.kwcClass .bookInfos {
    margin-bottom: 20px;
}
.kwcClass .bookInfos img.cover {
    float: left;
    margin-right: 20px;
}
.kwcClass .customerReviews li { margin-bottom: 20px; }
.kwcClass .ratingStar { margin-right: -5px; }
.kwcClass .summary { margin-left: 10px; font-weight: bold; }