.vpcDirectoriesListViewPage div.vpcPaging {
    line-height:20px;
    margin-bottom:10px;
    margin-top:15px;
    text-align:center;
}
.vpcDirectoriesListViewPage div.vpcPaging span {AllFrontend.css (line 669)
    color:#786047;
    font-weight:bold;
    padding-right:5px;
}
.vpcDirectoriesListViewPage div.vpcPaging a {
    border:1px solid #FF9600;
    color:#786047;
    padding:3px 5px;
}
.vpcDirectoriesListViewPage div.vpcPaging a:hover,
.vpcDirectoriesListViewPage div.vpcPaging a.active {
    background-color:#F8F2E6;
    color: #FF9600;
    font-weight:bold;
}