.$cssClass div.statistik {
    float: right;
    font-size: 11px;
    line-height: 16px;
    width: 220px;
}
.$cssClass div.lastPost {
    font-size: 11px;
    line-height: 16px;
    padding-left: 10px;
}
.$cssClass div.thread {
    margin-right: 10px;
    text-align: right;
}
.$cssClass div.description {
    border-bottom: 1px solid #CCCCCC;
}
.$cssClass div.description a {
    font-weight: bold;
    display: block;
    background: #f3f2f1;
    padding: 3px 10px 3px 10px;
}
.$cssClass div.description a span {
    float: right;
}
