@import "kwf/background-image-dpr2";

.cssClass {
    margin-top: 30px;

    ul.menu {
        margin-bottom: 0px;
        vertical-align: middle;

        &:before {
            @include background-image-dpr2('/assets/kwf/themes/RedMallee/images', 'contact.png', 26px, 20px);
            background-repeat: no-repeat;
            width: 26px;
            height: 20px;
            content: '';
            display: inline-block;
            float: left;
            margin-right: 7px;
            position: relative;
        }

        li {
            float: left;
            margin-right: 15px;
            padding-top: 0px;


            a {
                color: #5e5e5e;
            }
        }
    }
}
