@import "compass/css3/transition";

.cssClass {
    .mobileOverlayOpen, .mobileOverlayClose {
        display: none;
    }

    &.optimizedMobileUI {
        margin-bottom: 20px;
        position: relative;
        @include transition-property(all);
        @include transition-duration(.24s);

        .mobileOverlayOpen {
            background: rgba(0, 0, 0, 0.7);
            position: absolute;
            text-align: center;
            display: block;
            z-index: 1;
            bottom: 0;
            right: 0;
            left: 0;
            top: 0;
            @include transition-property(all);
            @include transition-duration(.24s);
        }

        .navigateIcon {
            position: absolute;
            margin-left: -26px;
            display: block;
            height: 52px;
            width: 52px;
            left: 50%;
            top: 34%;

            @media (max-height: 460px) {
                top: 29%;
            }
        }

        .innerMobileOverlay {
            position: absolute;
            border-radius: 4px;
            line-height: 40px;
            margin-top: -20px;
            font-size: 14px;
            color: white;
            height: 40px;
            right: 20px;
            left: 20px;
            top: 59%;

            @media (max-height: 460px) {
                top: 62%;
            }
        }

        @media (max-width: 800px) {
            .container {
                height: 50vh !important;
            }
        }

        .tapToScroll {
            display: none;
        }

        &.navigate {
            margin: 0 calc((100% - 100vw) / 2);
            z-index: 45;

            .mobileOverlayClose {
                display: block;
            }

            .mobileOverlayOpen {
                display: none;
            }

            .mobileOverlayClose {
                background: rgba(0, 0, 0, 0.9);
                position: fixed;
                bottom: 85px;
                height: 30px;
                width: 120px;
                z-index: 1;
                left: auto;
                right: 5px;
                top: auto;
            }

            .innerMobileOverlay {
                top: 50%;
            }

            .container {
                height: 100vh !important;
            }

            .tapToScroll {
                background: url('/assets/kwf/Kwc/Directories/List/ViewMap/closeIcon.png') no-repeat center right transparent;
                background-size: 16px 16px;
                padding-right: 24px;
                display: inline;
            }
        }
    }

    &.gt700 {
        .mobileOverlayOpen, .mobileOverlayClose {
            display: none;
        }
    }
}
