@import "config/colors";
@import "compass/css3/opacity";
@import "compass/css3/box-sizing";

.kwcClass {
    .kwcBem__background {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        .kwcBem--opaque {
            @include opacity(0.7);
        }

        &.kwcBem__backgroundImage {
            z-index: 1;
        }
    }

    .kwcBem--white {
        .kwcBem {
            .kwcBem__background {
                background: #FFFFFF;
            }

            .kwcBem__content {
                .kwfUp-webStandard p {
                    color: $typo;
                }
            }
        }
    }

    .kwcBem--grey {
        .kwcBem {
            .kwcBem__background {
                background: #ccd0d4;
            }

            .kwcBem__content {
                .kwfUp-webStandard p {
                    color: $typo;
                }
            }
        }
    }

    &--black {
        .kwcBem {
            &__background {
                background: #000000;
            }

            &__content {
                .kwfUp-webStandard p {
                    color: #FFFFFF;
                }
            }
        }
    }

    .kwcBem__content {
        z-index: 3;
        position: relative;
        padding: 30px 0;
        @include box-sizing(border-box);
    }
}
