@import "compass/css3/opacity";
@import "compass/css3/box-sizing";

.cssClass {
    > .background {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        &.opaque {
            @include opacity(0.7);
        }

        &.backgroundImage {
            z-index: 1;
            .image {
                position: relative;
                width: 100%;
                height: 100%;
                background-position: center center;
            }
        }
    }

    &.white {
        > .background {
            background: #FFFFFF;
        }

        .content {
            .kwfup-webStandard p {
                color: var(typo);
            }
        }
    }

    &.grey {
        > .background {
            background: #ccd0d4;
        }

        .content {
            .kwfup-webStandard p {
                color: var(typo);
            }
        }
    }

    &.black {
        > .background {
            background: #000000;
        }

        .content {
            .kwfup-webStandard p {
                color: #FFFFFF;
            }
        }
    }

    > .content {
        z-index: 3;
        position: relative;
        padding: 30px 0;
        @include box-sizing(border-box);
    }
}