@import "config/colors";

.kwcClass {
    .kwcBem__background {
        overflow: hidden;
        position: absolute;
        left: 0;
        width: 100%;
        z-index: 2;

        &.kwcBem__background--opaque {
            opacity: 0.7;
        }

        &.kwcBem__backgroundImage {
            z-index: 1;
        }
    }

    &.kwcBem--white {
        .kwcBem__background {
            background: #FFFFFF;
        }

        .kwcBem__content {
            .kwfUp-webStandard p {
                color: $typo;
            }
        }
    }

    &.kwcBem--grey {
        .kwcBem__background {
            background: #ccd0d4;
        }

        .kwcBem__content {
            .kwfUp-webStandard p {
                color: $typo;
            }
        }
    }

    &.kwcBem--black {
        .kwcBem__background {
            background: #000000;
        }

        .kwcBem__content {
            .kwfUp-webStandard p {
                color: #FFFFFF;
            }
        }
    }

    .kwcBem__content {
        z-index: 3;
        position: relative;
        padding: 30px 0;
        box-sizing: border-box;
    }
}
