.vpcBasicText { float: left; }
.vpcBasicText strong { font-weight: bold; }
.vpcBasicText em { font-style: italic; }
.vpcBasicText ol { list-style-type: decimal; margin-left: 21px; }
.vpcBasicText ul { margin-bottom: 15px; list-style-type: square; margin-left: 15px; }
.vpcBasicText li { margin-bottom: 2px; }
