.vpcPostsWriteForm div.vpsField label {
    width: auto;
    text-align: left;
}
.vpcPostsWriteForm div.vpsField label strong {
    font-weight: bold;
}
.vpcPostsWriteForm button.submit {
    width: 160px;
    height: 25px;
    margin: 20px 0px;
    font-weight: bold;
    color: $recommend;
    background: url(/assets/web/images/themaBtn.jpg) no-repeat top left;
    border: none;
}
.vpcPostsWriteForm textarea {
    background-color: $searchFieldBg;
    border-right: 1px solid $searchFieldBorder;
    border-bottom: 1px solid $searchFieldBorder;
    border-top: 1px solid $typo;
    border-left: 1px solid $typo;
    padding: 2px;
    margin-bottom: 8px;
}
h2.headLine {
    font-weight: bold;
    line-height: 25px;
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    background: url(/assets/web/images/forumHeaderBg.jpg) repeat-x top left;
}