.vpsRoundBorderBox {
    position: relative;
}
.vpsRoundBorderBox .vpsRoundBorder {
    position: absolute;
}

/* top */
.vpsRoundBorderBox .vpsTopLeft {
    top: 0px; left: 0px;
    width: 11px; height: 10px;
    background: url(/assets/vps/images/roundborderbox/circle.png) left top no-repeat;
}
.vpsRoundBorderBox .vpsTopCenter {
    top: 0px; left: 0px;
    height: 10px;
    margin: 0px 17px 0px 11px;
    background: url(/assets/vps/images/roundborderbox/horizontal.png) left top repeat-x;
}
.vpsRoundBorderBox .vpsTopRight {
    top: 0px; right: 0px;
    width: 17px; height: 10px;
    background: url(/assets/vps/images/roundborderbox/circle.png) right top no-repeat;
}

/* middle */
.vpsRoundBorderBox .vpsMiddleLeft {
    top: 0px; left: 0px;
    width: 11px;
    margin: 10px 0px 17px 0px;
    background: url(/assets/vps/images/roundborderbox/vertical.png) left top repeat-y;
}
.vpsRoundBorderBox .vpsMiddleCenter {
    padding: 10px 17px 17px 11px;
}
.vpsRoundBorderBox .vpsMiddleCenter .vpsMiddleCenterContent {
    background: url(/assets/vps/images/roundborderbox/background.png) left top repeat;
}
.vpsRoundBorderBox .vpsMiddleRight {
    top: 0px; right: 0px;
    width: 17px;
    margin: 10px 0px 17px 0px;
    background: url(/assets/vps/images/roundborderbox/vertical.png) right top repeat-y;
}

/* bottom */
.vpsRoundBorderBox .vpsBottomLeft {
    bottom: 0px; left: 0px;
    width: 11px; height: 17px;
    background: url(/assets/vps/images/roundborderbox/circle.png) left bottom no-repeat;
}
.vpsRoundBorderBox .vpsBottomCenter {
    bottom: 0px; left: 0px;
    height: 17px;
    margin: 0px 17px 0px 11px;
    background: url(/assets/vps/images/roundborderbox/horizontal.png) left bottom repeat-x;
}
.vpsRoundBorderBox .vpsBottomRight {
    bottom: 0px; right: 0px;
    width: 17px; height: 17px;
    background: url(/assets/vps/images/roundborderbox/circle.png) right bottom no-repeat;
}


