.kwfRoundBorderBox {
    position: relative;
}
.kwfRoundBorderBox .kwfRoundBorder {
    position: absolute;
}

/* top */
.kwfRoundBorderBox .kwfTopLeft {
    top: 0px; left: 0px;
    width: 11px; height: 10px;
    background: url(~kwf/images/roundborderbox/circle.png) left top no-repeat;
}
.kwfRoundBorderBox .kwfTopCenter {
    top: 0px; left: 0px;
    height: 10px;
    margin: 0px 17px 0px 11px;
    background: url(~kwf/images/roundborderbox/horizontal.png) left top repeat-x;
}
.kwfRoundBorderBox .kwfTopRight {
    top: 0px; right: 0px;
    width: 17px; height: 10px;
    background: url(~kwf/images/roundborderbox/circle.png) right top no-repeat;
}

/* middle */
.kwfRoundBorderBox .kwfMiddleLeft {
    top: 0px; left: 0px;
    width: 11px;
    margin: 10px 0px 17px 0px;
    background: url(~kwf/images/roundborderbox/vertical.png) left top repeat-y;
}
.kwfRoundBorderBox .kwfMiddleCenter {
    padding: 10px 17px 17px 11px;
}
.kwfRoundBorderBox .kwfMiddleCenter .kwfMiddleCenterContent {
    background: url(~kwf/images/roundborderbox/background.png) left top repeat;
}
.kwfRoundBorderBox .kwfMiddleRight {
    top: 0px; right: 0px;
    width: 17px;
    margin: 10px 0px 17px 0px;
    background: url(~kwf/images/roundborderbox/vertical.png) right top repeat-y;
}

/* bottom */
.kwfRoundBorderBox .kwfBottomLeft {
    bottom: 0px; left: 0px;
    width: 11px; height: 17px;
    background: url(~kwf/images/roundborderbox/circle.png) left bottom no-repeat;
}
.kwfRoundBorderBox .kwfBottomCenter {
    bottom: 0px; left: 0px;
    height: 17px;
    margin: 0px 17px 0px 11px;
    background: url(~kwf/images/roundborderbox/horizontal.png) left bottom repeat-x;
}
.kwfRoundBorderBox .kwfBottomRight {
    bottom: 0px; right: 0px;
    width: 17px; height: 17px;
    background: url(~kwf/images/roundborderbox/circle.png) right bottom no-repeat;
}


