@import "config/colors";

.kwfFieldErrorBubble { 
    position: absolute; 
    border: 2px solid #dddddd; 
    width: 215px;
    border-radius: 6px;
    background-color: $errorBg;
    opacity: 0.8;
    color: #fff;
    z-index: 1000;
    behavior: url(/assets/css3pie/pie.htc);
}

.kwfFieldErrorBubble:after {
    border-color: $errorBorder transparent;
    border-style: solid;
    border-width: 0px 8px 8px;
    top: -8px;
    content:"";
    display: block;
    right: 175px;
    position: absolute;
    width: 0;
    z-index:10;
}

.kwfFieldErrorBubble .message {
    padding: 5px;
}

.kwfFieldErrorBubble .closeButton {
    width: 10px; height: 10px; position: absolute;
    top: 0; right: 0;
    background: url('/assets/kwf/images/close.png') no-repeat;
}
