.swfuploadbtn {
	display: block;
	width: 100px;
	padding: 0 0 0 20px;
}

.browsebtn { background: url(/images/add.png) no-repeat 0 4px; }
.uploadbtn {
	display: none;
	background: url(/images/accept.png) no-repeat 0 4px;
}

.cancelbtn {
	display: block;
	width: 16px;
	height: 16px;
	float: right;
	background: url(/images/cancel.png) no-repeat;
}

#cancelqueuebtn {
	display: block;
	display: none;
	background: url(/images/cancel.png) no-repeat 0 4px;
	margin: 10px 0;
}

#SWFUploadFileListingFiles ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.SWFUploadFileItem {

	display: block;
	width: 100px;
	height: 30px;
	float: left;
	background: #eaefea;
	margin: 0 10px 10px 0;
	padding: 5px;

}

.fileUploading { background: #fee727; }
.uploadCompleted { background: #d2fa7c; }
.uploadCancelled { background: #f77c7c; }

.uploadCompleted .cancelbtn, .uploadCancelled .cancelbtn {
	display: none;
}

span.progressBar {
	width: 80px;
	display: block;
	font-size: 10px;
	height: 4px;
	margin-top: 2px;
	margin-bottom: 10px;
	background-color: #CCC;
}