@import "susy";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";

$total-columns: 8;
$column-width: 980px / 8;
$gutter-width: 0px;
$grid-padding: 0px;

$container-style: magic;


#page {
    border-top: 5px solid var(secColor);
    width: 100%;
}

#page #outerHeader,
#page #outerContent .stage,
#page #outerContent #content,
#page .bottomStage .innerBottomStage,
#page #outerFooter #footer {
    @include container;
}
#page #outerHeader #header,
#page #outerContent .stage,
#page #outerContent #content,
#page #outerFooter #footer { text-align: left; }
#page #outerContent {
    background: url("/assets/kwf/themes/RedMallee/images/bgContent.jpg") repeat center -5px;
    padding-bottom: 170px;
    position: relative;
}
#page {
    #outerHeader {

        .logo {
            display: block;
            text-align: center;

            img {
                display: inline;
            }
        }

        #header {
             @include clearfix;
             border-bottom: 5px solid #C80000;

             .searchBox {
                 height: 40px;
                 position: relative;
                 top: 2px;
                 padding-top: 3px;
                 margin-bottom: -3px;
             }

             .mainMenu {
                 position: relative;
                 top: 2px;
             }


             .webStandard.redMalleeMenuSubHorizontal {
                 display: none;
             }
         }
    }

    #outerContent #content {

        #innerContent {
            margin: 0 20px;
        }
    }
}

@include at-breakpoint(4) {
    #page #outerHeader {

        .logo {
            height: auto;
            margin: auto;
            padding: 20px;
            text-align: left;
        }

        #header {
            img {
                display: block;
            }
        }
    }
}

@include at-breakpoint(5) {
    #page #outerHeader #header {

        .searchBox {
            float: right;
            background: #EFEFEF;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 50%;
                top: 0px;
                left: 0px;
                background: #f6f6f6;
                z-index: 0;
            }
            input {
                z-index: 1;
            }
        }
    }
}

@include at-breakpoint(6) {
    #page #outerHeader #header {
        border-bottom: none;

        .subMenuHorizontal {
            background: #C80000;
            top: 0px;
            position: relative;

            .webStandard.redMalleeMenuSubHorizontal {
                display: block;
                position: relative;
                z-index: 2;

                ul.menu {
                    line-height: 30px;
                    overflow-x: scroll;
                    white-space: nowrap;
                    margin-left: 0px;

                    li {
                        display: inline-block;
                        list-style: none;
                        color: white;
                        margin-right: -4px;

                        &.current {

                            a {
                                color: white;
                            }
                        }

                        a {
                            color: #000;
                            font-size: 14px;
                            padding: 0px 17px;
                        }
                    }
                }
            }
        }
    }

    .leftColumn {
        display: none;
    }
}

@include at-breakpoint(8) {

    #page #outerHeader #header {
        border-bottom: 5px solid #C80000;

        .mainMenu {
            margin-right: 0px;
            float: right;

            ul li {
                float: left;
            }
        }

        .webStandard.redMalleeMenuSubHorizontal {
            display: none;
        }
    }

    #page #outerContent #content #innerContent {
        margin: 0px;

        .leftColumn {
            @include span-columns(2);
            @include box-sizing(border-box);
            padding-right: 50px;

            .redMalleeMenuSub {
                display: block;
            }
        }
        .centerColumn {
            @include span-columns(4);
            @include box-sizing(border-box);
            padding-right: 50px
        }
        .rightColumn {
            @include span-columns(2 omega);
        }
    }
}

#page {

    #outerContent {

        #content #innerContent {

            .leftColumn,
            .centerColumn,
            .rightColumn {
                min-height: 100px;
            }

            .leftColumn {
                padding-top: 50px;
            }
        }
    }

    .bottomStage {
        background: url("/assets/kwf/themes/RedMallee/images/bottomStageBg.jpg") repeat center top;
        min-height: 230px;
        width: 100%;

        .innerBottomStage {
            margin: 20px auto 0px;
            position: relative;
        }

        .bottomStageShadow {
            background: url("/assets/kwf/themes/RedMallee/images/bottomStageShadow.png") repeat center top;
            height: 10px;
            width: 100%;
        }
    }

    #outerFooter #footer {
        margin-top: 40px;
        min-height: 100px;

        .bottomMenu {
            float: right;
        }

        .leftArea {
            float: left;
        }
    }
}

