div.kwfUp-kwfSwitchDisplay a.kwfUp-switchLink {
    background: url(/assets/kwf/images/bullet_arrow_right.png) 0px 0px no-repeat;
    padding-left: 18px;
}
div.kwfUp-kwfSwitchDisplay a.kwfUp-switchLink.kwfUp-switchLinkOpened {
    background: url(/assets/silkicons/bullet_arrow_down.png) 0px 0px no-repeat;

}
/* z-index unter 50 lassen. bildgalerie hat 50 auf die mask und 100 auf die box
   und da sollten wir drunter bleiben. */
div.kwfUp-kwfSwitchDisplay div.kwfUp-switchContent {
    overflow: hidden; z-index: 45; position: relative; 
    margin-left: 19px;
}

/*
Bei einer Bildergalerie in einem switch display gab es einen Fehler,
der beim schließen die Bilder nicht sofort verschwinden ließ, sondern
über die schrift nach oben schob. Das hier war ein fix dafür, der allerdings
die steuerung (zoom +/-) einer GoogleMap in einem switchDisplay zerstören würde.
*/
/* div.kwfUp-kwfSwitchDisplay div.kwfUp-switchContent img { position: relative; z-index: 500;} */


/* avoid flicker */
html.kwfUp-js div.kwfUp-kwfSwitchDisplay div.kwfUp-switchContent { display: none; }
