@import "kwf/susyone";
@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";
$gutter-width   : 0em;
$grid-padding   : 0em;

.cssClass {
    > .listItem {
        padding-bottom: 20px;
        .kwfup-kwcTextImage {
            &.noText {
                .kwfup-kwcBasicImageEnlarge {
                    text-align: left;
                }
            }
        }

        &.emptyContent {
            display: none;
        }
    }
}

.cssClass.gt480 {
    margin-right: -20px;

    > .listItem {
        @include box-sizing(border-box);
        padding-right: 20px;
    }

    &.col2col-50_50 {
        > .listItem.span1 {
            @include span-columns(1, 2);
        }
    }

    &.col2col-33_66,
    &.col2col-66_33 {
        > .listItem.span1 {
            @include span-columns(1, 3);
        }

        > .listItem.span2 {
            @include span-columns(2, 3);
        }
    }

    &.col2col-25_75,
    &.col2col-75_25 {
        > .listItem.span1 {
            @include span-columns(1, 4);
        }

        > .listItem.span3 {
            @include span-columns(3, 4);
        }
    }

    &.col3col-33_33_33 {
        > .listItem.span1 {
            @include span-columns(1, 3);
        }
    }

    &.col3col-50_25_25,
    &.col3col-25_50_25,
    &.col3col-25_25_50 {
        > .listItem.span1 {
            @include span-columns(1, 4);
        }

        > .listItem.span2 {
            @include span-columns(2, 4);
        }
    }

    &.col4col-25_25_25_25 {
        > .listItem.span1 {
            @include span-columns(1, 2);

            &.emptyContent {
                display: none;
            }
        }
    }

    &.col5col-20_20_20_20_20 {
        > .listItem.span1 {
            @include span-columns(1, 5);

            &.emptyContent {
                display: none;
            }
        }
    }

    > .listItem.kwcLast,
    > .listItem.lineLast {
        @include omega;
    }

    > .listItem.lineFirst {
        clear: both;
    }
}

.cssClass.gt620 {
    &.col4col-25_25_25_25 {
        > .listItem.span1 {
            @include span-columns(1, 4);

            &.emptyContent {
                display: inline;
            }
        }
    }
}
