
div.vpcPostsWrite { margin-bottom: 20px; }

div.vpcPostsWrite h2 {
    padding-left: 20px;
    margin: 0px; margin-bottom: 20px; 
    line-height: 25px;
    background: url(/assets/vps/Vpc/Forum/forumHeaderBg.jpg) repeat-x top left;
}

div.vpcPostsWrite h2.lastPosts {
    color: #786047; margin-top: 30px; margin-bottom: 15px;
}