@import "config/default-loading-animation-big";
@import "config/lightbox-animation";
@import "kwf/background-image-dpr2";
@import "compass/css3/transition";
@import "compass/css3/transform";

html {
    overflow-y: scroll;
}

body {
    .innerContent {
        &.fixedContent {
            position: fixed;
        }
    }

    div.kwfLightbox {
        display: table;
        height: 100% !important;
        table-layout: fixed;
        width: 100%;
        left: 0;
        min-height: 100%;
        position: absolute;
        right: 0;
        top: 0;

        &.kwfLightboxOpen {
            display: table !important;
        }

        .kwfLightboxBetween {
            display: table-cell;
            text-align: center;
            vertical-align: middle;
            width: 100%;

            .kwfLightboxInner {
                position: static;
                text-align: left;
                display: inline-block;

                .closeButton {
                    right: 10px;
                    top: 10px;
                }
            }
        }
    }
}

body.kwfLightboxAnimate {
    .kwfLightbox {
        position: fixed;
    }
}

@if $animation-style == fadeIn {
    .kwfLightbox {
        .kwfLightboxInner {
            @include transition-duration(50ms);
            opacity: 0;
        }

        &.kwfLightboxOpen {
            .kwfLightboxInner {
                @include transition-property(opacity);
                @include transition-duration(150ms);
                @include transition-timing-function(linear);
                opacity: 1;
            }
        }
    }

    .kwfLightboxMask {
        @include transition-property(opacity);
        @include transition-duration(50ms);
        @include transition-timing-function(linear);
        opacity: 0;

        &.kwfLightboxMaskOpen {
            @include transition-property(opacity);
            @include transition-duration(150ms);
            @include transition-timing-function(linear);
            opacity: 0.8;
        }
    }
} @else if $animation-style == fadeInSlideUp {
    .kwfLightbox {
        .kwfLightboxInner {
            @include transform(translateX(0) translateY(100px) scale(1));
            @include transition(opacity 50ms linear, transform 0ms linear);
            @include transition-delay(0ms);
            opacity: 0;
        }

        &.kwfLightboxOpen {
            .kwfLightboxInner {
                @include transform(translateX(0) translateY(0) scale(1));
                @include transition(opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1));
                @include transition-delay(300ms);
                opacity: 1;
            }
        }
    }

    .kwfLightboxMask {
        @include transition(opacity 50ms linear);
        opacity: 0;

        &.kwfLightboxMaskOpen {
            @include transition(opacity 1250ms cubic-bezier(0.23, 1, 0.32, 1));
            opacity: 0.8;
        }
    }
} @else if $animation-style == fadeInSlideInRight {
    .kwfLightbox {
        .kwfLightboxInner {
            @include transform(translateX(100%) translateY(0) scale(1));
            @include transition(opacity 0ms linear, transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1));
            @include transition-delay(0ms);
            opacity: 0;
        }

        &.kwfLightboxOpen {
            .kwfLightboxInner {
                @include transform(translateX(0) translateY(0) scale(1));
                @include transition(opacity 300ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1));
                @include transition-delay(150ms);
                opacity: 1;
            }
        }
    }

    .kwfLightboxMask {
        @include transition-property(opacity);
        @include transition-duration(50ms);
        @include transition-timing-function(linear);
        opacity: 0;

        &.kwfLightboxMaskOpen {
            @include transition-property(opacity);
            @include transition-duration(150ms);
            @include transition-timing-function(linear);
            opacity: 0.8;
        }
    }
} @else if $animation-style == fadeInZoom {
    .kwfLightbox {
        .kwfLightboxInner {
            @include transform(translateX(0) translateY(0) scale(0.9));
            @include transition(opacity 0ms linear, transform 0ms linear);
            @include transition-delay(0ms);
            opacity: 0;
        }

        &.kwfLightboxOpen {
            .kwfLightboxInner {
                @include transform(translateX(0) translateY(0) scale(1));
                @include transition(opacity 500ms cubic-bezier(0.215, 0.61, 0.355, 1), transform 550ms cubic-bezier(0.215, 0.61, 0.355, 1));
                @include transition-delay(150ms);
                opacity: 1;
            }
        }
    }

    .kwfLightboxMask {
        @include transition(opacity 50ms linear);
        opacity: 0;

        &.kwfLightboxMaskOpen {
            @include transition(opacity 300ms linear);
            opacity: 0.8;
        }
    }
}


.kwfLightbox {
    position: absolute;
    z-index: 100;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
}
.kwfLightbox .kwfLightboxInner {
    min-width: 100px;
    min-height: 100px;
    background: #fff;
    margin-bottom: 40px;
    padding: 10px;
    position: absolute;
}
.ext-ie6 .kwfLightbox .kwfLightboxInner { width: 800px; }

.kwfLightbox .lightboxHeader { position: relative; z-index: 102; }
.kwfLightbox .closeButton {
    position: absolute;
    right: -25px;
    top: -25px;
    display: block;
    width: 42px;
    height: 42px;
    background: url('/assets/kwf/Kwf_js/EyeCandy/Lightbox/close.png') no-repeat center center;
    z-index: 102;
}

.kwfLightbox.mobile .closeButton {
    right: 0;
    top: 0;
}
.kwfLightbox.mobile .kwfLightboxInner {
    margin-bottom: 0;
}

.kwfLightbox .closeButton:hover { text-decoration: none; }

.kwfLightbox .kwfLightboxContent {
    height: 100%;
    width: 100%;
}
.kwfLightbox .lightboxBody {
    position: relative;
    height: 100%; 
    width: 100%;
    z-index: 101;
}
.kwfLightbox .lightboxBody .nextBtn,
.kwfLightbox .lightboxBody .nextBtn a,
.kwfLightbox .lightboxBody .prevBtn,
.kwfLightbox .lightboxBody .prevBtn a {
    text-decoration: none;
    position: absolute;
    top: 0px;
    width: 40%;
    height: 100%;
    background: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/transparentPixel.gif); /* WORKAROUND: IE kann keinen link ohne inhalt darstellen, deswegen transparentPixel bgImage*/
    background-repeat: repeat;
    background-position: top left;
}
.kwfLightbox .lightboxBody .nextBtn, .kwfLightbox .lightboxBody .nextBtn a { right: 0px; }
.kwfLightbox .lightboxBody .prevBtn, .kwfLightbox .lightboxBody .prevBtn a { lef: 0px; }
.kwfLightbox .lightboxBody .nextBtn a,
.kwfLightbox .lightboxBody .prevBtn a { width: 100%; }
.kwfLightbox .lightboxBody .nextBtn a:hover {
    background-image: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/next.png);
    background-repeat: no-repeat;
    background-position: right 50%;
}
.kwfLightbox .lightboxBody .nextBtn img.nextImgBtn { position: absolute; top: 100px; right: 0px; }

.kwfLightbox .lightboxBody .prevBtn a:hover {
    background-image: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/previous.png);
    background-repeat: no-repeat;
    background-position: left 50%;
}
.kwfLightbox .lightboxBody .prevBtn img.previousImgBtn { position: absolute; top: 100px; left: 0px; }

.kwfLightbox .lightboxBody .image { z-index: 1; }

.kwfLightbox .lightboxFooter p { text-align: left; margin-bottom: 0px; }
.kwfLightbox .lightboxFooter p.imageCaption { margin-top: 10px; }
.kwfLightbox .lightboxFooter p.imageCaptionTitle { margin: 10px 0px -10px 0px; }
.kwfLightbox .lightboxFooter p.title { margin-top: 10px; }
.kwfLightbox .lightboxFooter p.fullSizeLink { margin-top: 10px; }

.kwfLightboxMask {
    background: #000;
    z-index: 50 !important;
    position: fixed;
    width: 100%; height: 100%;
    left: 0; top: 0;
}

.kwfLightbox .loading {
    @include default-loading-animation-big;
}

@media (max-width: 650px) {
    body .kwfLightboxMask {
        opacity: 1;
    }
}
