.cssClass {
    height: 165px;
    line-height: 165px;
    display: table;

    img {
        display: table-cell;
        vertical-align: middle;
        height: auto;
    }
    
    &.gt500 img {
        width: 100%;
    }
}