.cssClass img {
    width: 150px;
    height: auto;
    max-height: 80px;
}
.sticky .cssClass.gt875 img {
    widht: 100px;
    height: 67px;
}
.sticky .cssClass img {
    max-height: 65px;
}
.notSticky .cssClass img {
    width: 250px;
    height: auto;
}
.cssClass.gt875 img {
    width: auto;
    height: 100px;
}
