.ext-ie6 .$cssClass .form_auto_login label {
    margin-right: 0px;
}
.$cssClass {
    margin-top: 20px;
}
.$cssClass input#form_auto_login {
    border: none;
    background: none;
}
.$cssClass label {
    width: 120px;
    float: left;
}
.$cssClass .form_auto_login label {
    margin-right: 15px;
}