@import "compass/utilities/general/clearfix";
.cssClass {
    @include pie-clearfix;
    margin-top: 30px;
    margin-bottom: 20px;

    .listItem {
        float: left;
        margin-left: 20px;
    }
    .listItem.kwcFirst {
        margin: 0;
    }
}