@import "form/form-styles";

@mixin form-style-default {
    @include el-breakpoint-max(500px) {
        $form-label-position  : top;
        $form-label-align  : left;
        $form-label-width  : 100%;
        $form-input-width  : 100%;
        $form-margin  : 0%;
        $form-error-style  : simple;
    }

    &.lt500.gt350 {
        $form-error-style  : simple-right;
    }

    @include el-breakpoint(350px) {
        $form-label-position  : left;
        $form-label-align  : right;
        $form-label-width  : 34%;
        $form-input-width  : 60%;
        $form-margin  : 6%;
    }

    @include el-breakpoint(500px) {
        $form-label-position  : left;
        $form-label-align  : right;
        $form-label-width  : 120px;
        $form-input-width  : false;
        $form-margin  : 20px;
        $form-error-style  : bubbles;
    }
}
