@import "form/form-styles";
@import "kwf/el-breakpoint";

@mixin form-style-center {
    @include el-breakpoint-max(500px) {
        $form-label-position  : top;
        $form-label-align  : center;
        $form-label-width  : 100%;
        $form-input-width  : 100%;
        $form-margin  : 0%;
        $form-error-style  : simple;
    }

    @include el-breakpoint(350px) {
        $form-label-position  : top;
        $form-label-align  : center;
        $form-label-width  : 100%;
        $form-input-width  : 100%;
        $form-margin  : 0%;
        $form-error-style  : simple;
    }
}
