.cssClass .article {
    position: relative;
}

.cssClass .article .icons {
    position: absolute;
    z-index: 10;
    width: 16px;
    top: 0px;
    right: -20px;
}

.cssClass .article .icons a {
    margin: 0px 0px 5px 0px;
    width: 16px;
    height: 16px;
    text-indent: -4000px;
    display: block;
    position: relative;
}

.cssClass .article .icons .print {
    background: url("/assets/kwf/Kwc/Articles/Detail/printer.png") no-repeat left center;
}

.cssClass .article .icons a.feedback {
    background: url("/assets/kwf/Kwc/Articles/Detail/email_edit.png") no-repeat scroll left center transparent;
}

.cssClass .article .icons .top {
    background: url("/assets/kwf/Kwc/Articles/Detail/exclamation.png") no-repeat scroll left center transparent;
}

.cssClass .article .icons .kwfSwitchHoverFade .switchContent {
    display: none;
}

@media print {
.cssClass .feedback,
.cssClass .back,
.cssClass .icons {
    display: none;
}

}
