.kwfFormContainerFieldSet div {
    display: block;
}

.kwfFormContainerFieldSet .kwfFormContainerFieldSetCollapsed {
    border-width: 2px 2px 0px 2px;
    border-left-color: transparent;
    border-right-color: transparent;
    margin-bottom: 0px;
}

.kwfFormContainerFieldSet fieldset {
    border: 2px groove #EEE;
}

.kwfFormContainerFieldSet .kwfFormContainerFieldSetCollapsed div {
    display: none;
}