.kwfFormFieldFileInner img {
    margin-top: -20px;
}
.kwfFormFieldFileUploadWrapper { position: relative; }
.kwfFormFieldFileUploadWrapper .fileSelector,
.kwfFormFieldFileUploadWrapper > input {
    position: absolute;
}
.kwfFormFieldFileUploadWrapper .fileSelector {
    z-index: 2;
    opacity: 0;
    filter: alpha(opacity=0);
}
.kwfFormFieldFileUploadWrapper .underlayFileSelector { z-index: 1; }
