.kwfFormFieldFileInner img {
    margin-top: -20px;
}
.kwfFormFieldFileInnerContent {
    .kwfFormFieldFileUploadWrapper {
        position: relative;
        .fileSelector, > input {
            position: absolute;
            width: 100%;
        }

        .fileSelector {
            z-index: 2;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .underlayFileSelector {
            z-index: 1;

            a.kwfFormFieldFileUploadButton {
                float: right;
            }

        }
    }
}


.kwfFormFieldUploadProgressBar {
    display: block;
    position: absolute;
    width: 200px;
    height: 42px;
    background: white;
    z-index: 1;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -21px;

    .inner {
        display: block;
        width: 180px;
        height: 20px;
        margin: 10px;
        border: 1px solid;
        position: relative;

        span.progress {
            width: 0%;
            background: #4169e1;
            display: block;
            position: relative;
            height: 100%;
            text-align: center;
            color: white;
            line-height: 24px;
        }

        span.processing {
            background: #4169e1;
            display: none;
            text-align: center;
            font-size: 12px;
            color: white;
            line-height: 21px;
            width: 100%;

            &.visible {
                display: block;
            }
        }
    }
}

