.kwf-form-field-image-dimension-window-crop-image {
    left:50%;
    top:50%;
    position:absolute;
}

.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-north,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-northeast,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-east,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-southeast,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-south,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-southwest,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-west,
.kwf-form-field-image-crop-image-resizable-disabled .x2-resizable-handle-northwest {
    cursor: auto;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle {
    opacity: 1;
    filter: none;
}

.x2-window .kwf-form-field-image-crop-image-wrapper {
    background-image: url("~kwf/images/cropimage/background.png");
    position: absolute;
}
.x2-window .kwf-form-field-image-crop-image-wrapper.crop-changing {
    background-image: none;
    background-color: transparent;
}

.kwf-form-field-image-crop-image-resizable {
    cursor: move;
    position: absolute;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle .dashedline {
    width: 100%;
    height: 100%;
    position: absolute;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .dashedline {
    border-left: 1px dashed #999999;
    left: 0px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .dashedline {
    border-right: 1px dashed #999999;
    right: 0px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .dashedline {
    border-bottom: 1px dashed #999999;
    bottom: 0px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .dashedline {
    border-top: 1px dashed #999999;
    top: 0px;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south {
    height: 7px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.north,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.south {
    background-image: url('~kwf/images/cropimage/topBottomMiddle.png');
    height: 7px;
    width: 26px;
    position: absolute;
    margin-left: -13px;
    left: 50%;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east {
    width: 7px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .handle.west,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .handle.east {
    background-image: url('~kwf/images/cropimage/leftRightMiddle.png');
    height: 26px;
    width: 7px;
    position: absolute;
    margin-top: -13px;
    top: 50%;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .handle.northwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .handle.southwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .handle.northeast,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .handle.southeast {
    height: 19px;
    width: 7px;
    position: absolute;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .handle.northwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .handle.northeast {
    background-image: url('~kwf/images/cropimage/leftRightTop.png');
    margin-top: 7px;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-west .handle.southwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-east .handle.southeast {
    background-image: url('~kwf/images/cropimage/leftRightBottom.png');
    bottom: 0px;
    margin-bottom: 7px;
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.northwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.northeast,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.southwest,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.southeast {
    height: 7px;
    width: 26px;
    position: absolute;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.northwest {
    background-image: url('~kwf/images/cropimage/leftTop.png');
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.southwest {
    background-image: url('~kwf/images/cropimage/leftBottom.png');
}

.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.northeast,
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.southeast {
    right: 0px;
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-north .handle.northeast {
    background-image: url('~kwf/images/cropimage/rightTop.png');
}
.kwf-form-field-image-crop-image-resizable .x2-resizable-handle-south .handle.southeast {
    background-image: url('~kwf/images/cropimage/rightBottom.png');
}
