.kwcClass {
    position: relative;
}

.kwcClass.kwfSwitchHoverFade a {
    background: url("~kwf/Kwc/Favourites/starDark.png") no-repeat scroll left center transparent;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
}

.kwcClass.isFavourite.kwfSwitchHoverFade a {
    background: url("~kwf/Kwc/Favourites/star.png") no-repeat scroll left center transparent;
}

.kwcClass.kwfSwitchHoverFade .switchContent {
    background: #CED0D1;
    position: absolute;
    top: -2px;
    left: 25px;
    padding: 5px 10px 5px 10px;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 12px;
}
