@import "compass/css3/box-sizing";
@import "kwf/background-image-dpr2";

.cssClass {
    padding-top: 20px;
    margin-bottom: 15px;
}
.cssClass a {
    color: #717171;
    font-family: 'Univers LT W01 55 Roman';
    font-size: 12px;
    text-transform: uppercase;
}
.cssClass .last {
    color: var(highlightedText);
}
.cssClass a:after {
    content: ' ';
    background-repeat: no-repeat;
    background-position: center center;
    @include background-image-dpr2('/assets/kwf/themes/RedMallee/images', 'arrowSmallRight.png', 6px, 6px);
    padding: 0px 5px;
}
.cssClass a.last:after {
    color: var(highlightedText);
    background: none;
}
