.cssClass div.text { display: none; }
.cssClass .fromAddress { margin-top:6px; }
.cssClass .fromAddress input { float: left; padding: 3px; }
.cssClass .fromAddress input.textBefore { width: 375px; color: var(typo); }
.cssClass .fromAddress input.vpsClearOnFocusBlurred { color: var(gray); }
.cssClass .fromAddress input.textOn { color: var(typo); }
.cssClass .fromAddress button {
    float: right;
	font-weight: bold;
    margin: -3px 0px 0px 0px;
    padding: 0px 5px;
    overflow: visible;
	cursor: pointer;
}

.cssClass .mapDirSuggestParent { display: none; margin-top: 30px; }

.cssClass .container { overflow: hidden; border: 1px solid #000; }
