.cssClass div.text { display: none; }
.cssClass .fromAddress { margin-top:6px; }
.cssClass .fromAddress input { float: left; }
.cssClass .fromAddress input.textBefore { width: 375px; color: var(typo); }
.cssClass .fromAddress input.vpsClearOnFocusBlurred { color: var(gray); }
.cssClass .fromAddress input.textOn { color: var(typo); }
.cssClass .fromAddress button {
    float: right;
    margin-top: -3px;
    padding: 0px 5px;
    overflow: visible;
}

.cssClass .mapDirSuggestParent { display: none; margin-top: 30px; }

.cssClass .container { overflow: hidden; border: 1px solid #000; }
