.kwf-renderer-decimal .x2-grid3-cell-inner { text-align: right; }
.kwf-renderer-bright { color: #888888; }
.kwf-renderer-linebreak {
    overflow:visible;
    white-space: normal;
}
.x2-grid3-check-col {
    height:14px;
}
.kwf-renderer-noteditable {
    color: #777777;
    font-style:italic;
}
.kwf-check-rtr-col {
    background-image:none;
}
.kwf-check-rtr-col-on {
    background-image:url(~kwf/images/rtr.png);
}
.secondsToTimeRight { text-align: right; }