.kwf-boundlist-checkbox .x4-boundlist-item {
    padding-left: 20px;
}
.kwf-boundlist-checkbox .x4-boundlist-item:before {
    background-image: url("/assets/ext4/resources/ext-theme-neptune/images/form/checkbox.png");
    content: "";
    display: block;
    height: 16px; width: 16px;
    position: absolute;
    margin-left: -20px;
    margin-top: 3px;
}
.kwf-boundlist-checkbox .x4-boundlist-item.x4-boundlist-selected:before {
    background-position: 0 16px;
}
