.kwc-class label { width: 140px; }
.kwc-class .kwfFormFieldRadioHorizontal label { float: none; margin-left: 0px; }
.ext-ie7 .kwc-class .kwfFormFieldRadioHorizontal label { position: relative; top: -5px; }
.ext-ie7 .kwc-class .kwfFormFieldRadioHorizontal span { margin-left: -13px; }
.kwc-class .kwfFormFieldRadioHorizontal input { margin-left: 0px; }
.kwc-class .kwfFormFieldTextField input,
.kwc-class .kwfFormFieldTextArea textarea { width: 300px; }
.kwc-class p.formText { margin: 5px 0px; }
