.cssClass label { width: 140px; }
.cssClass .kwfFormFieldRadioHorizontal label { float: none; margin-left: 0px; }
.ext-ie7 .cssClass .kwfFormFieldRadioHorizontal label { position: relative; top: -5px; }
.ext-ie7 .cssClass .kwfFormFieldRadioHorizontal span { margin-left: -13px; }
.cssClass .kwfFormFieldRadioHorizontal input { margin-left: 0px; }
.cssClass .kwfFormFieldTextField input,
.cssClass .kwfFormFieldTextArea textarea { width: 300px; }
.cssClass p.formText { margin: 5px 0px; }
