@import "susy";
@import "kwf/css3/border-radius";
@import "kwf/css3/box-shadow";

html {
    overflow-y: scroll;
}


body.frontend {
    background-color: #ccc;
}

#page {
    border-radius: 5px;
    padding-top: 20px;
}

$total-columns  : 2;
$column-width   : 1024px / 4;
$gutter-width   : 0px;
$grid-padding   : 0px;

#page {
    @include container;

    border-radius: 5px;
    background-color: #fff;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #AAAAAA;

    #header {

        #title {
            h1 {
                font-size: 30px;
                color: #111;
                font-weight: bold;
            }
            h2 {
                font-size: 15px;
                color: #7a7a7a;
                font-weight: normal;
            }
        }
    }

    #outerContent {
        clear: both;
        #content {
            background-color: #eee;
            @include clearfix;
            #innerContent {
                margin: 20px;
                padding: 10px;
                border-radius: 5px;
                background-color: white;
                border-bottom: 2px solid #AAAAAA;
            }
        }
    }

    #footer {
        padding-top: 20px;
        padding-left: 20px;
        clear: both;
    }

    @include at-breakpoint(4) {
        @include set-container-width;
        #title {
            padding-left: 30px;
            @include span-columns(2);
        }
        #searchBox {
            @include span-columns(1 omega);
        }
        #innerContent {
            @include span-columns(3);
        }
    }

}

.webListNone ul { margin: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }

.webForm {
    button {
        background: #222;
        border: none;
        @include border-radius-pie(3px);
        @include box-shadow-pie(0px 1px 2px rgba(0,0,0,0.3));
        color: #eee;
        cursor: pointer;
        margin: 20px 0;
        padding: 5px;
        position: relative;
        left: 30px;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        &:active {
            background: #1982d1;
            color: #bfddf3;
        }
    }
}

