@import "susy";
@import "compass/utilities/general/clearfix";

html {
    overflow-y: scroll;
}


body.frontend {
    background-color: #ccc;
}

#page {
    border-radius: 5px;
    padding-top: 20px;
}

$total-columns  : 2;
$column-width   : 1024px / 4;
$gutter-width   : 0px;
$grid-padding   : 0px;

#page {
    #header {
        @include container;

        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background-color: #fff;
        padding-top: 30px;
        padding-bottom: 20px;

        #title {
            @include span-columns(2 omega);
            h1 {
                font-size: 30px;
                color: #111;
                font-weight: bold;
            }
            h2 {
                font-size: 15px;
                color: #7a7a7a;
                font-weight: normal;
            }
        }
        #searchBox {
            @include span-columns(2 omega);
        }

        @include at-breakpoint(4) {
            @include set-container-width;
            #title {
                padding-left: 30px;
                @include span-columns(2);
            }
            #searchBox {
                @include span-columns(1 omega);
            }
        }
    }
    
    #mainMenu {
        @include container;
        @include at-breakpoint(4) {
            @include set-container-width;
        }
    }

    #content {
        background-color: #eee;
        @include container;

        #innerContent {
            @include span-columns(2);
            margin: 20px;
            padding: 10px;
            border-radius: 5px;
            background-color: white;
        }

        @include at-breakpoint(4) {
            @include set-container-width;
            #innerContent {
                @include span-columns(3);
            }
        }
    }
}

.webListNone ul { margin: 0px; }
.webListNone,
.webListNone li { margin-bottom: 0px; }
