.cssClass.webStandard {
    h1 {
        color: #111111;
        font-size: 30px;
        font-weight: bold;
    }
    h2 {
        color: #7A7A7A;
        font-size: 15px;
        font-weight: normal;
    }
    h1, h2 {
        text-align: center;
    }

    &.gt451 {
        h1, h2 {
            text-align: left;
        }
    }
}
