
.kwfFieldErrorIconBubble { 
    position: absolute; 
    width: 16px; height: 16px;
    z-index: 1000;
    background: url("/assets/silkicons/exclamation.png") no-repeat scroll left center transparent;
}
.kwfFieldErrorIconBubble:hover {
    opacity: 1 !important;
}
.kwfFieldErrorIconBubble .message {
    position: absolute; 
    font-size: 12px;
    text-align: center;
    border-radius: 6px 6px 6px 6px;
    min-width: 100px;
    background-color: #eb301d;
    cursor: default;
    padding: 6px;
    margin-top: -4px;
    margin-left: 25px;
    color: white;
}
.kwfFieldErrorIconBubble .message:after {
    border-top: 8px solid transparent;
    border-right: 10px solid #eb301d;
    border-bottom: 8px solid transparent;
    content:"";
    display: block;
    right: 110px;
    position: absolute;
    width: 0;
    top: 4px;
    z-index:10;
}
.kwfField.kwfFormFieldRadio .kwfFieldErrorIconBubble {
    top: 0px !important;
}
