.cssClass {
    #background {
        background-size: cover !important;
        position: fixed;
        display: block;
        height: 100%;
        z-index: -1;
        width:100%;
        left: 0;
        top: 0;
    }
}