.vpcForumThreadModerate {
    margin-top: 20px;
}
.vpcForumThreadModerate fieldset {
    background: $hellorange;
    border: 1px solid $orange;
    padding: 10px;
}
.vpcForumThreadModerate fieldset legend {
    background: #fff;
    border: 1px solid $orange;
    padding: 5px;
}    