ul.vpcMenuDropdown li { float: left; }
ul.vpcMenuDropdown li a { display:block; width: auto; }

ul.vpcMenuDropdown div.dropdown {
    position: absolute;
    margin-left: -7px;
    display: none;
    z-index: 1000;
}
ul.vpcMenuDropdown li:hover div.dropdown,
ul.vpcMenuDropdown li.hover div.dropdown { display: block; }
ul.vpcMenuDropdown div.dropdown ul { margin-bottom: -1px; }
ul.vpcMenuDropdown div.dropdown ul li { float: none; margin: 0px; }
ul.vpcMenuDropdown div.dropdown ul li a { padding: 0px; float: none; }
