.$cssClass fieldset {
    border: none;
    margin-bottom: 20px;
}
.$cssClass fieldset legend {
    font-weight: bold;
}
.$cssClass label {
    width: 110px;
    float: left;
    text-align: right;
    margin-top: 4px;
}
.$cssClass input,
.$cssClass select {
    margin-left: 10px;
    margin-bottom: 5px;
    padding: 2px
}
.$cssClass .mandatoryInfo {
    margin-top: 15px;
    margin-bottom: 10px;
}