@import "susy";
@import "compass/utilities/general/clearfix";
@import "compass/css3/box-sizing";
@import "compass/css3/transition";


$total-columns: 10;
$column-width: 1100px / $total-columns;
$gutter-width: 0px;
$grid-padding: 0px;
$container-width: 980px;

$container-style: magic;

/* Sticky Header for desktop version */
html, body {
    height: 100%;
}
#outerBg {
    display: none;

    @include at-breakpoint(8 no-mediaqueries) {
        display: block;
    }
}
#mask {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 11;
    background: var(dark);
    visibility: hidden;
    opacity: 0;
    filter: alpha(opacity = 0);
    @include transition-property(visibility, opacity);
    @include transition-duration(0.3s, 0.3s);
    @include transition-timing-function(ease, linear);

}
#mask.visible {
    visibility: visible;
    opacity: 0.7;
    filter: alpha(opacity = 70);
    @include transition-property(opacity);
    @include transition-duration(0.3s);
    @include transition-timing-function(linear);
}

#outerHeader {
    position: relative;
}
body.sticky {
    @include at-breakpoint(10 no-mediaqueries) {
        #outerContent,
        #bottomStage,
        #outerFooter {
            position: relative;
            top: 138px;
        }

        #outerHeader {

            background: var(light);
            position: fixed;
            width: 100%;
            top: -63px;
            box-shadow: 0 1px 7px #595959;

            #header .logo {
                padding-top: 49px;
                position: relative;
                top: 44px;
            }
        }
    }
}

#page {
    height: auto;
    min-height: 100%;
    position: relative;
    width: 100%;

    
    #outerHeader {
        background: var(light);
        min-height: 120px;
        z-index: 50;
        @include at-breakpoint(8 no-mediaqueries) {
            margin-bottom: 35px;
        }

        #header {
            overflow: visible !important;
            position: relative;
            @include clearfix;
            @include container;

            .logo {
                display: inline;
                text-align: center;
                max-height: 100px;

                @include at-breakpoint(4 no-mediaqueries) {
                    height: auto;
                    margin: auto;
                    padding: 20px;
                    text-align: left;
                }
                @include at-breakpoint(6 no-mediaqueries) {
                    max-height: 50px;
                }
                @include at-breakpoint(8 no-mediaqueries) {
                    max-height: 50px;
                    float: left;
                }

                img {
                    @include at-breakpoint(4 no-mediaqueries) {
                        display: block;
                    }
                }
            }
            .rightBox {
                @include at-breakpoint(8 no-mediaqueries) {
                    float: right;
                    margin-top: 30px;
                }

                .searchBox {
                    height: 40px;
                    position: relative;
                    top: 2px;
                    border-bottom: none;
                    margin-bottom: -3px;

                    @include at-breakpoint(5 no-mediaqueries) {

                        input {
                            z-index: 1;
                        }
                    }
                    @include at-breakpoint(8 no-mediaqueries) {
                        height: 40px;
                        position: relative;
                        top: 2px;
                        margin-bottom: -3px;
                    }
                }
                .redMalleeMenuTop {
                    display: none;
                    @include at-breakpoint(5 no-mediaqueries) {
                        display: block;
                    }
                }
                .mainMenu {
                    position: relative;
                    top: 0px;
                    display: none;

                    @include at-breakpoint(5 no-mediaqueries) {
                        position: relative;
                        top: 3px;
                        display: block;
                    }
                    @include at-breakpoint(8 no-mediaqueries) {
                        position: relative;
                        top: 3px;
                        margin-right: 0px;
                        float: right;

                        ul li {
                            float: left;
                        }
                    }
                    ul li {
                        &:hover .dropdown {
                            display: none;
                            @include at-breakpoint(8 no-mediaqueries) {
                                display: block;
                            }   
                            
                            ul li {
                                float: none;
                            }
                        }
                    }
                }
                .verticalMenu {
                    display: block;

                    @include at-breakpoint(5 no-mediaqueries) {
                        display: none;
                    }
                }
            }

            .subMenuHorizontal {

                @include at-breakpoint(5 no-mediaqueries) {
                    top: 0px;
                    border-top: 1px solid #ccc;
                    border-bottom: 1px solid #ccc;
                    margin-top: 2px;
                    position: relative;
                }

                .webStandard.redMalleeMenuSubHorizontal {
                    display: none;

                    @include at-breakpoint(5 no-mediaqueries) {
                        display: block;
                        position: relative;
                        z-index: 15;

                        ul.menu {
                            line-height: 30px;
                            overflow-x: scroll;
                            white-space: nowrap;
                            margin-left: 0px;

                            li {
                                display: inline-block;
                                list-style: none;
                                color: white;
                                margin-right: -4px;

                                }

                                a {
                                    font-size: 14px;
                                    padding: 0px 17px;
                                }
                        }
                    }
                }
                @include at-breakpoint(8 no-mediaqueries) {
                    display: none;
                }
        }
            .subSubMenuHorizontal .webStandard.redMalleeMenuSubSubHorizontal {
                display: none;

                @include at-breakpoint(5 no-mediaqueries) {
                    display: block;
                    position: relative;
                    z-index: 15;

                    ul.menu {

                        li {
                            display: inline-block;
                        }
                    }
                }
                @include at-breakpoint(8 no-mediaqueries) {
                    display: none;
                }
            }
        }
    }

    #outerContent {

        @include container;
        background: #fff;
        padding-bottom: 250px;
        position: relative;

        #content {
            @include box-sizing(border-box);
            padding: 0 15px;

            .breadcrumbs {
                margin-left: 5px;
                @include at-breakpoint(8 no-mediaqueries) {
                    margin-left: 25%;
                }
            }
            #innerContent {
                @include pie-clearfix;
                margin: 0px 5px;

                @include at-breakpoint(6 no-mediaqueries) {
                    margin-top: 0px;
                }

                .leftColumn {
                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(0);
                        @include box-sizing(border-box);
                        padding-right: 50px;
                    }
                }

                .centerColumn {
                    margin-top: 20px;
                    @include at-breakpoint(6 no-mediaqueries) {
                        margin-top: 0px;
                    }
                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(8);
                        @include box-sizing(border-box);
                        padding-right: 20px
                    }
                }
            }
            #innerContent.hasSubMenu {
                .leftColumn {
                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(2);
                    }
                    .redMalleeMenuSub {
                        display: none;
                        @include at-breakpoint(8 no-mediaqueries) {
                            display: block;
                        }
                    }

                }

                .centerColumn {
                    @include at-breakpoint(8 no-mediaqueries) {
                        @include span-columns(6);
                    }
                }
            }
        }
    }
}

#outerFooter {

    min-height: 165px;
    margin-top: -165px;
    width: 100%;
    background: #e1dfe0;
    bottom: 0px;
    position: relative;
    z-index: 10;

    #footer {
        @include container;

        .bottomMenu {
            float: left;
            position: relative;
            z-index: 3;
            margin-left: 5px;
            @include at-breakpoint(8 no-mediaqueries) {
                margin-right: 50px;
                margin-left: 0;
                float: right;
            }
        }

        .leftArea {
            float: left;
        }
        padding: 10px;
    }
}

.kwcColumns > div.column {
    margin-right: 30px;
}