.webStandard { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 20px; color: var(typo); margin-bottom: 10px; }

.webStandard h1 { font-size: 26px; margin-bottom: 5px; color: var(highlightedText); font-family: 'Univers LT W01 45 Light'; font-weight: normal; } /* Überschrift 1 */
.webStandard h2.headlineH2 { margin-top: 0px; font-size: 20px; }
.webStandard h2 { font-size: 22px; margin-top: 15px; margin-bottom: 5px; color: var(mainColor); font-family: 'Univers LT W01 45 Light'; font-weight: normal; } /* Überschrift 2 */
.webStandard h3 { font-size: 20px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; } /* Überschrift 3 */
.webStandard h4 { font-size: 18px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; color: var(mainColor); } /* Überschrift 4 */
.webStandard h5 { font-size: 16px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; color: var(mainColor); } /* Überschrift 5 */

.webStandard a { text-decoration: none; color: var(mainColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(secColor); }

.webStandard ol { margin-bottom: 0px; margin-left: 0px; line-height: 18px; }
.webStandard ul { margin-bottom: 0px; margin-left: 0px; line-height: 18px; }
.webStandard li { margin-bottom: 5px; color: var(typo); }
.webStandard ol li { list-style-type: decimal; }
.webStandard ul li { list-style-type: square; }

.webStandard.kwcText a {
    color: var(mainColor);
    text-decoration: underline;
}
.webStandard.kwcText a:hover {
    color: var(secColor);
}
.webStandard .switchContent a {
    color: var(mainColor);
    text-decoration: underline;
}
.webStandard .switchContent a:hover {
    color: var(secColor);
}
.webStandard.kwcListLinks a {
    text-decoration: underline;
}
.webStandard.kwcCompositeSwitchDisplay a.switchLink {
    color: var(mainColor);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: normal;
    background: url("/assets/kwf/themes/RedMallee/images/readMoreBg.png") -4px 0 no-repeat;
}
.webStandard.kwcCompositeSwitchDisplay a.switchLink.switchLinkOpened {
    background: url("/assets/kwf/themes/RedMallee/images/readMoreBgDown.png") -4px 0 no-repeat;
}
.webStandard.kwcCompositeSwitchDisplay .content.switchContent {
    background: #f8f8f8;
}
body.frontend {
    .webForm.kwcForm {
        position: relative;
        label {
            font-size: 14px;
            line-height: 25px;
            text-align: left;
        }
        button {
            background: none repeat scroll 0 0 grey;
            border: none;
            border-right: 1px solid grey;
            box-shadow: none;
            color: #FFFFFF;
            font-size: 18px;
            padding: 5px 51px;
        }
        input,
        textarea {
            font-size: 14px;
            border: 1px solid #333;
            padding: 6px;
            margin-bottom: 10px;
        }
    }
    table {
        tr {
            td {
                line-height: 15px;
                border-bottom: 1px solid #E1DFE0;
                border-right: 1px solid #E1DFE0;
                white-space: nowrap;
                text-align: center;
                padding: 3px;
                font-size: 12px;
            }
        }
    }
}
