.webStandard { font-family: Arial, Helvetica, sans-serif; font-size: 14px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 20px; color: var(typo); margin-bottom: 10px; }

.webStandard h1 { font-size: 26px; margin-bottom: 5px; color: var(highlightedText); font-family: 'Univers LT W01 45 Light'; font-weight: normal; } /* Überschrift 1 */
.webStandard h2.headlineH2 { margin-top: 0px; font-size: 20px; }
.webStandard h2 { font-size: 22px; margin-top: 15px; margin-bottom: 5px; color: var(mainColor); font-family: 'Univers LT W01 45 Light'; font-weight: normal; } /* Überschrift 2 */
.webStandard h3 { font-size: 20px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; } /* Überschrift 3 */
.webStandard h4 { font-size: 18px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; color: var(mainColor); } /* Überschrift 4 */
.webStandard h5 { font-size: 16px; margin-top: 15px; margin-bottom: 5px; font-weight: normal; color: var(mainColor); } /* Überschrift 5 */

.webStandard a { text-decoration: none; color: var(mainColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(secColor); }

.webStandard ol { margin-bottom: 0px; margin-left: 0px; line-height: 18px; }
.webStandard ul { margin-bottom: 0px; margin-left: 0px; line-height: 18px; }
.webStandard li { margin-bottom: 5px; color: var(typo); }
.webStandard ol li { list-style-type: decimal; }
.webStandard ul li { list-style-type: square; }

.webStandard.kwcText a {
    color: var(mainColor);
    text-decoration: underline;
}
.webStandard.kwcText a:hover {
    color: var(secColor);
}
.webStandard .switchContent a {
    color: var(mainColor);
    text-decoration: underline;
}
.webStandard .switchContent a:hover {
    color: var(secColor);
}
    