.cssClass .listSwitchPreviewWrapper { position: relative; z-index: 10;} 
.cssClass .listSwitchItem { float: left; }
.cssClass .listSwitchLargeContent { position: relative; }
.cssClass .listSwitchLargeContent > div { position: absolute; top: 0px; }
