@import "config/default-loading-animation-big";

.kwc-class {
    listSwitchPreviewWrapper { position: relative; z-index: 10; }
    .listSwitchItem { float: left; }
    .listSwitchLargeContent {
        position: relative;

        > div { top: 0px; min-height: 400px; width: 100%; }

        .loading {
            @include default-loading-animation-big;
        }
    }
}