.cssClass .listSwitchPreviewWrapper { position: relative; z-index: 10;} 
.cssClass .listSwitchItem { float: left; }
.cssClass .listSwitchLargeContent { position: relative; }
.cssClass .listSwitchLargeContent > div { position: absolute; top: 0px; height: 100%; width: 100%; }
.cssClass .listSwitchLargeContent .loading {
    position: absolute; top: 0; width: 100%; height: 100%;
    background-image: url(/assets/kwf/Kwf_js/EyeCandy/Lightbox/loading.gif);
    background-repeat: no-repeat;
    background-position: center center;
}
