.defaultFulltextSearchSearchView .x-panel-body {
    background: none;
}
.defaultFulltextSearchSearchView .webForm button {
    margin: 5px 0 30px 0px;
}

.defaultFulltextSearchSearchView .loading {
    display: none !important;
}

.defaultFulltextSearchSearchView .ext-el-mask {
    background-color: transparent !important;
}