@import "compass/utilities/general/clearfix";

.kwc-class {
    position: relative;
    z-index: 25;

    .socialShareButtons {
        .social_share_privacy_area {
            @include pie-clearfix;

            .settings_info {
                width: 55px;
            }
        }
    }
}