.cssClass {
    .entry {
        padding: 10px 30px;
        border-radius: 5px;
        background-color: white;
        border-bottom: 2px solid #AAAAAA;

        margin-bottom: 20px;
        padding-bottom: 20px;
        h1.title {
            font-size: 26px;
            padding-top: 15px;
            margin-bottom: 0;
            a:visited {
                color: black;
            }
            a:hover {
                color: #1982d1;
            }
        }
        .postInfo,
        .categories {
            font-size: 12px;
            color: #666;
            a {
                color: #1982d1;
                font-weight: bold;
                &:hover { text-decoration: underline; }
            }
        }
        .content {
            margin-top: 20px;
        }
        .teaser { margin: 10px 0px; padding: 10px; background: var(lightGray); }
        .readMoreLink {
            text-align: right;
            a {
                color: #1982d1;
                &:hover { text-decoration: underline; }
            }

        }
    }
    .kwcPaging {
        float: right;
        a {
            border: none;
            float: left;
            height: 32px;
            background: #ddd;
            color: #555;
            text-align: center;
            font-size: 14px;
            line-height: 30px;
            display: block;
            padding: 0 12px;
            text-decoration: none;
            margin-right: 10px;
            &:hover, &.active {
                background-color: #444;
                color: #fff;
                padding: 0 12px;
                border: none;
            }
        }
    }
}
