@import "compass/utilities/general/clearfix";

.kwcClass {
    margin: auto;
    position: relative;
    
    .listWrapper {
        @include pie-clearfix;
        width: 80000px;
        position: relative;
        .listItem {
            float: left;
        }
    }
    .imageWrapper {
        @include pie-clearfix;
        position: relative;
        .listItem {
            display: block;
        }
    }
    a {
        &.listSwitchPrevious {
            width: 39px;
            background: url('~kwf/Kwc/Legacy/List/Carousel/images/arrowLeft.png') left center no-repeat;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
        }
        &.listSwitchNext {
            background: url('~kwf/Kwc/Legacy/List/Carousel/images/arrowRight.png') left center no-repeat;
            width: 39px;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
        }
    }
    
    &.fullwidth {
        .listWrapper {
            .listItem {
                margin-left: 20px;
            }
        }
        .imageWrapper {
            left: 0;
        }
    }
}