div.vpcForumPosts { padding-bottom: 15px; }
div.vpcForumPosts a.post {
    font-weight: bold; 
    background: url(/assets/vps/Vpc/Forum/antwortBtn.jpg) no-repeat top left;
    color:#786047;
    padding-left: 15px; padding-right: 15px;
    padding-top: 5px; padding-bottom: 5px;
    margin-top: -5px; margin-bottom: 15px; margin-right: 10px;
}
div.vpcForumPosts .post:hover { color: #ff9600; }
div.vpcForumPosts h2 {
    padding-left: 20px;
    margin: 0px; margin-bottom: 20px; 
    line-height: 25px;
    background: url(/assets/vps/Vpc/Forum/forumHeaderBg.jpg) repeat-x top left;
}

div.vpcForumPosts div.userdates {
    float: right; font-size: 11px;
    width: 200px;
    line-height: 16px;
    border: 1px solid #ccc;
    border-bottom: none;
}
div.vpcForumPosts div.userdates div.threads { border-bottom: none; }
div.vpcForumPosts div.userdates div.posts { border-top: 1px solid #ccc; }