.ext4-maincontroller-loading .icon {
    background-color: white;
    background-image: url(/assets/silkicons/tick.png);
    position: absolute;
    top: -20px; left: 0;
    height: 16px; width: 16px;
}
