body { background-image: url('foo.png'); }
body { background-image: url( 'foo.png' ); }
body { background-image: url('/assets/web/images/foo.png'); }
body { background-image: url( '/assets/web/images/foo.png' ); }
