@import "compass/css3/box-sizing";
@import "susy";

.cssClass {
    &.gt500 {
        ul {
            float: right;

            li {
                float: left;
            }
        }
    }
    &.gt700 {
        ul li {
            float: left;
        }
    }
    &.gt659 ul li.current {
        border: none;
        border-bottom: 1px solid #ccc;
        background: var(light);
        position: relative;
        z-index: 3;
        background: var(light);
        position: relative;
        z-index: 3;

        &.hasSubmenu {
            border: 1px solid #ccc;
            border-bottom: none;
        }
    }
    ul li {
        position: relative;
        z-index: 0;
        margin-bottom: 0px;

        a {
            padding: 10px 10px 11px;
            margin-bottom: 0px;
            position: relative;
            font-size: 16px;
            z-index: 2;
            position: relative;
            display: block;
            text-transform: uppercase;
            font-family: 'Univers LT W01 55 Roman';
            &:hover {
                color: var(secColor);

            }
        }
        &.current a {
            color: var(secColor);

        }
    }
    &.webStandard ul.menu {
        margin-bottom: 0px;
        margin-left: 0px;
    }

    ul li:hover .dropdown {
        display: none;
    }
    .dropdown {
        margin-top: -3px;
        display: none;
        
        ul {
            padding: 20px 50px 20px 20px;
            background: var(light);
    
            li {
            padding: 5px;
                float: none;
    
                a {
                    text-transform: uppercase;
                    color: var(typo);
                    font-size: 14px;
                    font-famiy: 'Univers LT W01 55 Roman';

                    &:hover {
                        color: var(secColor);
                    }
                }
            }
        }
    }
    

}
body.gt960 .cssClass ul li:hover .dropdown {
    display: none;
}
body.gt1100 .cssClass ul li:hover .dropdown {
    display: block;
}
