@import "susy";
@import "kwf/css3/border-radius";

$total-columns  : 4;
$column-width   : 1000px / 4;
$gutter-width   : 20px;
$grid-padding   : 0px;

.masterRoot #page {
    @include container;

    @include border-radius-pie(5px);
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 2px solid #AAAAAA;

    #header {
        padding-bottom: 20px;
        #searchBox {
        }
    }

    #outerContent {
        clear: both;
        #content {
            background-color: #eee;
            @include clearfix;
            #innerContent {
                @include box-sizing(border-box);
                padding: 20px;
            }
            #rightBox {
                @include box-sizing(border-box);
                padding: 10px 30px;
                border-radius: 5px;
                background-color: white;
                border-bottom: 2px solid #aaaaaa;
                padding-bottom: 20px;
                padding-right: 20px;
                margin-bottom: 20px;
                margin-top: 20px;

            }
        }
    }

    #footer {
        color: #666;
        .webStandard {
            font-size: 13px;
        }
        a {
            color: #555;
            font-weight: bold;
        }
        padding-top: 20px;
        padding-left: 30px;
        padding-right: 30px;
        clear: both;
        .bottomMenu {
            float: left;
        }
        .poweredBy {
            float: right;
        }
    }

    #title {
        padding-left: 30px;
        padding-right: 30px;
    }

    @include at-breakpoint(2) {
        #title {
            padding-right: 30px;
        }
        #searchBox {
            width: 200px;
            position: absolute;
            top: 25px; right: 50px;
        }
    }

    @include at-breakpoint(4) {
        @include set-container-width;
        #innerContent {
            @include span-columns(3);
        }
        #rightBox {
            @include span-columns(1 omega);
        }
    }

}
