@import "kwf/css3/border-radius";
@import "kwf/css3/box-shadow";
@import "compass/css3/box-sizing";

.webStandard { font-family: Verdana, Geneva, Arial, Helvetica, sans-serif; font-size: 15px; color: var(typo); }
.webStandard strong { font-weight: bold; }
.webStandard em { font-style: italic; }

.webStandard p { line-height: 18px; color: var(typo); margin-bottom: 10px; }

.webStandard h1 { font-size: 16px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 1 */
.webStandard h2 { font-size: 14px; margin-bottom: 10px; color: var(mainColor); } /* Überschrift 2 */
.webStandard h3 { font-size: 14px; margin-bottom: 5px; } /* Überschrift 3 */
.webStandard h4 { font-size: 12px; margin-bottom: 5px; color: var(mainColor); } /* Überschrift 4 */
.webStandard h5 { font-size: 11px; margin-bottom: 5px; color: var(mainColor); } /* Überschrift 5 */

.webStandard a { text-decoration: none; color: var(mainColor); outline: none; }
.webStandard a:hover { text-decoration: none; color: var(secColor); }

.webStandard ol { margin-bottom: 10px; margin-left: 30px; line-height: 18px; }
.webStandard ul { margin-bottom: 10px; margin-left: 20px; line-height: 18px; }
.webStandard li { margin-bottom: 5px; color: var(typo); }
.webStandard ol li { list-style-type: decimal; }
.webStandard ul li { list-style-type: disc; }


html {
    overflow-y: scroll;
}


body.frontend {
    background-color: #ccc;
}

.webForm.kwcForm {
    .submitWrapper .button {
        float: right;
    }
    button {
        background: #222;
        border: none;
        @include border-radius-pie(3px);
        @include box-shadow-pie(0px 1px 2px rgba(0,0,0,0.3));
        color: #eee;
        cursor: pointer;
        margin: 20px 0;
        padding: 5px 42px 5px 22px;
        line-height: 1.625;
        position: relative;
        left: 20px;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
        &:active {
            background: #1982d1;
            color: #bfddf3;
        }
    }
    .kwfField {
        position: relative;
        padding-top: 20px;
        .kwfFormFieldWrapper.hasLabel {
            margin-left: 0px;
            padding-left: 0px;
        }
        input, textarea {
            background: #fff;
            border: 4px solid #eee;
            @include border-radius-pie(5px);
            @include box-shadow-pie(inset 0 1px 3px rgba(204,204,204,0.95));
            padding: 10px;
            text-indent: 80px;
            font-size: inherit;
            color: #888;
            line-height: 1.625;
            @include box-sizing(border-box);
            &:focus {
                text-indent: 0;
                z-index: 1;
                color: #000;
            }
        }
        label {
            background: #eee;
            @include box-shadow-pie(1px 2px 2px rgba(204,204,204,0.8));
            color: #555;
            display: inline-block;
            font-size: 13px;
            left: 4px;
            width: auto;
            text-align: left;
            min-width: 60px;
            padding: 4px 10px;
            position: absolute;
            top: 24px;
            z-index: 1;
            .labelSeparator { display: none; }
        }
        &.kwfFieldError {
            input, textarea {
            }
        }
    }
}

