/* vpsTabsFx is set by javascript. So we can show all content elements if there is no javascript. */
.vpsTabsFx .vpsTabsContents { position: relative; }
.vpsTabsFx .vpsTabsContent { position: absolute; top: 0px; }
.vpsTabsContent {
    border: 1px solid #bbb;
    padding: 3px 10px;
    clear: both;
}
.vpsTabsLink {
    background-color: #ddd;
    float: left; cursor: pointer;
    padding: 3px 10px; border: 1px solid #bbb;
    border-bottom: none; margin-right: 10px;
}
.vpsTabsLinkActive { background-color: #fff; position: relative; bottom: -1px; z-index: 3; }
