/* für Ext.util.Format.booleanTickCross */
.vps-check-tick-cross-col-on {
    background-image:url(/assets/silkicons/tick.png);
}
.vps-check-tick-cross-col {
    background-image:url(/assets/silkicons/cross.png);
}

.vps-cell-icon div.x-grid3-cell-inner,
.vps-cell-button div.x-grid3-cell-inner {
    background-image: url(/assets/silkicons/page_edit.png);
    background-position: center; background-repeat: no-repeat;
}
.vps-cell-button div.x-grid3-cell-inner {
    cursor: pointer;
}