/* für Ext.util.Format.booleanTickCross */
.vps-check-tick-cross-col-on {
    background-image:url(/assets/silkicons/tick.png);
}
.vps-check-tick-cross-col {
    background-image:url(/assets/silkicons/cross.png);
}

.vps-cell-icon div.x-grid3-cell-inner,
.vps-cell-button div.x-grid3-cell-inner {
    background-image: url(/assets/silkicons/page_edit.png);
    background-position: center; background-repeat: no-repeat;
}
.vps-cell-button div.x-grid3-cell-inner {
    cursor: pointer;
}

/* style for export panel */
.vps-export-panel {
    font-size: 12px; color: #568;
}
.vps-export-panel strong { font-weight: bold; }
.vps-export-panel #exportStatusbarStep {
    margin-bottom: 15px;
}
.vps-export-panel #exportStatusbarOverall {
    margin-bottom: 30px;
}
.vps-export-panel .exportDownloadLinkWrapper {
    text-align: center;
}
.vps-export-panel #exportDownloadLink {
    display: none;
    background: url(/assets/silkicons/page_excel.png) 0px 0px no-repeat;
    padding-left: 21px; font-size: 16px; font-weight: bold;
    text-decoration: none; color: #417e2d;
}
.vps-export-panel h1 {
    font-size: 18px;
    margin-bottom: 25px; margin-top: 5px;
}
