@mixin error-simple {
    .kwfUp-kwfFieldErrorIconBubble {
        background: none transparent;
        position: relative;
        height: auto;
        width: auto;
        clear: left;

        .kwfUp-message {
            background: none transparent;
            display: block !important;
            opacity: 1 !important;
            filter: alpha(opacity = 100) !important;
            color: red;
            padding: 0;
            margin: 0;
            right: 0px !important;
            position: relative;
            text-align: left;
        }

        .kwfUp-arrow {
            display: none !important;
        }
    }
}
